.pr-65 {
  padding-right: 65px;
} 
.pl-65 {
  padding-left: 65px;
}

.apps {
  &-fz {
    &-insights {
      &-single {
        &-meta-item {
          position: relative;
          z-index: 1;
          display: inline-block;
          font-family: "Futura PT";
          font-weight: 300;
          margin-bottom: 10px;
          &:is(.insight-cat) {
              font-weight: 400;
              color: var(--clr-body-dark);
              &:hover {
                  color: var(--clr-theme-3);
              }
          }
          &:after {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            content: "";
            background-color: #DBDBDB;
            height: 12px;
            width: 1px;
          }
          &:last-child::after {
            display: none;
          }
          &:not(:last-child) {
            margin-right: 10px;
            padding-right: 15px;
          }

        }
        &-title {
          font-size: 24px;
          font-weight: 500;
          font-family: "Futura PT";
          line-height: 1.3;
          a {
              color: var(--clr-body-dark);
          }
          &:hover {
              a {
                  color: var(--clr-theme-3);
              }
          }
        }
      }
    }
  }
}
img {
  max-width: 100%;
}
.apps-fz-insights-single-img {
  display: block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 10px;
  img {
    transition: all 0.5s;
  }
  a {
    display: block;
  }
}
.apps-fz-insights-single-img:after {
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  transform: skewX(-25deg);
  z-index: 2;
}
.apps-fz-insights-single:hover {
  .apps-fz-insights-single-img {
    &:after {
      animation: shine 1.5s;
    }
    img {
      transform: scale(1.05);
    }
  }
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}


.apps-fz-blog5-title {
  font-size: 48px;
  font-weight: 500;
  font-family: 'Kanit', sans-serif;
  line-height: 1.2;
  @media #{$md} {
    font-size: 40px;
  }
  @media #{$xs} {
    font-size: 34px;
  }
  @media #{$sm} {
    font-size: 40px;
  }
  &-wrapp {
    p {
      font-size: 16px;
      font-family: 'Kanit', sans-serif;
    }
  }
}
.apps-fz-blog5-btn {
  height: 50px;
  line-height: 50px;
  background-color: var(--clr-common-black-deep);
  color: var(--clr-common-white);
  padding: 0 35px;
  border: 1px solid transparent;
  transition: all 0.3s;
  font-family: 'Kanit', sans-serif;
  @include hoverBtnTextAnimated;
  &:hover {
    border-color: var(--clr-common-black-deep);
    color: var(--clr-common-black-deep);
    background-color: transparent;
  }
}

.apps-fz-blog5-single-img {
  position: relative;
  z-index: 1;
}
.apps-fz-blog5-read-button {
  right: 0;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: var(--clr-common-white);
  padding: 0 20px;
  transition: all 0.3s;
  color: var(--clr-common-black-deep);
  font-family: 'Kanit', sans-serif;
  @include hoverBtnTextAnimated;
  position: absolute;
  &:hover {
    .apps-fz-blog5-read-btn {
      color: var(--clr-common-black-deep);
    }

  }
}
.pt-310 {
  padding-top: 310px;
}
.pb-310 {
  padding-bottom: 310px;
}
.apps-fz-blog5-meta {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Kanit', sans-serif;
  color: #616161;
  display: inline-block;
  margin-bottom: 10px;
}
.apps-fz-blog5-single-title {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.3;
  font-family: 'Kanit', sans-serif;
  @media #{$xl, $md} {
    font-size: 22px;
  }
  @media #{$xs} {
    font-size: 22px;
  }
  @media #{$sm} {
    font-size: 28px;
  }
  &:hover {
    a {
      color: var(--clr-common-black-deep);
    }
  }
}
.apps-fz-section-title-5 {
	font-size: 48px;
	font-family: 'Kanit', sans-serif;
	font-weight: 500;
	line-height: 1.2;
  @media #{$md} {
    font-size: 40px;
  }
  @media #{$xs} {
    font-size: 34px;
  }
  @media #{$sm} {
    font-size: 40px;
  }
}
.apps-fz-section-subtitle-5 {
	font-size: 16px;
	font-weight: 400;
	font-family: "Kanit", sans-serif;
	color: #616161;
}
.pb-55 {
  padding-bottom: 55px;
}
.pr-40 {
  padding-right: 40px;
}
.pl-40 {
  padding-left: 40px;
}
.pl-20 {
  padding-left: 20px;
}
.pbdb3 {
  border-bottom: 1px solid #DBDBDB;
  padding-bottom: 15px;
}
.bdrtsoft {
  border-top: 1px solid #DBDBDB;
}
.apps {
  &-fz {
    &-footer {
      &-widget-3 {
        &:is(.pl-40) {
          @media #{$lg, $md} {
            padding-left: 0;
          }
          @media #{$xs} {
            padding-left: 0;
          }
        }
        &:is(.pl-20) {
          @media #{$lg, $md} {
            padding-left: 0;
          }
          @media #{$xs} {
            padding-left: 0;
          }
        }
        &:is(.pr-40) {
          @media #{$lg} {
            padding-right: 70px;
          }
          @media #{$md} {
            padding-right: 40px;
          }
          @media #{$xs} {
            padding-right: 0;
          }
        }
        p {
          font-family: "Futura PT";
          font-weight: 300;
          color: #616161;
        }
        &-social {
          label {
            font-size: 16px;
            font-weight: 500;
            color: #616161;
            display: block;
            font-family: "Futura PT";
          }
          a {
            display: inline-block;
            margin-top: 10px;
            &:not(:last-child) {
              margin-right: 15px;
            }
            &:hover {
              color: var(--clr-theme-3);
            }
          }
        }
        &-title {
          font-size: 18px;
          font-weight: 500;
          font-family: "Futura PT";
          color: var(--clr-body-dark);
        }
        &-link-list {
          ul {
            list-style: none;
            li {
              &:not(:last-child) {
                margin-bottom: 10px;
              }
              a {
                font-family: "Futura PT";
                font-weight: 300;
                color: #616161;
                &:hover {
                  color: var(--clr-theme-3);
                }
              }
            }
          }
        }

        &-contact {
          &-item {
            display: flex;
            align-items: center;
            &:not(:last-child) {
              margin-bottom: 20px;
            }
          }
          &-text {
            a {
              font-size: 16px;
              font-weight: 400;
              font-family: "Futura PT";
              color: var(--clr-body-dark);
              &:hover {
                color: var(--clr-theme-3);
              }
            }
          }
          &-subtext {
            display: block;
            color: #616161;
            font-size: 14px;
            font-family: "Futura PT";
            font-weight: 300;
          }
          &-icon {
            margin-right: 15px;
            i {
              font-size: 34px;
              color: var(--clr-theme-3);
            }
          }
        }
      }
    }
  }
}

.apps-fz-footer-3 {
  &-copyright {
    a {
      color: var(--clr-body-dark);
      &:hover {
        color: var(--clr-theme-3);
      }
    }
    p {
      font-family: "Futura PT";
      font-weight: 300;
    }
  }
  &-creditcard {
    &:is(.mb-20) {
      @media #{$xs} {
        margin-bottom: 15px;
      }
    }
  }
}

.apps-fz-blog5-title-wrapp.mtmuptoxl-10 {
  @media #{$xs, $md, $lg}{
    margin-top: -14px;
  }
}

.apps {
  &-fz {
    &-footer5 {
      &-widget {
        font-family: 'Kanit', sans-serif;
        p {
          font-family: 'Kanit', sans-serif;
          color: #acacac;
        }
        &:is(.ml-90) {
          @media #{$xl} {
            margin-left: 40px;
          }
          @media #{$lg, $md, $xs} {
            margin-left: 0px;
          }
        }
        &:is(.ml-80) {
          @media #{$xl} {
            margin-left: 20px;
          }
          @media #{$lg, $md, $xs} {
            margin-left: 0px;
          }
        }
      }
      &-support {
        display: flex;
        gap: 20px;
        &-icon {
          font-size: 40px;
          color: var(--clr-common-white);
          line-height: 1;
        }
        &-subtext {
          display: block;
          color: #acacac;
        }
        &-text {
          a {
            color: var(--clr-common-white);
          }
        }
      }
    }
  }
}

.ml-90 {
  margin-left: 90px;
}
.ml-80 {
  margin-left: 80px;
}

.apps {
  &-fz {
    &-footer5 {
      &-title {
        font-size: 22px;
        color: var(--clr-common-white);
        font-family: 'Kanit', sans-serif;
        margin-bottom: 35px;
      }
      &-list {
        ul {
          li {
            list-style: none;
            a {
              color: #acacac;
              &:hover {
                color: var(--clr-common-white);
              }
            }
            &:not(:last-child) {
              margin-bottom: 15px;
            }
          }
        }
      }
      &-subscription {
        position: relative;
        z-index: 1;
        border-bottom: 1px solid #acacac;
        input {
          width: 100%;
          height: 50px;
          font-family: 'Kanit', sans-serif;
          &::placeholder {
            color: #acacac;
            font-size: 14px;
            font-family: 'Kanit', sans-serif;
          }
        }
        button[type="submit"] {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          font-size: 16px;
          color: var(--clr-common-white);
          font-family: 'Kanit', sans-serif;
        }
      }
      &-copyright-wrapper {
        color: #acacac;
        font-size: 16px;
        font-family: 'Kanit', sans-serif;
        padding-top: 25px;
        padding-bottom: 25px;
        a {
          color: var(--clr-common-white);
        }
      }
    }
  }
}

.apps-fz-gateway-title {
  font-size: 16px;
  font-family: 'Kanit', sans-serif;
  color: var(--clr-common-white);
  margin-bottom: 15px;
}
.border-top-footer5 {
  border-top: 1px solid #2d2d2d;
}
.apps-fz-insights-single .apps-fz-insights-single-meta-item:is(.insight-cat) {
  color: inherit;
  font-weight: 300;
  position: relative;
}
.apps-fz-insights-single .apps-fz-insights-single-meta a {
  margin-right: 10px;
  padding-right: 15px;
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
  &:hover span {
    color: var(--clr-theme-3);
  }
  & span {
    margin-bottom: 0;
    transition: all .3s;
  }
  &::after {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    background-color: #DBDBDB;
    height: 12px;
    width: 1px;
  }
}