.ml-50 {
  margin-left: 50px;
}
.pr-25 {
  padding-right: 25px;
}
.apps {
  &-fz {
    &-contact {
      &-message {
        &-title {
          font-size: 24px;
          font-weight: 600;
        }
        &-input {
          &-fields {
            input {
              width: 100%;
              height: 50px;
              line-height: 50px;
              border: 1px solid #E4E4E4;
              padding: 0 15px;
              border-radius: 3px;
              margin-bottom: 20px;
              display: inline-block;
            }
            textarea {
              border: 1px solid #E4E4E4;
              width: 100%;
              border-radius: 3px;
              padding: 15px;
              display: inline-block;
              height: 120px;
            }
          }
        }
      }
      &-info {
        &-title {
          font-size: 24px;
          font-weight: 600;
        }
        &-wrapper {
          padding: 35px 40px;
          @media #{$xs} {
            padding: 35px 25px;
          }
          @media #{$sm} {
            padding: 35px 40px;
          }
          &:is(.ml-50) {
            @media #{$xl} {
              margin-left: 20px;
            }
            @media #{$lg} {
              margin-left: 20px;
            }
            @media #{$xs, $md} {
              margin-left: 0;
            }
          }
        }
        &-single {
          display: flex;
          align-items: baseline;
          &:not(:last-child) {
            margin-bottom: 15px;
          }
          &-icon {
            color: var(--clr-theme-primary);
            margin-right: 20px;
            @media #{$xs} {
              margin-right: 15px;
            }
            @media #{$sm} {
              margin-right: 20px;
            }
            i {
              font-size: 20px;
              transform: translateY(3px);
              font-weight: 300;
            }
          }
          &-text {
            color: #777;
            a {
              display: block;
            }
            &-label {
              display: block;
            }
          }
        }
      }
      &-btn {
        height: 50px;
        line-height: 50px;
        font-size: 14px;
        font-weight: 500;
        background-color: var(--clr-theme-primary);
        border-radius: 3px;
        color: #fff;
        padding: 0 35px;
        @include hoverBtnTextAnimated;
      }
      &-social {
        &-wrapper {
          a {
            display: inline-block;
            color: #C4C4C4;
            &:not(:last-child) {
              margin-right: 15px;
              @media #{$xs} {
                margin-right: 10px;
              }
              @media #{$sm} {
                margin-right: 15px;
              }
            }
            &:hover {
              color: var(--clr-theme-primary);
            }
          }
        }
        &-label {
          display: inline-block;
          color: #282828;
          font-weight: 600;
          margin-right: 10px;
          font-size: 18px;
        }

      }
      &-map {
        height: 500px;
        @media #{$xs} {
          height: 350px;
        }
        @media #{$sm} {
          height: 400px;
        }
        iframe {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}


.apps {
  &-fz {
    &-accordion {
      &-header {
        margin-bottom: 30px;
        .accordion-button {
          background-color: #F5F5F5;
          padding: 20px 30px;
          padding-right: 50px;
          position: relative;
          z-index: 1;
          @media #{$xs} {
            padding: 20px 20px;
            padding-right: 40px;
            line-height: 1.3;
          }
          @media #{$sm} {
            padding: 20px 30px;
            padding-right: 50px;
          }
          &:before {
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
            content: "\2b";
            font-family: "Font Awesome 6 Pro";
            transition: all 0.3s;
            @media #{$xs} {
              right: 20px;
            }
            @media #{$sm} {
              right: 30px;
            }
          }
        }
        .accordion-button {
          &[aria-expanded="true"] {
            &:before {
              content: "\f068";
            }
          
          }
        }
      }
      &-item {
        .accordion-body {
          padding: 25px 30px;
          padding-bottom: 7px;
          @media #{$xs} {
            padding: 25px 20px;
            padding-bottom: 0;
          }
          @media #{$sm} {
            padding: 25px 30px;
            padding-bottom: 0;
          }
        }
        &:last-child {
          .accordion-body {
            padding-bottom: 0;
          }
        }
      }
    }
    &-faq-wrapper {
      &:is(.pr-25) {
        @media #{$lg} {
          padding-right: 10px;
        }
        @media #{$xs, $md} {
          padding-right: 0;
        }
      }
      &:is(.pl-25) {
        @media #{$lg} {
          padding-left: 10px;
        }
        @media #{$xs, $md} {
          padding-left: 0;
        }
      }
    }
  }
}
.apps-fz-faq-wrapper .apps-fz-accordion-item {
  margin-bottom: 20px;
}