.mt-25 {
    margin-top: 25px;
}
.mt-35 {
	margin-top: 35px;
}
.ml-35 {
    margin-left: 35px;
}
.ml-30 {
  margin-left: 30px;
}
.mt-65 {
    margin-top: 65px;
}
.h-505 {
  height: 505px;
  border-radius: 8px;
  @media #{$xs} {
    min-height: 350px;
  }
  @media #{$sm} {
    height: 505px;
  }
}
.h-515 {
    height: 515px;
    border-radius: 8px;
}
.apps-fz-about-page-author-sign-conent-author {
	margin-right: 20px;
}
.apps {
    &-fz {
        &-about {
            &-page {
                &-left {
                    &-images {
                        &-left {
                            &-content {
                                display: flex;
                                align-items: center;
                                &-member {
                                    &-active {
                                        display: block;
                                        font-size: 22px;
                                        color: var(--clr-common-black);
                                        font-weight: 400;
                                    }
                                    &-img {
                                        flex: 1;
                                        text-align: center;
                                        padding: 0 25px;
                                        padding-right: 90px;
                                        @media #{$xs} {
                                          padding:  0 25px;
                                        }
                                        @media #{$sm} {
                                          padding:  0 25px;
                                          padding-right: 90px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &-right {
                  &-content {
                    &:is(.ml-35) {
                      @media #{$lg, $xs, $md} {
                        margin-left: 0;
                      }
                    }
                  }
                }
            }
        }
    }
}



.apps {
  &-fz {
    &-about {
      &-page {
        &-left {
          &-images {
            &-right {
              &-wrapp {
                position: relative;
                z-index: 1;
                margin-left: -65px;
                @media #{$xs} {
                  margin-left: 0;
                }
                @media #{$sm} {
                  margin-left: -65px;
                }
                &:is(.mt-65) {
                  @media #{$xs} {
                    margin-top: 40px;
                  }
                  @media #{$sm} {
                    margin-top: 65px;
                  }
                }
              }
              &-abs {
                position: absolute;
                left: 0;
                bottom: 120px;
                margin-left: -80px;
                box-shadow: 0 13px 29px rgba(0,0,0,0.1);
                @media #{$xs} {
                  margin-left: 0;
                  min-width: 190px;
                }
                @media #{$sm} {
                  margin-left: -80px;
                }
                &-wrapp {
                  position: relative;
                  z-index: 1;
                  display: inline-block;
                  border-radius: 10px;
                  &:after {
                    position: absolute;
                    left: -5px;
                    width: 100%;
                    height: 70%;
                    content: "";
                    background-color: var(--clr-theme-primary);
                    z-index: -1;
                    transform: rotate(6deg);
                    border-radius: 10px;
                    bottom: -15px;
                  }
                }
                &-inner {
                  background-color: #fff;
                  border-radius: 10px;
                  padding: 10px 30px;
                }
                &-text {
                  font-size: 24px;
                  font-weight: 400;
                  display: block;
                }
                &-year {
                  position: relative;
                  z-index: 1;
                  font-size: 30px;
                  color: var(--clr-common-black);
                  font-weight: 600;
                  &:before {
                    position: absolute;
                    left: 100%;
                    top: 50%;
                    content: "";
                    background-color: #777;
                    width: 40px;
                    height: 1px;
                    z-index: -1;
                    display: inline-block;
                    margin-left: 10px;
                  }
                }
              }

            }
          }
        }
        &-right {
          &-title {
            font-size: 34px;
            font-weight: 600;
            @media #{$xs} {
              font-size: 28px;
            }
            @media #{$sm} {
              font-size: 32px;
            }
          }
          &-list {
            ul {
              list-style: none;
              li {
                margin-bottom: 11px;
                position: relative;
                z-index: 1;
                padding-left: 20px;
                &:before {
                  position: absolute;
                  left: 0;
                  top: 8px;
                  width: 9px;
                  height: 9px;
                  content: "";
                  border-radius: 50%;
                  border: 1px solid #777;
                }
              }
            }
          }
        }
        &-author {
          &-sign {
            border-top: 1px solid #E4E4E4;
            padding-top: 30px;
            display: flex;
            align-items: center;
            @media #{$xs} {
              flex-direction: column;
              align-items: start;
            }
            @media #{$sm} {
              flex-direction: row;
              align-items: center;
            }
            &-img {
              border-right: 1px solid #E4E4E4;
              padding-right: 50px;
              margin-right: 50px;
              @media #{$xs} {
                padding-right: 0;
                margin-right: 0;
                border-right: 0;
                border-bottom: 1px solid #E4E4E4;
                margin-bottom: 20px;
                padding-bottom: 20px;
              }
              @media #{$sm} {
                padding-right: 50px;
                margin-right: 50px;
                border-right: 1px solid #E4E4E4;
                border-bottom: 0;
                margin-bottom: 0;
                padding-bottom: 0;
              }
            }
            &-content {
              display: flex;
              align-items: center;
              &-text-name {
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 5px;
              }
            }
          }
        }
      }
    }
  }
}


  /* team */

  
.apps {
  &-fz {
    &-about {
      &-team {
        &-single {
          position: relative;
          z-index: 1;
          border-radius: 10px;
          overflow: hidden;
          &:before {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 50%;
            content: "";
            z-index: 0;
            background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(23, 23, 23, 0.88) 100%);
          }
          &-content {
            &-title {
              font-size: 18px;
              color: #fff;
              font-weight: 600;
              margin-bottom: 0px;
            }
            &-designation {
              font-size: 14px;
              color: #fff;
            }
            &-text {
              position: relative;
              z-index: 1;
              &:before {
                position: absolute;
                left: -15px;
                top: 50%;
                width: 1px;
                height: calc(100% - 10px);
                background-color: rgba(255,255,255,0.2);
                content: "";
                transform: translateY(-50%);
              }
            }
            &-wrapper {
              width: calc(100% - 140px);
              margin: 0 auto;
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              @media #{$xxl} {
                width: calc(100% - 101px);
              }
              @media #{$xl} {
                width: calc(100% - 65px);
              }
              @media #{$lg} {
                width: calc(100% - 100px);
              }
              @media #{$xs} {
                width: calc(100% - 100px);
              }
              @media #{$sm} {
                width: calc(100% - 50px);
              }
            }
            &-social {
              margin-bottom: -30px;
              transition: all 0.4s;
              a {
                font-size: 18px;
                color: #fff;
                background-color: rgba(255,255,255,0.1);
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border-radius: 3px;
                transform: translateY(35px);
                transition: all 0.4s;
                opacity: 0;
                visibility: hidden;
                &:nth-child(2) {
                  transition-delay: 0.1s;
                }
                &:nth-child(3) {
                    transition-delay: 0.2s;
                }
                &:nth-child(4) {
                  transition-delay: 0.3s;
                }
                &:not(:last-child) {
                  margin-right: 6px;
                }
                &:hover {
                  background-color: var(--clr-theme-primary);
                  color: var(--clr-common-white);
                }
              }
            }
          }
          &:hover {
            .apps-fz-about-team-single-content-social a {
              opacity: 1;
              visibility: visible;
              transform: translateY(0);
            }
            .apps-fz-about-team-single-content-social {
              margin-bottom: 30px;
            }
          }

        }
      }
    }
  }
}
.apps-fz-about-team-title {
	font-size: 34px;
	font-weight: 600;
  @media #{$xs} {
    font-size: 28px;
  }
  @media #{$sm} {
    font-size: 32px;
  }
}

.apps {
  &-fz {
    &-about {
      &-store {
        &-btn {
          display: inline-block;
          height: 50px;
          line-height: 50px;
          background-color: var(--clr-theme-primary);
          border-radius: 3px;
          padding: 0 35px;
          color: var(--clr-common-white);
          transition: all 0.4s;
          @include hoverBtnTextAnimated;
          &:hover {
            background-color: var(--clr-body-dark);
            color: var(--clr-common-white);
          }
        }
        &-content {
          &:is(.ml-30) {
            @media #{$xs, $md} {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}