.apps {
  &-product {
    &-offer {
      &-counting {
        &-content {
          &-title {
            font-size: 48px;
            font-family: "Futura PT";
            line-height: 1.2;
            margin-bottom: 50px;
            font-weight: 500;
            @media #{$md} {
              font-size: 36px;
              margin-bottom: 30px;
              line-height: 1.3;
            }
            @media #{$xs} {
              font-size: 28px;
              margin-bottom: 30px;
              line-height: 1.3;
            }
            @media #{$sm} {
              font-size: 40px;
              margin-bottom: 30px;
              line-height: 1.3;
            }
          }
          &-count {
            display: flex;
            gap: 30px;
            position: relative;
            z-index: 1;
            @media #{$md, $xs} {
              gap: 20px;
            }
            @media #{$sm} {
              gap: 30px;
            }
            .apps-fz-weekend-countdown {
              &-section {
                position: relative;
                z-index: 1;
                &:last-child {
                  .apps-fz-weekend-countdown-value {
                    &:after {
                        display: none;
                    }
                  }
                }
              }
              &-label {
                font-size: 16px;
                color: #fff;
                font-weight: 300;
                font-family: "Futura PT";
                display: inline-block;
                margin-top: 10px;
              }
              &-value {
                font-size: 48px;
                font-weight: 500;
                color: var(--clr-common-white);
                background-color: #2A2A2A;
                height: 80px;
                width: 80px;
                line-height: 80px;
                position: relative;
                z-index: 1;
                @media #{$md} {
                  font-size: 30px;
                  width: 55px;
                  height: 55px;
                  line-height: 55px;
                }
                @media #{$xs} {
                  width: 45px;
                  height: 45px;
                  line-height: 45px;
                  font-size: 26px;
                }
                @media #{$sm} {
                  font-size: 30px;
                  width: 80px;
                  height: 80px;
                  line-height: 80px;
                }
                &:after {
                  position: absolute;
                  right: -22px;
                  content: ":";
                  display: inline-block;
                  margin-top: -5px;
                  @media #{$md} {
                    right: -14px;
                    margin-top: -2px;
                  }
                  @media #{$xs} {
                    right: -14px;
                    margin-top: -2px;
                  }
                  @media #{$sm} {
                    right: -19px;
                    margin-top: -5px;
                  }
                }
              }
            }
          }
        }
        &-wrapper {
          border-radius: 8px;
        }
        &-img-inner {
          display: inline-block;
          position: relative;
          z-index: 1;
          @media #{$xs} {
            max-width: 250px;
          }
          @media #{$sm} {
            max-width: 100%;
          }
        }
        &-plustext {
          position: absolute;
          left: 110px;
          bottom: 145px;
          @media #{$md} {
            left: 40px;
            bottom: 95px;
          }
          @media #{$xs} {
            left: 30px;
            bottom: 80px;
          }
          @media #{$sm} {
            left: 110px;
            bottom: 145px;
          }
          &-another {
            position: absolute;
            right: 60px;
            top: 140px;
            @media #{$md} {
              right: 40px;
              top: 95px;
            }
            @media #{$xs} {
              right: 30px;
              top: 80px;
            }
            @media #{$sm} {
              right: 60px;
              top: 140px;
            }
            .apps-product-offer-counting-text {
                left: auto;
                right: 40px;
            }
            &:hover {
              .apps-product-offer-counting-text {
                opacity: 1;
                visibility: visible;
                transform: translateY(10px);
              }
            }
          }
          &:hover {
              .apps-product-offer-counting-text {
                  opacity: 1;
                  visibility: visible;
                  transform: translateY(10px);
              }
          }
        }
        &-plussign {
          i {
              font-size: 15px;
              width: 30px;
              height: 30px;
              background-color: #fff;
              line-height: 30px;
              border-radius: 50%;
              color: var(--clr-body-dark);
              font-weight: 400;
              cursor: pointer;
              transition: 0.3s;
          }
          &:hover {
              i {
                  transform: rotate(180deg);
                  background-color: var(--clr-body-dark);
                  color: var(--clr-common-white);
              }
          }
        }


      }
    }
  }
}

.apps-prouduct-offer-counting-title {
  font-size: 16px;
  font-family: "Futura PT";
  margin-bottom: 5px;
  a {
    color: var(--clr-body-dark);
  }
  &:hover {
    a {
      color: var(--clr-theme-3);
    }
  }
} 

.apps-prouduct-offer-counting-price {
  font-size: 18px;
  color: var(--clr-body-dark);
  font-family: "Futura PT";
}
.apps-product-offer-counting-text {
  display: inline-block;
  background-color: var(--clr-common-white);
  padding: 20px;
  border-radius: 8px;
  min-width: 150px;
  text-align: start;
  position: absolute;
  left: 40px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  transform: translateY(30px);
}