
.fz-header-container {
    max-width: 1800px;
}
.ml-65 {
    margin-left: 65px;
}
.ml-60 {
    margin-left: 60px;
}
.mt-40 {
    margin-top: 40px;
}
.pt-115 {
    padding-top: 115px;
}
.pb-115 {
    padding-bottom: 115px;
}
.mt-15 {
    margin-top: 15px;
}
.pr-35 {
    padding-right: 35px;
}
.pt-105 {
    padding-top: 105px;
}
.pt-35 {
    padding-top: 35px;
}
.mt-50 {
    margin-top: 50px;
}
.w_100 {
    img {
        width: 100%;
    }
}
.apps-fz-header-logo-3 img {
    max-width: 160px;
    @media #{$xs} {
        width: 130px;
    }
    @media #{$sm} {
        max-width: 160px;
    }
}
.apps {
    &-fz {
        &-header {
            &-top {
                &-select-lists-3 {
                    display: flex;
                    justify-content: end;
                    gap: 17px;
                    align-items: center;
                    @media #{$xs} {
                        justify-content: center;
                    }
                    .has_nice_select {
                        padding: 0;
                        height: 30px;
                        line-height: 30px;
                        padding-right: 16px;
                        background-color: transparent;
                        border: 0;
                        position: relative;
                        z-index: 1;
                        margin-right: 0;
                        padding-right: 35px;
                        color: var(--clr-body-dark);
                        font-family: "Futura PT";
                        font-weight: 300;
                        &:last-child {
                            margin-right: 0;
                            padding-right: 0;
                            &::before {
                                display: none;
                            }
                        }
                        &:after {
                            right: 20px;
                            border-right: 1px solid var(--clr-body-dark);
                            border-bottom: 1px solid var(--clr-body-dark);
                            width: 7px;
                            height: 7px;
                        }
                        &::before {
                            position: absolute;
                            right: 0;
                            top: 50%;
                            height: 13px;
                            width: 1px;
                            content: "";
                            background: #ddd;
                            transform: translateY(-50%);
                        }
                        &:is(.no-bdr) {
                            @media #{$xs} {
                                &::before {
                                    display: none;
                                }
                            }
                            @media #{$sm} {
                                &::before {
                                    display: block;
                                }
                            }
                        }
                        .option {
                            padding: 0 15px;
                            height: 30px;
                            min-height: 30px;
                            line-height: 30px;
                            font-size: 14px;
                            font-family: "Futura PT";
                            font-weight: 300;
                        }
    
                    }
                }
                &-middle-3-link-text {
                    a {
                        display: inline-block;
                        color: var(--clr-body-dark);
                        font-size: 14px;
                        font-family: "Futura PT";
                        font-weight: 300;
                        &:not(:last-child) {
                            margin-right: 15px;
                        }
                        &:hover {
                            color: var(--clr-theme-3);
                        }
                    }
                }
                &-text {
                    color: var(--clr-body-dark);
                    font-size: 14px;
                    font-family: "Futura PT";
                    font-weight: 300;
                    & span {
                        font-weight: 600;
                        color: var(--clr-theme-3);
                    }
                }

            }
            &-right-action-wrap-3 {
                
                .apps-fz-header-right-navbar {
                    display: inline-block;
                    position: relative;
                    z-index: 1;
                    padding-right: 24px;
                    cursor: pointer;
                    @media #{$xl} {
                        padding-right: 20px;
                    }
                    @media #{$xs} {
                        padding-right: 15px;
                    }
                    @media #{$sm} {
                        padding-right: 24px;
                    }
                    i {
                        font-weight: 300;
                        font-size: 20px;
                    }
                    &:hover {
                        color: var(--clr-theme-3);
                    }
                    &:after {
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        height: 14px;
                        background-color: #DBDBDB;
                        width: 1px;
                        content: "";
                    }

                }
                a {
                    display: inline-block;
                    margin-left: 20px;
                    color: var(--clr-body-dark);
                    transition: all 0.3s;
                    @media #{$xl} {
                        margin-left: 15px;
                    }
                    @media #{$xs} {
                        margin-left: 10px;
                    }
                    @media #{$sm} {
                        margin-left: 20px;
                    }
                    &:is(.icon) {
                        position: relative;
                        z-index: 1;
                    }
                    i {
                        font-weight: 300;
                        font-size: 20px;
                    }
                    .count {
                        background-color: var(--clr-theme-3);
                        color: var(--clr-common-white);
                        display: inline-block;
                        min-width: 15px;
                        height: 15px;
                        font-size: 11px;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 15px;
                        position: absolute;
                        right: -9px;
                        top: -6px;
                    }
                    &:hover {
                        color: var(--clr-theme-3);
                    }
                }
            }
        }

        &-slider {
            &-content {
                &-left-3 {
                    padding-left: 50px;
                    @media #{$xs} {
                        padding-left: 0;
                    }
                    @media #{$sm} {
                        padding-left: 50px;
                    }
                }
            }
            &-title-3 {
                font-size: 60px;
                line-height: 1.1;
                margin-bottom: 10px;
                font-family: "Futura PT";
                font-weight: 600;
                @media #{$xl} {
                    font-size: 50px;
                }
                @media #{$md} {
                    font-size: 46px;
                }
                @media #{$xs} {
                    font-size: 34px;
                    line-height: 1.2;
                }
                @media #{$sm} {
                    font-size: 36px;
                    line-height: 1.2;
                }
            }
            &-price-3 {
                font-size: 24px;
                color: #616161;
                font-family: "Futura PT";
                font-weight: 300;
                @media #{$xs} {
                    font-size: 18px;
                }
                @media #{$sm} {
                    font-size: 20px;
                }
            }
            &-item-3 {
                padding-left: 70px;
                padding-right: 50px;
                min-height: 551px;
                display: flex;
                border-radius: 8px;
                align-items: center;
                @media #{$xxxl} {
                    min-height: 551px;
                }
                @media #{$xxl, $xl} {
                    padding-left: 10px;
                    padding-right: 0px;
                }
                @media #{$lg} {
                    padding-left: 10px;
                    padding-right: 0px;
                }
                @media #{$md} {
                    min-height: 450px;
                    padding-left: 10px;
                    padding-right: 0px;
                }
                @media #{$xs} {
                    padding-left: 20px;
                    padding-right: 20px;
                    min-height: 550px;
                    padding-top: 85px;
                    padding-bottom: 80px;
                }
                @media #{$sm} {
                    padding-left: 0;
                    padding-right: 0;
                    min-height: 450px;
                }
            }
        }


        &-theme-btn-3 {
            height: 50px;
            line-height: 50px;
            background: var(--clr-body-dark);
            color: var(--clr-common-white);
            border-radius: 3px;
            font-size: 14px;
            font-weight: 500;
            padding: 0 38px;
            font-family: "Futura PT";
            &.fz-size-18 {
                font-size: 18px;
            }
            &:is(.apps-fz-theme-btn-transparrent) {
                background-color: transparent;
                border: 1px solid var(--clr-body-dark);
                color: var(--clr-body-dark);
            }
            &:hover {
                background-color: var(--clr-theme-3);
                border-color: transparent;
            }
            @include hoverBtnTextAnimated;

        }
    }
}
.apps-header-nav-list-3 ul li {
    @media #{$xl} {
        margin-right: 30px;
    }
    a {
        font-family: "Futura PT";
        font-weight: 300;
        color: var(--clr-body-dark);
        font-size: 18px;
    }
    &:hover {
        & > a {
            color: var(--clr-theme-3);
        }
    }
    & ul li {
        &:hover > a {
            letter-spacing: 0.5px;
        }
    }
}
.apps-fz-header-logo-category-wrapper {
    form {
        flex: 1;
    }
    .apps-fz-header-search-select-2.nice-select {
        background-color: #f8f8f8;
        font-family: "Futura PT";
        font-weight: 300;
        &::before {
            color: var(--clr-body-dark);
        }
        span.current {
            color: var(--clr-body-dark);
        }
    }
    .apps-fz-header-search-input {
        input {
            border-color: #EAEAEA;
            &::placeholder {
                font-family: "Futura PT";
            }
        }
    }
}
.apps-fz-header-right-menu-wrapper {
    .apps-header-nav-list-2 ul li:last-child {
        margin-right: 0;
    }
}
.apps-fz-theme-btn-2 {
    &:is(.theme-clr-3) {
        background-color: var(--clr-body-dark);
        font-family: "Futura PT";
        font-weight: 500;
        &:hover {
            background-color: var(--clr-theme-3);
        }
    }
}

.apps {
    &-fz {
        &-product-discount-percent-box-3 {
            font-size: 16px;
            font-family: "Futura PT";
            font-weight: 500;
            color: var(--clr-body-dark);
        }
        &-hero {
            &-product-title-3 {
                font-size: 34px;
                font-family: "Futura PT";
                font-weight: 500;
                a {
                    color: var(--clr-body-dark);
                }
                &:hover {
                    a {
                        color: var(--clr-theme-3);
                    }
                }
            }
            &-product-title-3 {
                font-size: 34px;
                font-family: "Futura PT";
                font-weight: 500;
                @media #{$xl, $md} {
                    font-size: 28px;
                }
                @media #{$xs} {
                    font-size: 28px;
                }
                @media #{$sm} {
                    font-size: 30px;
                }
            }
            &-product-box-3 {
                @media #{$xs} {
                    padding-top: 50px;
                    padding-bottom: 45px;
                }
                @media #{$sm} {
                    padding-top: 0px;
                    padding-bottom: 0px;
                }
                .content {
                    padding: 40px 60px;
                    padding-right: 0px;
                    min-height: 260px;
                    display: flex;
                    align-items: center;
                    @media #{$xxxl} {
                        padding-top: 61px;
                        padding-bottom: 61px;
                        min-height: 259px;
                    }
                    @media #{$xxl} {
                        padding-left: 40px;
                    }
                    @media #{$xl} {
                        padding-left: 30px;
                    }
                    @media #{$md} {
                        padding-left: 30px;
                        min-height: 220px;
                    }
                    @media #{$xs} {
                        padding: 0;
                        min-height: auto;
                        justify-content: center;
                    }
                    @media #{$sm} {
                        padding-left: 50px;
                        min-height: 220px;
                        justify-content: start;
                    }
                    .apps-fz-hero-product-img-3 img {
                        transition: all 0.3s;
                    }
                }
                &:hover {
                    .apps-fz-hero-product-img-3 img {
                        transform: scale(1.1);
                    }
                }
            }
        }
        &-section {
            &-title-3 {
                font-size: 34px;
                font-family: "Futura PT";
                font-weight: 500;
                color: var(--clr-body-dark);
                line-height: 1.29;
                @media #{$xs} {
                    font-size: 32px;
                }
            }
            &-subtitle {
                font-size: 16px;
                line-height: 26px;
                font-family: "Futura PT";
                font-weight: 300;
                color: #616161;
            }
        }
        &-catagories-3-title {
            font-family: "Futura PT";
            font-size: 16px;
            font-weight: 300;
            a {
                color: var(--clr-body-dark);
            }
            &:hover {
                a {
                    color: var(--clr-theme-3);
                }
            }
        }
    }
}
.apps-fz-hero-product-img-3 img {
	max-height: 180px;
    @media #{$xs} {
        max-height: unset;
    }
}
.apps-fz-hero-product-img-3.pr-35 {
    @media #{$xxl} {
        padding-right: 15px;
    }
    @media #{$xl} {
        padding-right: 10px;
    }
    @media #{$md} {
        padding-right: 10px;
    }
    @media #{$xs} {
        padding-right: 0px;
    }
    @media #{$sm} {
        padding-right: 20px;
    }
}
.apps-rv-cat-box-img.fz-dimension216 {
    width: 216px;
    height: 216px;
    background: #f8f8f8;
    @media #{$xxl} {
        width: 180px;
        height: 180px;
    }
    @media #{$xl} {
        width: 158px;
        height: 158px;
    }
    @media #{$lg, $md} {
        width: 210px;
        height: 210px;
    }
}
@media only screen and (min-width: 430px) and (max-width: 575px) {
    .apps-rv-cat-box-img.fz-dimension216 {
        width: 175px;
        height: 175px;
    }
}
.apps-fz-best-selling-product-3-content {
    @media #{$xs} {
        text-align: center;
    }
    @media #{$sm} {
        text-align: start;
    }
}
.apps-fz-header-search-wrap-2.ml-65 {
	@media #{$xl} {
        margin-left: 30px;
    }
}
.apps-fz-header-right-action-wrap-3.ml-60{
    @media #{$xl} {
        margin-left: 35px;
    }
    @media #{$md} {
        margin-left: 0px;
    }
    @media #{$xs} {
        margin-left: 0px;
    }
}
.apps-fz-header-logo-category-wrapper.pr-20 {
    @media #{$xl} {
        padding-right: 0;
    }
}
.apps {
    &-fz {
        &-best {
            &-selling {
                &-product-3 {
                    &-title {
                        font-size: 18px;
                        color: #616161;
                        font-family: "Futura PT";
                        font-weight: 400;
                        margin-bottom: 5px;
                        &:hover {
                            a {
                                color: var(--clr-body-dark);
                            }
                        }
                    }
                    &-img {
                        text-align: center;
                        position: relative;
                        z-index: 1;
                        background-color: #f8f8f8;
                        img {
                          transition: all 0.6s;
                        }
                        & a {
                            border-radius: 8px;
                        }
                        &:hover {
                          img {
                              transform: scale(1.05);
                          }
                          .apps-fz-best-selling-product-3-addtocart-action a {
                            opacity: 1;
                            visibility: visible;
                            transform: translateY(0);
                            transition: all 0.3s;
                            &:is(.add_to_cart_button.added) {
                                display: none;
                            }
                          }
                          .apps-fz-best-selling-product-3-addtocart-action button {
                            opacity: 1;
                            visibility: visible;
                            transform: translateY(0);
                          }
                        }
                    }
                    &-discount {
                        &-amount {
                            display: inline-block;
                            font-size: 12px;
                            color: #fff;
                            background-color: var(--clr-body-dark);
                            min-width: 39px;
                            height: 39px;
                            line-height: 39px;
                            border-radius: 50%;
                            font-family: "Futura PT";
                            font-weight: 600;
                        }
                        &-box.has-pos {
                            position: absolute;
                            left: 0;
                            top: 0;
                            margin-left: 25px;
                            margin-top: 25px;
                        }
                    }
                    
                    &-img:hover {
                        .best-selling-product-3-action {
                            opacity: 1;
                            visibility: visible;
                            a {
                                opacity: 1;
                                visibility: visible;
                                transform: translateX(0);
                            }
                            button {
                                opacity: 1;
                                visibility: visible;
                                transform: translateX(0);
                            }
                        }
                    }
                    &-addtocart-action {
                        position: absolute;
                        bottom: 30px;
                        left: 0;
                        right: 0;
                        @media #{$sm} {
                            bottom: 10px;
                        }
                        a {
                            display: inline-block;
                            height: 40px;
                            line-height: 40px;
                            background-color: var(--clr-body-dark);
                            color: var(--clr-common-white);
                            font-size: 16px;
                            font-weight: 500;
                            font-family: "Futura PT";
                            padding: 0 50px;
                            border-radius: 4px;
                            transform: translateY(30px);
                            transition: all 0.3s;
                            opacity: 0;
                            visibility: hidden;
                            @include hoverBtnTextAnimated;
                            &:hover {
                                background-color: var(--clr-theme-3);
                                color: var(--clr-common-white);
                            }
                        }
                    }
                }
            }
        }
    }
}


.best {
    &-selling {
        &-product-3 {
            &-action {
                display: flex;
                flex-direction: column;
                grid-gap: 10px;
                position: absolute;
                right: 25px;
                top: 25px;
                transition: all 0.5s;
                & > a {
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    display: block;
                    border-radius: 50%;
                    font-weight: 400;
                    color: var(--clr-body-dark);
                    overflow: hidden;
                    position: relative;
                    background-color: var(--clr-common-white);
                    opacity: 0;
                    visibility: hidden;
                    transform: translateX(25px);
                    transition: all 0.3s;
                    &:nth-child(2) {
                        transition-delay: 0.1s;
                    }
                    &:nth-child(3) {
                        transition-delay: 0.3s;
                    }
                    i {
                        transition: all 0.3s;
                        &:nth-child(2) {
                            position: absolute;
                            left: 50%;
                            top: 130%;
                            transform: translate(-50%, -50%);
                        }
                    }

                    &:hover {
                        background-color: var(--clr-theme-3);
                        color: var(--clr-common-white);
                        i {
                            &:nth-child(1) {
                                transform: translateY(-27px);
                            }
                            &:nth-child(2) {
                                top: 50%;
                            }
                        }
                    }
                }
                & button {
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    display: block;
                    border-radius: 50%;
                    font-weight: 400;
                    color: var(--clr-body-dark);
                    overflow: hidden;
                    position: relative;
                    background-color: var(--clr-common-white);
                    opacity: 0;
                    visibility: hidden;
                    transform: translateX(25px);
                    transition: all 0.3s;
                    font-size: 0;
                    &:is(.woosw-added) {
                        background-color: var(--clr-theme-3);
                        color: var(--clr-common-white);
                        &:before {
                            margin-right: 0;
                        }
                    }
                    &:is(.woosc-added) {
                        background-color: var(--clr-theme-3);
                        color: var(--clr-common-white);
                        i {
                            display: none;
                        }
                        &:before {
                            margin-right: 0;
                            color: #fff;
                            font-size: 16px;
                        }
                    }
                    &:nth-child(2) {
                        transition-delay: 0.1s;
                    }
                    &:nth-child(3) {
                        transition-delay: 0.3s;
                    }
                    i {
                        transition: all 0.3s;
                        font-size: 16px;
                        height: 40px;
                        line-height: 40px;
                        &:nth-child(2) {
                            position: absolute;
                            left: 50%;
                            top: 130%;
                            transform: translate(-50%, -50%);
                        }
                    }

                    &:hover {
                        background-color: var(--clr-theme-3);
                        color: var(--clr-common-white);
                        i {
                            &:nth-child(1) {
                                transform: translateY(-27px);
                            }
                            &:nth-child(2) {
                                top: 50%;  
                            }
                        }
                    }
                }
            }

        }
    }
}

.price-wrap-3 {
    .current {
        font-size: 16px;
        font-weight: 500;
        color: var(--clr-body-dark);
        font-family: "Futura PT";
    }
    del.old {
        font-weight: 100;
        font-size: 14px;
        font-family: "Futura PT";
    }
}

.apps-fz-header-nav-5-main {
    border-bottom: 0;
    .apps-fz-header-right-action-4 button {
        color: #fff;
        &:hover {
            color: var(--clr-theme-5);
        }
    }
}


.apps-fz-header-right-action-5 > button:not(:first-child) {
    padding-left: 20px;
    @media #{$xs} {
        padding-left: 10px; 
    }
    @media #{$sm} {
        padding-left: 20px; 
    }
  }
  .apps-fz-header-right-action-5 button {
    font-weight: 400;
    color: var(--clr-common-white);
    &:hover {
        color: var(--clr-theme-5);
    }
  }
  .apps-fz-header-cart-btn-5 {
    position: relative;
    z-index: 1;
  }
  .apps-fz-header-cart-btn-5 .count {
    position: absolute;
    top: -8px;
    right: -11px;
    min-width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    color: #000;
    line-height: 17px;
    font-size: 11px;
  }
  .apps-fz-header-right-action-5 .has-left-bar-5 {
    display: inline-block;
    margin-left: 25px;
    position: relative;
    z-index: 1;
    @media #{$xs} {
        margin-left: 15px;  
    }
    @media #{$sm} {
        margin-left: 25px;  
    }
  }
  .apps-fz-header-right-action-5 .has-left-bar-5:before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    background-color: #C2C2C2;
    height: 14px;
    width: 1px;
  }

  
.apps-fz-slider-5-title  {
    font-size: 140px;
    line-height: 1;
    font-family: $kanit;
    font-weight: 500;
    color: var(--clr-common-white);
    margin-top: -20px;
    @media #{$xxl} {
        font-size: 120px;
    }
    @media #{$xl} {
        font-size: 110px;
    }
    @media #{$lg} {
        font-size: 110px;
        text-align: center;
    }
    @media #{$md} {
        font-size: 90px;
        text-align: center;
    }
    @media #{$xs} {
        font-size: 70px;
        text-align: center;
    }
    @media #{$sm} {
        font-size: 70px;
        text-align: center;
    }
    .premium-badge {
        font-size: 36px;
        display: inline-block;
        border: 1px solid #ececec;
        padding: 10px 25px;
        border-radius: 10px;
        vertical-align: middle;
        margin-left: 65px;
        @media #{$xs} {
            font-size: 20px;
            margin-left: 0;
        }
        @media #{$sm} {
            font-size: 26px;
            margin-left: 25px;
        }
    }
    .fz-slide-title-last1 {
        padding-left: 200px;
        @media #{$xxl} {
            padding-left: 160px;
        }
        @media #{$xl} {
            padding-left: 70px;
        }
        @media #{$md, $lg} {
            padding-left: 120px;
        }
        @media #{$xs} {
            padding-left: 0px;
        }
    }
}
.apps-slide5-text {
    font-size: 18px;
    line-height: 28px;
    color: var(--clr-common-white);
    max-width: 420px;
    @media #{$xs} {
        font-size: 16px;
        margin: 0 auto;
    }
    @media #{$sm} {
        font-size: 18px;
    }
}
.pl-365 {
    padding-left: 365px;
}
.apps-fz-slide5-text-wrap {
    &:is(.pl-365) {
        @media #{$xl} {
            padding-left: 200px;
        }
        @media #{$lg} {
            padding-left: 305px;
        }
        @media #{$md} {
            padding-left: 220px;
        }
        @media #{$xs} {
            padding-left: 0px;
        }
    }
}
.mtm-25 {
    margin-top: -25px;
}
.fz_btn_wrapper.apps-fz-slider-5-btn.mtm-25 {
    @media #{$lg} {
        margin-left: 305px;
        margin-top: 30px;
    }
    @media #{$md} {
        margin-left: 220px;
        margin-top: 30px;
    }
    @media #{$xs} {
        margin-left: 0px;
        margin-top: 30px;
    }
}
.fz_btn_wrapper.apps-fz-slider-5-btn .apps-fz-slider-round-link-4 {
    border-color: rgba(255,255,255, 0.1);
    color: #acacac;
    background: transparent;
    &:is(.fz-btn-hover) {
        span {
            background: var(--clr-common-white);
        }
    }
    &:hover {
        color: var(--clr-body-dark);
        border-color: var(--clr-common-white);
    }
}
.h-870 {
    min-height: 870px;
    display: flex;
    align-items: center;
}
.apps-fz-slider-5-area {
    position: relative;
    z-index: 1;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}
  
.fz-line-wrapp {
    top: 0px;
    left: 50%;
    bottom: 0px;
    width: 40%;
    z-index: -1;
    display: block;
    position: absolute;
    transform: translateX(-50%);
    border-left: 1px solid rgba(255,255,255, 0.05);
    &:before {
        width: 1px;
        left: -1px;
        content: "";
        height: 100px;
        position: absolute;
        animation: scroll1 15s ease-out infinite;
        background-image: linear-gradient(0deg, #ffffff, transparent);
    }
    .fz-line-item { 
        top: 0px;
        left: 50%;
        bottom: 0px;
        width: 100%;
        z-index: -1;
        display: block;
        position: absolute;
        transform: translateX(-50%);
        border-right: 1px solid rgba(255,255,255, 0.1);
        &:before {
            width: 1px;
            right: -1px;
            content: "";
            height: 100px;
            position: absolute;
            animation: scroll2 15s ease-out infinite;
            background-image: linear-gradient(0deg, transparent,#ffffff,);
        }
    }
  }
  @keyframes scroll1 {
    0% {
      top: 0px;
      opacity: 1;
    }
    50% {
      top: 50%;
    }
    100% {
      top: 100%;
      opacity: 0.5;
    }
  }
  @keyframes scroll2 {
    0% {
      opacity: 1;
      bottom: 0px;
    }
    50% {
      bottom: 50%;
    }
    100% {
      bottom: 100%;
      opacity: 0.5;
    }
  }

  .apps-fz-slider5-pagination {
    position: absolute;
    bottom: 55px;
    text-align: center;
    z-index: 1;
    left: 0;
    right: 0;
    span {
        &:nth-child(2) {
            height: 25px;
          }
    }
    .swiper-pagination-bullet {
        width: 2px;
        height: 20px;
        margin: 0 10px;
        border-radius: 0;
        background-color: #616161;
    }
    .swiper-pagination-bullet-active {
        height: 30px;
        background-color: var(--clr-common-white);
    } 
  }  
.bg-rightcenter {
    background-position: center right;

}
.apps-fz-slider-5-wrapper {
    position: relative;
    z-index: 1;
    @media #{$xs, $md, $lg} {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}
  .apps-fz-slider-5-star {
    position: absolute;
    right: 0;
    left: 0;
    top: 100px;
    text-align: center;
    z-index: -1;
    @media #{$xs, $md, $lg} {
        top: 50px;
    }
  }
  .apps-fz-slider-5-content-wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
  }

  .apps-fz-slider-5-watch-img {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: auto;
    text-align: end;
    max-width: 350px;
    @media #{$xs, $md, $lg} {
        position: static;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 50px;
    }
    img {
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
        max-height: 100%;
        max-width: 100%;
    }
  }
    .apps-fz-slider-5-title {
        opacity: 0;
    }
    .apps-slide5-text {
        opacity: 0;
    }
    .apps-fz-slider-5-btn {
        opacity: 0;
    }
  .swiper-slide-active {
    .apps-fz-slider-5-title {
                opacity: 1;
        -webkit-animation: wcfadeUp 1s forwards;
                animation: wcfadeUp 1s forwards;
    }
    .apps-slide5-text {
        -webkit-animation: wcfadeUp 1s forwards;
                animation: wcfadeUp 1s forwards;
                opacity: 1;
    }
    .apps-fz-slider-5-btn {
        -webkit-animation: wcfadeUp 1s forwards;
        animation: wcfadeUp 1s forwards;
        opacity: 1;

    }
    .apps-fz-slider-5-watch-img {
        img {
            opacity: 1;
            visibility: visible;
            -webkit-animation: wcfadeUp 1.7s forwards;
            animation: wcfadeUp 1.7s forwards;
        }
    }
  }
  
  @-webkit-keyframes wcfadeUp {
    0% {
      opacity: 0;
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes wcfadeUp {
    0% {
      opacity: 0;
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
.apps-fz-slider-5-makrosha-jal {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    height: 100%;
    animation: wcRotate 18s infinite linear;
    z-index: -1;
  }

  @-webkit-keyframes wcRotate {
    0% {
      -webkit-transform: rotate(0deg) scale(1);
              transform: rotate(0deg) scale(1);
    }
    50% {
      -webkit-transform: rotate(25deg) scale(1);
              transform: rotate(25deg) scale(1);
    }
    100% {
      -webkit-transform: rotate(0deg) scale(1);
              transform: rotate(0deg) scale(1);
    }
  }
  @keyframes wcRotate {
    0% {
      -webkit-transform: rotate(0deg) scale(1);
              transform: rotate(0deg) scale(1);
    }
    50% {
      -webkit-transform: rotate(25deg) scale(1);
              transform: rotate(25deg) scale(1);
    }
    100% {
      -webkit-transform: rotate(0deg) scale(1);
              transform: rotate(0deg) scale(1);
    }
  }

  .slider__mouse-scroll {
	position: absolute;
	top: 50%;
	left: -110px;
	-webkit-transform: rotate(-90deg) translateX(-30px);
	-moz-transform: rotate(-90deg) translateX(-30px);
	-ms-transform: rotate(-90deg) translateX(-30px);
	-o-transform: rotate(-90deg) translateX(-30px);
	transform: rotate(-90deg) translateX(-30px);
	z-index: 9;
    gap: 50px;
    @media #{$xxl} {
        left: -140px;
    }
    @media #{$xl} {
        left: -140px;
    }
    @media #{$md} {
        left: -130px;
    }
    @media #{$xs} {
        left: 15px;
        top: 88.5%;
    }
    @media #{$sm} {
        left: -122px;
        top: 250px;
    }
}
  .slider__mouse-social a {
    font-size: 14px;
    color: var(--clr-common-white);
    padding: 0 15px;
  }
  .mouse-scroll-icon {
	display: inline-block;
	width: 16px;
	height: 40px;
	border: 2px solid rgba(3, 4, 28, 0.2);
	border-radius: 30px;
	outline: none;
	position: relative;
    &:hover {
        border-color: var(--clr-common-white);
    }
}
.mouse-scroll-icon-4 {
	-webkit-transform: rotate(90deg) translate(1px, 23px) !important;
	-moz-transform: rotate(90deg) translate(1px, 23px) !important;
	-ms-transform: rotate(90deg) translate(1px, 23px) !important;
	-o-transform: rotate(90deg) translate(1px, 23px) !important;
	transform: rotate(90deg) translate(1px, 23px) !important;
	border-color: rgba(255, 255, 255, 0.2);
}
.mouse-scroll-icon-4::before {
	position: absolute;
	content: "";
	top: 8px;
	left: 4px;
	width: 4px;
	height: 4px;
	background: #fff;
	border-radius: 50%;
	animation: scroll 1s infinite ease-in-out alternate;
	-webkit-animation: scroll 1s infinite ease-in-out alternate;
}
@-webkit-keyframes scroll {
    0% {
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
      transform: translateY(0px);
    }
    100% {
      -webkit-transform: translateY(16px);
      -moz-transform: translateY(16px);
      -ms-transform: translateY(16px);
      -o-transform: translateY(16px);
      transform: translateY(16px);
    }
  }
  @-moz-keyframes scroll {
    0% {
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
      transform: translateY(0px);
    }
    100% {
      -webkit-transform: translateY(16px);
      -moz-transform: translateY(16px);
      -ms-transform: translateY(16px);
      -o-transform: translateY(16px);
      transform: translateY(16px);
    }
  }
  @-ms-keyframes scroll {
    0% {
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
      transform: translateY(0px);
    }
    100% {
      -webkit-transform: translateY(16px);
      -moz-transform: translateY(16px);
      -ms-transform: translateY(16px);
      -o-transform: translateY(16px);
      transform: translateY(16px);
    }
  }
  @keyframes scroll {
    0% {
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
      transform: translateY(0px);
    }
    100% {
      -webkit-transform: translateY(16px);
      -moz-transform: translateY(16px);
      -ms-transform: translateY(16px);
      -o-transform: translateY(16px);
      transform: translateY(16px);
    }
  }

.apps-slider-5-content {
	padding-right: 350px;
    @media #{$xs, $md, $lg} {
        padding-right: 0;
    }
    @media #{$xs} {
        padding-right: 0;
        text-align: center;
    }
}



/* Sidebar CSS */

.apps-fz-offcanvas-main-nav-wrapper {
    position: fixed;
    z-index: 99;
    background-color: var(--clr-common-black-deep);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden; 
    transition: all 0.5s ease-out 0s;
    transform: translateY(-20%);
    transition-delay: 0.5s;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    &:is(.open) {
        visibility: visible;
        opacity: 1;
        transform: translateY(0%);
        transition-delay: 0.5s;
        transition: transform 0.6s ease-in-out;
    }
}
.apps-fz-offcanvas-main-nav-wrapper-sections {
    display: flex;
    justify-content: space-between;
    @media #{$md, $xs} {
        flex-direction: column;
    }
}
.mobile-menu-updated.mean-container .mean-nav > ul {
  display: block !important;
  overflow: hidden;
}
.apps-fz-offcanvas-main-nav-section {
  max-width: calc(100% - 700px);
  flex: 1;
  padding: 180px 120px;
  @media #{$xxxl, $xxl, $xl} {
    max-width: calc(100% - 500px);
    padding: 150px 70px;
    padding-top: 120px;
  }
  @media #{$lg} {
    max-width: calc(100% - 400px);
    padding: 150px 50px;
    padding-top: 120px;
  }
  @media #{$md} {
    max-width: 100%;
    width: 100%;
    padding: 150px 90px;
    padding-bottom: 40px;
    display: block;
  }
  @media #{$xs} {
    max-width: 100%;
    width: 100%;
    padding: 150px 30px;
    padding-bottom: 40px;
    display: block;
  }
  @media #{$sm} {
    padding: 150px 40px;
    padding-bottom: 40px;
  }

}
.apps-fz-offcanvas-main-nav-section .mobile-menu-updated.mean-container {
	overflow: hidden;
}
.apps-fz-offcanvas-main-nav-section .mean-bar {
  background: transparent;
  padding: 0;
  overflow: hidden;
}
.apps-fz-offcanvas-main-nav-section .mean-bar .meanmenu-reveal {
  display: none !important;
}
.apps-fz-offcanvas-main-nav-section .mean-bar .mean-nav {
    margin-top: 0;
    background: transparent;
    overflow-y: scroll;
    padding-right: 80px;
    scrollbar-width: thin;
    max-height: 770px;
    max-width: 790px;
    scrollbar-color: #fff #111; 
    @media #{$xxxl, $xxl, $xl, $lg} {
        max-width: 80%;
    }
    @media #{$md, $xs} {
        max-width: 100%;
        padding-right: 0px;
        scrollbar-width: none;
    }
}
.apps-fz-offcanvas-main-nav-section .mean-nav ul li a:not(.mean-expand) {
  width: 100%;
  font-size: 60px;
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
  color: var(--clr-common-white);
  padding: 0;
  border: 0;
  @media #{$xs} {
    font-size: 40px;
  }
  @media #{$sm} {
    font-size: 50px;
  }
}
.apps-fz-offcanvas-main-nav-section .mean-nav ul li a {
    border-top: 1px solid #707070;
    padding: 15px 0;
}
.apps-fz-offcanvas-main-nav-section .mean-nav ul li a.mean-expand {
  font-size: 40px !important;
  padding: 0;
  width: auto;
  font-weight: 400;
  height: 100%;
  margin-top: 0;
  font-weight: 100;  
  line-height: 100px;
  @media #{$xs} {
    font-size: 30px !important;
    line-height: 60px;
  }
  @media #{$sm} {
    font-size: 40px !important;
    line-height: 80px;
  }
}
.apps-fz-offcanvas-main-nav-section .mean-nav ul li:not(:last-child) {
  margin-bottom: 15px;
  border-bottom: 1px solid #202020;
}
.apps-fz-offcanvas-main-nav-section .mean-nav ul li a:after {
  display: none;
}
.apps-fz-offcanvas-main-nav-section .mean-nav ul > li {
  margin-bottom: 20px;
}
.apps-fz-offcanvas-main-nav-section .mean-nav ul li ul.dropdown-menu {
    background: transparent;
    position: static;
    display: block;
}

.apps-fz-offcanvas-main-nav-section .mean-nav ul li ul {
    li {
        margin-bottom: 10px;
        a {
            font-size: 24px !important;
            font-weight: 400;
            font-family: 'Kanit', sans-serif;
            color: #8A8A8A !important;
            @media #{$xs} {
                font-size: 18px !important;
            }
            @media #{$sm} {
                font-size: 22px !important;
            }
            &:hover {
                background-color: transparent;
                transform: translateX(10px);
                color: var(--clr-common-white) !important;
            }
            &:focus {
                background-color: transparent;
                color: var(--clr-common-white) !important;
            }
        }
        &:not(:last-child) {
            border-bottom: 0px solid #707070;
        }
        &:first-child {
            border-top: 1px solid #707070;
            a {
                padding-top: 20px;
            }
        }
        &:last-child {
            a {
                padding-bottom: 20px;
                margin-bottom: 10px;
            }
        }
    }
}



.apps-fz-offcanvas-main-sideinfo-section {
    flex: 1;
    padding: 180px 120px;
    background-color: #060606;
    max-width: 700px;
    @media #{$xxxl, $xxl, $xl} {
        max-width: 500px;
        padding: 150px 70px;
    }
    @media #{$lg} {
        max-width: 400px;
        padding: 150px 50px;
    }
    @media #{$md} {
        width: 100%;
        max-width: 100%;
        padding: 90px 90px;
        display: block;
    }
    @media #{$xs} {
        width: 100%;
        max-width: 100%;
        display: block;
        padding: 90px 30px;
    }
    @media #{$sm} {
        padding: 90px 40px;
    }
  }
  .fz-button-close {
    font-size: 30px;
    color: #ACACAC;
    display: inline-block;
    position: absolute;
    right: 60px;
    top: 60px;
    @media #{$lg} {
        right: 50px;
        top: 50px;
    }
    @media #{$md} {
        right: 90px;
        top: 60px;
    }
    @media #{$xs} {
        right: 30px;
        top: 50px;
    }
    @media #{$sm} {
        right: 40px;
        top: 50px;
    }
    &:hover {
        color: var(--clr-common-white);
    }
  }
  .apps-fz-offcanvas-main-search {
    position: relative;
    z-index: 1;
  }
  .apps-fz-offcanvas-main-search input {
    width: 100%;
    height: 60px;
    border: 1px solid #202020;
    padding: 0 25px;
    padding-right: 60px;
    @media #{$lg} {
        height: 50px;
        padding: 0 20px;
        padding-right: 50px;
    }
    @media #{$xs, $md} {
        height: 60px;
        padding: 0 25px;
        padding-right: 60px;
    }
  }
  .apps-fz-offcanvas-main-search input::placeholder {
    color: #8A8A8A;
    font-size: 14px;
  }
  .apps-fz-offcanvas-main-search button[type="submit"] {
    border: 0;
    height: 100%;
    width: 60px;
    line-height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    @media #{$lg, $xs} {
        width: 50px;
        line-height: 50px;
    }
    @media #{$md} {
        width: 60px;
        line-height: 60px;
    }
  }

  
.apps-fz-offcanvas-main-contacts-title {
    font-size: 48px;
    font-weight: 600;
    color: var(--clr-common-white);
  } 

  .apps-fz-offcanvas-main-contacts-title {
    font-size: 48px;
    font-weight: 600;
    color: var(--clr-common-white);
    @media #{$xs, $md, $lg} {
        font-size: 40px;
    }
  }
  .apps-fz-offcanvas-main-contacts-list li {
    list-style: none;
    margin-bottom: 30px; 
    font-size: 20px;
    color: #8A8A8A;
    display: flex;
    align-items: flex-end; 
    @media #{$lg} {
        font-size: 20px;
    }
    @media #{$xs} {
        font-size: 18px;
    }
    @media #{$sm} {
        font-size: 20px;
    }
     a {
        &:hover {
            color: var(--clr-common-white);
        }
     }
  }
  .apps-fz-offcanvas-main-contacts-list li i {
    display: inline-block;
    margin-right: 15px;
    color: #8a8a8a;
    font-weight: 300;
    font-size: 28px;
    transform: translateY(-5px);
    @media #{$xs, $lg} {
        font-size: 22px;
    }
    @media #{$md} {
        font-size: 28px;
    }
  } 

.mt-55 {
    margin-top: 55px;
}
.apps-fz-offcanvas-main-socials a {
    font-size: 18px;
    color: #8A8A8A;
    width: 60px;
    height: 60px;
    border: 1px solid #202020;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    transition: all 0.4s;
    @include hover-animated-icon;
    @media #{$xs, $lg} {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    @media #{$md} {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
  }
  .apps-fz-offcanvas-main-socials a:not(:last-child) {
    margin-right: 15px;
  }
  .apps-fz-offcanvas-main-socials a:hover {
    border-color: var(--clr-common-white);
    color: var(--clr-common-white);
  }



  
.apps-fz-offcanvas-main-actions a i {
  width: 60px;
  height: 60px;
  border: 1px solid #202020;
  line-height: 60px;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  margin-right: 10px;
  transition: all 0.3s;
  text-align: center;
  @media #{$xs, $lg} {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  @media #{$md} {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}
  
.fz-off-actions-icon {
    position: relative;
    z-index: 1;
  }
  .fz-off-actions-count {
    position: absolute;
    right: 10px;
    top: 0;
    min-width: 20px;
    height: auto;
    background-color: var(--clr-common-white);
    border-radius: 50%;
    font-size: 13px;
    color: var(--clr-common-black-deep);
    text-align: center;
  }
  .apps-fz-offcanvas-main-actions a {
    transition: all 0.3s;
    display: inline-flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 18px;
    &:not(:last-child) {
        margin-right: 35px;
        @media #{$xxxl, $xxl, $xl} {
            margin-right: 20px;
        }
        @media #{$lg} {
            margin-right: 20px;
        }
        @media #{$xs} {
            margin-right: 20px;
        }
        @media #{$sm} {
            margin-right: 20px;
        }
        @media #{$md} {
            margin-right: 35px;
        }
    }
    .fz-off-actions-text {
        overflow: hidden;
        position: relative;
        & span {
            transition: all .3s;
            width: 100%;
            &:nth-child(2) {
                position: absolute;
                left: 50%;
                top: 140%;
                text-align: center;
                transform: translate(-50%, -50%);
            }
        }
    }
    &:hover {
        color: var(--clr-common-white);
        i {
            border-color: var(--clr-common-white);
        }
        .fz-off-actions-text {
            color: var(--clr-common-white);
            & span {
                &:nth-child(1) {
                    transform: translateY(-40px);
                }
                &:nth-child(2) {
                    top: 50%;
                }
            }
        }

    }

  }
  .fz-off-actions-text {
    display: inline-block;
  }
  .apps-fz-offcanvas-main-nav-wrapper:is(.open) {
	overflow-y: auto;
}

.price-wrap-3 {
    bdi {
        font-size: 16px;
        font-weight: 500;
        color: var(--clr-body-dark);
        font-family: "Futura PT";
    }
    del {
        bdi {
            font-weight: 100;
            font-size: 14px;
            font-family: "Futura PT";
            text-decoration: line-through;
            display: inline-block;
            margin-right: 3px;
            color: var(--clr-body-text);
        }
    }
}

.cbsearchbar.cb-searchbar-opened {
    transform: translateY(0);
}
.cbsearchbar {
    background-color: #060606;
    text-align: start;
    position: fixed;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: 0;
    width: 100%;
    min-height: 320px;
    box-shadow: rgba(5, 13, 54, 0.05) 5px 15px 30px 0px;
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 9999999;
    padding: 30px;
    transform: translateY(-100%);
}

.cbsearchbar__close {
    color: var(--clr-common-white);
    background: var(--clr-body-dark);
    width: 35px;
    height: 35px;
    line-height: 35px;
    position: absolute;
    top: 60px;
    right: 20%;
    font-size: 18px;
    transition: all 0.3s;
    border-radius: 50%;
    @media #{$lg} {
        right: 20%; 
    }
    @media #{$md} {
        top: 50px;
        right: 13%; 
    }
    @media #{$xs} {
        top: 50px;
        right: 40px; 
    }
    &:hover {
        color: var(--clr-body-dark);
        background: var(--clr-common-white);
    }
}
.cbsearchbar__title {
    font-size: 24px;
    color: var(--clr-common-white);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 35px;
    line-height: 1.3;
    @media #{$xs} {
        font-size: 22px;
        line-height: 1.4;
    }
}
.cbsearchbar__form {
    position: relative;
}
.cbsearchbar__form input {
    width: 100%;
    height: 60px;
    border: 1px solid var(--clr-body-text);
    padding: 10px 45px 10px 20px;
    color: var(--clr-body-text);
    font-size: 16px;
    font-weight: 500;
}
.cbsearchbar__search-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    font-size: 16px;
    color: var(--clr-body-text);
    transition: all 0.3s;
    &:hover {
        color: var(--clr-common-white);
    }
}
.search-body-overlay.opened {
    opacity: 1;
    visibility: visible;
}
.search-body-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 999999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out 0s;
}
.apps-fz-header-menu-display nav#mobile-menu-updated {
    display: block !important;
}

.apps-fz-header-right-action-5 .has-left-bar-5 i {
    font-weight: 700;
}