.apps-rv {
    &-banner-flex-item-wrapper {
        display: flex;
        @media #{$xs} {
            flex-wrap: wrap;
            grid-gap: 30px 0;
        }
        & > * {
            flex: 0 0 50%;
        }
    }
    &-banner {
        &-content-1 {
            &.pt-25 {
                @media #{$xl} {
                    padding-top: 15px;
                }
                @media #{$lg, $xs} {
                    padding-top: 0;
                }
                @media #{$xs} {
                    padding-bottom: 30px;
                }
            }
        }
        &-flex-item {
            &-1 {
                flex: 0 0 50.6%;
                @media #{$lg} {
                    flex: 0 0 54.6%;
                }
                @media #{$xs} {
                    flex: 0 0 100%;
                }
            }
            &-2 {
                flex: 0 0 49%;
                @media #{$lg} {
                    flex: 0 0 45.4%;
                }
                @media #{$xs} {
                    flex: 0 0 100%;
                }
                & .apps-img-w-inherit {
                    @media #{$xl, $lg} {
                        max-width: 100%;
                    }
                }
            }
        }
    }
    &-banner-box {
        &-2 {
            padding-left: 60px;
            padding-right: 45px;
            padding-bottom: 40px;
            padding-top: 40px;
            @media #{$xxl} {
                padding-top: 26px;
                padding-bottom: 26px;
            }
            @media #{$xl} {
                padding-left: 40px;
                padding-right: 40px;
            }
            @media #{$lg} {
                padding: 31px 30px;
            }
            @media #{$md} {
                padding-left: 40px;
                padding-right: 40px;
            }
            @media #{$xs} {
                padding: 30px;
            }
            & img {
                transition: all .3s;
                transform-origin: right;
            }
        }
        &-1 {
            padding-left: 60px;
            padding-right: 40px;
            padding-top: 24px;
            @media #{$xl, $md} {
                padding-left: 40px;
            }
            @media #{$lg, $xs} {
                padding-left: 30px;
                padding-right: 30px;
            }
            & img {
                transition: all .3s;
                transform-origin: bottom;
            }
            &:hover {
                & img {
                    transform: scale(1.05);
                }
            }
        }
        &-content-2 {
            &.pt-15 {
                @media #{$xl} {
                    padding-top: 5px;
                }
                @media #{$lg} {
                    padding-top: 0;
                }
            }
            & .subtitle {
                font-size: 18px;
                font-weight: 700;
                color: var(--clr-theme-primary);
                display: block;
                padding-bottom: 7px;
                @media #{$xl} {
                    padding-bottom: 5px;
                }
            }
            & .title {
                font-size: 30px;
                margin-bottom: 0;
                @media #{$xxl} {
                    font-size: 26px;
                }
                @media #{$xl} {
                    font-size: 23px;
                }
                @media #{$lg, $xs} {
                    font-size: 22px;
                }
            }
        }
    }
    &-banner {
        &-title-1 {
            color: var(--clr-common-white);
            margin-bottom: 0;
            font-size: 30px;
            @media #{$xxl} {
                font-size: 26px;
            }
            @media #{$xl} {
                font-size: 23px;
            }
            @media #{$lg, $xs} {
                font-size: 22px;
            }
            & a {
                &:hover {
                    color: var(--clr-common-white);
                }
            }
        }
        &-price-1 {
            &.pb-10 {
                @media #{$xl, $lg} {
                    padding-bottom: 5px;
                }
            }
            & > span {
                font-size: 18px;
                font-weight: 700;
                color: var(--clr-common-white);
                &.price-old {
                    font-weight: 400;
                    color: #4f9aed;
                    margin-left: 5px;
                }
            }
        }
    }
}
.apps-img-w-inherit {
    &.apps-rv-has-decore-pos-img-1 {
        transform: translateX(-28px);
        @media #{$xl, $lg, $md, $xs} {
            transform: translateX(0);
        }
        & img {
            height: 144px;
            max-width: inherit;
            @media #{$xxl} {
                max-width: 280px;
            }
            @media #{$xl, $lg, $md, $xs} {
                height: auto;
                transform: translateX(0);
            }
            @media #{$md} {
                max-width: 300px;
            }
            @media #{$xs} {
                max-width: 100%;
            }
        }
    }
    & img {
        @media #{$xs} {
            max-width: 100%;
        }
    }
}
.apps-rv-banner-box-2 img {
    transform-origin: right center;
}
.apps-rv-banner-box-2:hover img {
    transform: scale(1.05);
}
.apps-rv-subscribe-area  .apps-rv-subscribe-tab-front-img img {
    max-width: inherit;
    @media #{$xl} {
        max-width: 705px;
    }
    @media #{$lg} {
        max-width: 700px;
    }
}

.apps-rv-slider-image-activation .rvel-rv-thumb-slide img {
    display: inline-block;
}
.apps-fz {
    &-shop-btn-4 {
        display: inline-block;
        height: 50px;
        color: var(--clr-common-white);
        line-height: 50px;
        background-color: var(--clr-body-dark-3);
        font-family: $adobeclean;
        font-weight: 700;
        padding: 0 55px;
        @include hoverBtnTextAnimated;
    }
    &-banner {
        &-content-right-4 {
            & p {
                font-family: $adobeclean;
                color: #4b4b4b;
                margin-bottom: 38px;
            }
            & .subtitle {
                font-size: 22px;
                font-family: $adobeclean;
                font-weight: 400;
                color: #4b4b4b;
                margin-bottom: 5px;
                @media #{$xs} {
                    font-size: 18px;
                }
                @media #{$sm} {
                    font-size: 20px;
                }
            }
            & .title.fz-responsive {
                font-size: 60px;
                font-weight: 900;
                font-family: $adobeclean;
                margin-bottom: 0;
                line-height: 1.2;
                color: var(--clr-body-dark-3);
                @media #{$xl} {
                    font-size: 54px;
                }
                @media #{$lg} {
                    font-size: 43px;
                }
                @media #{$md} {
                    font-size: 40px;
                    line-height: 1.3;
                }
                @media #{$xs} {
                    font-size: 35px;
                    line-height: 1.3;
                }
                & span {
                    display: block;
                    font-size: 48px;
                    font-weight: 700;
                    line-height: 1.3;
                    @media #{$xxl} {
                        font-size: 46px;
                    }
                    @media #{$xl} {
                        font-size: 45px;
                    }
                    @media #{$lg} {
                        font-size: 35px;
                    }
                    @media #{$md} {
                        font-size: 32px;
                    }
                    @media #{$xs} {
                        font-size: 26px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    &-black-banner-title-2 {
        font-size: 36px;
        font-weight: 600;
        color: var(--clr-common-white);
        margin-bottom: 0;
        @media #{$xl} {
            font-size: 32px;
        }
        @media #{$lg} {
            font-size: 32px;
            margin-bottom: 20px;
        }
        @media #{$xs} {
            font-size: 28px;
        }
    }
    &-black-banner {
        &-right-img-2 {
            & img {
                @media #{$xl} {
                    width: 350px;
                }
            }
        }
        &-2 {
            border-radius: 10px;
        }
        &-btn-2 {
            display: inline-block;
            height: 35px;
            line-height: 35px;
            border: 1px solid var(--clr-common-white);
            font-size: 14px;
            border-radius: 3px;
            font-weight: 700;
            color: var(--clr-common-white);
            padding: 0 17px;
            &:hover {
                background-color: var(--clr-common-white);
                color: $black;
                border-color: transparent;
            }
        }
        &-left {
            &-wrapper-2 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                grid-gap: 30px;
                & > * {
                    flex: 0 0 auto;
                }
                @media #{$xl} {
                    flex-direction: column;
                    align-items: flex-start;
                    grid-gap: 15px 0;
                }
                @media #{$lg} {
                    display: block;
                    padding: 40px 0;
                }
                @media #{$md, $xs} {
                    flex-wrap: wrap;
                    flex-direction: column;
                    text-align: center;
                    grid-gap: 20px 0;
                }
            }
        }
    }
    &-banner {
        &-box {
            &-2 {
                border-radius: 10px;
                padding: 30px 40px;
                overflow: hidden;
                @media #{$xs} {
                    padding: 50px 30px;
                }
                & img {
                    transition: all .3s;
                }
                &:hover {
                    & img {
                        transform: scale(1.1);
                    }
                }
            }
            &-3 {
                border-radius: 10px;
                overflow: hidden;
                & img {
                    transition: all .3s;
                    transform-origin: top right;
                }
                &:hover {
                    & img {
                        transform: scale(1.1);
                    }
                }
            }
            &-wrapper-2 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                @media #{$lg} {
                    flex-direction: column;
                    grid-gap: 30px 0;
                    align-items: flex-start;          
                }
                @media #{$xs} {
                    flex-direction: column;
                    grid-gap: 20px;
                }
                & .image {
                    @media #{$xl} {
                        flex: 0 0 140px;
                    }
                }
                @at-root {
                    .fz-banner-box-wrapper-content-inner-2 {
                        & .content {
                            @media #{$xs} {
                                text-align: center;
                            }
                        }
                        & .subtitle {
                            font-size: 14px;
                            color: $black;
                            display: block;
                            margin-bottom: 2px;
                        }
                        & .title {
                            font-size: 30px;
                            font-weight: 600;
                            display: block;
                            margin-bottom: 11px;
                            line-height: 1.3;
                            @media #{$xxl} {
                                font-size: 25px;
                            }
                            & br {
                                @media #{$xl, $xs} {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
            &-wrapper-3 {
                & .fz-banner-box-wrapper-content-inner-2 {
                    display: flex;
                    justify-content: space-between;
                    @media #{$lg, $xs} {
                        flex-direction: column;
                    }
                    & .image {
                        @media #{$lg} {
                            align-self: flex-end;
                            order: -1;
                        }
                        @media #{$xs} {
                            align-self: center;
                            order: -1;
                        }
                        & img {
                            @media #{$xs} {
                                max-width: 220px;
                                display: block;
                                margin: 0 auto;
                            }
                        }
                    }
                    & .content {
                        padding: 40px;
                        padding-top: 35px;
                        @media #{$xxl} {
                            padding: 41px 40px;
                        }
                        @media #{$xl} {
                            padding: 30px 40px;
                        }
                        @media #{$lg} {
                            padding: 35px 40px;
                        }
                        @media #{$xs} {
                            padding: 35px 30px;
                        }
                    }
                }
            }
        }
    }
}
.apps-fz {
    &-varient-banner {
        &-2 {
            padding: 0 40px;
            padding-top: 35px;
            border-radius: 10px;
            overflow: hidden;
            @media #{$xs} {
                text-align: center;
            }
            @media (min-width: 1025px) and (max-width: 1235px) {
                padding-left: 30px;
                padding-right: 30px;
            }
            & img {
                transition: all .3s;
                transform-origin: bottom;
            }
            &:hover {
                & img {
                    transform: scale(1.05);
                }
            }
        }
    }
    &-varient-banner-content-2 {
        & .subtitle {
            font-size: 14px;
            display: block;
            color: var(--clr-common-white);
            margin-bottom: 4px;
        }
        & .title {
            font-weight: 600;
            color: var(--clr-common-white);
            margin-bottom: 4px;
        }
        & .price {
            color: var(--clr-common-white);
            display: block;
            margin-bottom: 16px;
        }
    }
}
.apps-fz-black-banner-2.pl-100.pr-100.bg-default {
    @media #{$xl} {
        padding-left: 70px;
        padding-right: 70px;    
    }
    @media #{$xs} {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 30px;
    }
}
.apps-fz-banner-box-4.pl-160.pr-155 {
    @media #{$xl, $lg, $md} {
        padding: 0 40px;
        padding-top: 40px;
    }
    @media #{$md} {
        padding-bottom: 20px;
        background-position: top right;
    }
    @media #{$xs} {
        padding: 0;
    }
}
.apps-fz-banner-content-right-4.pl-50 {
    @media #{$lg} {
        padding-left: 20px;
    }
    @media #{$md} {
        padding-left: 0;
    }
    @media #{$xs} {
        padding: 30px;
        background: #f9f9f9;
    }
}
.apps-fz-banner-box-left-4.mb-30 {
    @media #{$xs} {
        margin-bottom: 0;
    }
}
// banner style 6
.apps-fz-banner-item-6 {
    padding: 0 50px;
    padding-top: 25px;
    position: relative;
    @media #{$xs} {
        padding: 30px;
    }
    &.banner-1 {
        @media #{$md} {
            padding: 50px;
        }
    }
    &.style-2 {
        padding-top: 47px;
    }
    &::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: linear-gradient(-94deg, rgba(255, 255, 255, 0.52) 0%, #0c1e01  100%);
        opacity: 0.7;
    }
    & > * {
        position: relative;
        z-index: 9;
    }
    & .subtitle {
        font-family: $dubai;
        font-size: 18px;
        color: var(--clr-common-white);
        display: block;
        margin-bottom: 0;
    }
    & .title {
        color: var(--clr-common-white);
        font-size: 48px;
        font-weight: 700;
        font-family: $playfair;
        margin-bottom: 12px;
        @media #{$xxl} {
            font-size: 46px;
        }
        @media #{$xl} {
            font-size: 38px;
        }
        @media #{$lg} {
            font-size: 30px;
        }
        @media #{$xs} {
            font-size: 30px;
        }
    }
    & .desc {
        font-family: $dubai;
        font-size: 26px;
        color: var(--clr-common-white);
        margin-bottom: 34px;
        @media #{$xl} {
            font-size: 24px;
            margin-bottom: 19px;
        }
        @media #{$lg} {
            font-size: 19px;
            margin-bottom: 20px;
        }
        @media #{$xs} {
            font-size: 20px;
            margin-bottom: 20px;
        }
    }
}
.apps-fz-banner-wine-img-6-1 img {
    max-height: 275px;
    @media #{$xs} {
        max-height: initial;
    }
}
.apps-fz-banner-wine-img-6-2 img {
    max-width: inherit;
    max-height: 253px;
    @media #{$xl} {
        max-height: 213px;
    }
    @media #{$lg} {
        max-height: 180px;
    }
}

/**
* Banner Countdown 6
*/
.apps-fz-countdown-banner {
    &-right-content-6 {
        & .subtitle {
            font-size: 16px;
            display: block;
            font-family: $dubai;
            color: var(--clr-common-white);
            position: relative;
            margin-bottom: 15px;
            &::before {
                width: 40px;
                height: 1px;
                background-color: var(--clr-common-white);
                content: "";
                display: inline-block;
                vertical-align: middle;
                margin-right: 15px;
            }
        }
        & .title {
            font-size: 70px;
            font-family: $playfair;
            font-weight: 400;
            line-height: 1.1;
            margin-bottom: 40px;
            color: var(--clr-common-white);
            @media #{$xxl} {
                font-size: 68px;
            }
            @media #{$xl} {
                font-size: 64px;
            }
            @media #{$lg} {
                font-size: 50px;
            }
            @media #{$md} {
                font-size: 40px;
            }
            @media #{$xs} {
                font-size: 24px;
                line-height: 1.5;
            }
        }
    }
    &-content-inner-6 {
        padding: 40px;
        position: relative;
        &::after {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            content: "";
            background: linear-gradient(#122e00 0%, rgba(96, 115, 84, 0.51) 100%);
            opacity: 0.9;
        }
        & > * {
            position: relative;
            z-index: 3;
        }
    }
    &-content-inner-deeper-6 {
        border: 1px solid rgba(255, 255, 255, 0.1);
        padding: 25px 115px;
        @media #{$xl} {
            padding: 25px 55px;
        }
        @media #{$lg} {
            padding: 25px 45px;
        }
        @media #{$md} {
            padding: 35px 30px;
        }
        @media #{$xs} {
            padding: 25px 20px;
        }
    }
    &-img-left-6 {
        & img {
            max-height: 423px;
        }
    }
}
.apps-countdown-6 {
    & .apps-fz-countdown-wrap-6 {
        display: inline-block;
        margin-right: 46px;
        position: relative;
        @media #{$lg} {
            margin-right: 27px;
        }
        &::after {
            position: absolute;
            right: -30px;
            top: 0;
            content: ":";
            font-size: 34px;
            font-family: $playfair;
            color: var(--clr-common-white);
            @media #{$lg} {
                right: -20px;
            }
            @media #{$xs} {
                display: none;
            }
        }
        &:last-child {
            margin-right: 0;
            &::after {
                display: none;
            }
        }
    }
}
.apps-fz {
    &-countdown-number-6 {
        font-size: 34px;
        font-family: $playfair;
        color: var(--clr-common-white);
        height: 60px;
        border: 1px solid var(--clr-common-white);
        text-align: center;
        padding: 0 15px;
    }
    &-countdown-wrap-6 {
        & > span {
            color: var(--clr-common-white);
            font-size: 18px;
            font-family: 'Dubai';
            margin-top: 18px;
            display: inline-block;
            line-height: 1;
        }
    }
}

.apps-fz-banner-item-6 .content {
    @media #{$xl, $md, $xs} {
        padding-top: 0;
    }
}
.apps-fz-banner-item-6.style-2.bg-default.banner-2 {
    @media #{$xs} {
        padding-bottom: 0;
    }
}
.apps-fz-countdown-banner-content-inner-6.bg-default {
    @media #{$xs} {
        padding: 30px;
    }
}
.apps-fz-countdown-banner-right-content-6 .apps-countdown-6 > div.apps-fz-countdown-wrap-6 {
    @media #{$xs} {
        margin: 0;
        width: 40%;
        margin-bottom: 20px;
    }
}
.apps-fz-countdown-banner-right-content-6 .apps-countdown-6 .apps-fz-countdown-wrap-6:nth-child(3), .apps-fz-countdown-banner-right-content-6 .apps-countdown-6 .apps-fz-countdown-wrap-6:nth-child(4) {
    @media #{$xs} {
        margin-bottom: 0;
    }
}
.apps-fz-countdown-banner-right-content-6 .apps-countdown-6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: fit-content;
}
.apps-fz-banner-item-6.style-2 .content {
    @media #{$lg} {
        padding-bottom: 79px;
    }
}