.roll__wrapper {
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}
.pl-145.pr-145.apps-rv-brand-forward-wrapper {
	@media #{$xs} {
		padding: 0 30px;
	}
}
.apps-fz {
	&-brand-image-2 {
		& img {
			filter: contrast(1);
			transition: all .3s;
			&:hover {
				filter: grayscale(1);
			}
		}
	}
}
.apps-fz-brand-img-4 {
	text-align: center;
	img {
		filter: contrast(0);
		transition: all 0.3s;
		&:hover {
			filter: contrast(1);
		}
	}
}
.swiper-slide-active {
	.apps-fz-brand-img-4 {
		img {
			filter: contrast(1);
		}
	}
}
.apps-fz-brand-active-6 {
    padding: 0 5px;
    margin: 0 -5px;
}
.apps-fz-brand-active-6.swiper-container {
	@media #{$md} {
		padding-bottom: 1px;
	}
}