.apps-fz-cart-table-445 {
    padding: 0 40px;
    display: block;
    border: 1px solid #E4E4E4;
    border-radius: 10px;
    & span.apps-fz-cart-table-product-price-number-445 bdi {
        font-size: 16px;
        font-weight: 500;
        font-family: $roboto;
        color: #282828;
    }
    & .apps-fz-cart-product-img-445 {
        width: 100px;
        & img {
            border-radius: 10px;
        }
    }
    & .apps-fz-cart-table-product-name-445 {
        font-size: 16px;
        font-family: $roboto;
        padding-right: 20px;
        & a {
            color: #282828;
            font-weight: 500;
            display: block;
            &:hover {
                color: var(--clr-theme-primary);
            }
        }
        & dl.variation {
            display: none;
        }
    }
    & thead {
        & tr {
            & th {
                border: 0;
                font-size: 14px;
                font-family: $poppins;
                font-weight: 700;
                border-bottom: 1px solid #E4E4E4;
                color: #282828;
                text-align: left;
                padding: 20px 0;
            }
        }
    }
    & tbody {
        & tr {
            & td {
                border: 0;
                padding: 0;
                vertical-align: middle;
                padding: 25px 0;
                border-top: 1px solid #E4E4E4;
                & input[name="coupon_code"] {
                    width: 250px;
                    height: 50px;
                    border: 1px solid #EAEAEA;
                    border-radius: 3px;
                    padding: 0 20px;
                    font-size: 14px;
                    color: #999999;
                    &::placeholder {
                        font-size: 14px;
                        color: #999999;
                    }
                }
                & button[type="submit"] {
                    height: 50px;
                    border-radius: 3px;
                    background: var(--clr-theme-primary);
                    color: var(--clr-common-white);
                    font-size: 14px;
                    font-weight: 700;
                    margin-left: 10px;
                    padding: 0 35px;
                }
                &:nth-child(1) {
                    width: 325px;
                }
                &:nth-child(2) {
                    width: 122px;
                    padding-right: 30px;
                }
                &:nth-child(3) {
                    width: 255px;
                    padding-right: 15px;
                }
                &:nth-child(4) {
                    padding-right: 15px;
                    width: 200px;
                }
            }
            &:first-child {
                & td {
                    border-top: 0;
                }
            }
        }
    }
}
td.apps-fz-cart-thumbnail-name-wrapper-445 {
    display: flex;
    align-items: center;
    grid-gap: 0 20px;
    & > .apps-fz-cart-product-img-445 {
        flex: 0 0 auto;
    }
}
.apps-page-content table.apps-fz-cart-table-445 tbody tr td {
    text-align: left;
}
.apps-fz-cart-table-product-subtotal-number-445 {
    font-size: 16px;
    font-weight: 500;
    color: #282828;
}
td.apps-fz-cart-table-product-remove-wrap-445 {
    & i {
        font-size: 16px;
        color: #282828;
        font-weight: 400;
        transition: all .3s;
    }
    & a:hover {
        background-color: transparent !important;
        & i {
            color: var(--clr-theme-primary);
        }
    }
}
table.apps-fz-cart-table-445 {
    border: 1px solid #E4E4E4;
}
// side card
div.apps-fz-cart-total-box-445 {
    & .tab-contents {
        & div.cart-total-panel div.panel-body {
            padding: 0 0;
            & a.checkout-button.btn.wc-forward.button.alt.wc-forward {
                border-radius: 3px;
                background-color: var(--clr-theme-primary);
                font-size: 16px;
                font-weight: 700;
                font-family: 'Roboto';
                height: 50px;
                line-height: 50px;
            }
            & .calculate-area {
                .woocommerce-Price-amount.amount {
                    font-weight: 500;
                    color: #282828;
                    display: inline-block;
                }
                & ul {
                    & li {
                        font-size: 16px;
                        font-weight: 500;
                        padding: 30px 0;
                        color: #282828;
                        margin: 0;
                        border-bottom: 1px solid #E4E4E4;
                        & .price-txt {
                            font-weight: 500;
                            color: #282828;
                            display: inline-block; 
                        }
                    }
                }
            }
        }
        & .cart-total-panel {
            border: 1px solid #E4E4E4;
            border-radius: 10px;
            padding: 0 30px;
            padding-bottom: 30px;
            & .title {
                font-size: 16px;
                border-bottom: 1px solid #E4E4E4;
                font-weight: 700;
                display: block;
                line-height: 1.2;
                padding: 22px 0;
                height: auto;
            }
        }
    }
}
.apps-page-content .apps-fz-cart-total-box-445 table tr.woocommerce-shipping-totals.shipping th {
    font-size: 16px;
    font-weight: 500;
    color: #282828;
    margin: 0;
}
.apps-fz-cart-table-overflow-area-445 {
    @media #{$xl, $lg, $md, $xs} {
        overflow-x: auto;
    }
    & .apps-fz-cart-table-445 {
        margin-bottom: 0;
        @media #{$xl, $md, $xs} {
            width: 840px;
        }
        @media #{$lg} {
            width: 100%;
        }
    }
}