/**
* Header 01
*/
.apps {
    &-header-logo {
        & img {
            max-width: 120px;
        }
    }
    &-fz-header-logo-2 {
        & img {
            max-width: 143px;
        }
    }
    &-switch-sidebar {
        & i {
            font-size: 18px;
        }
    }
    &-header-nav {
        @media #{$md, $xs} {
            padding: 30px 0;
            border-bottom: 1px solid var(--clr-border-soft);
        }
    }
    &-header-topbar {
        @media #{$md} {
            padding: 20px 0;
        }
    }
    &-topbar {
        &-link {
            color: var(--clr-common-white);
            font-size: 14px;
            & i {
                color: var(--clr-common-white);
                margin-right: 3px;
            }
            &:hover {
                color: var(--clr-common-white);
            }
        }
        &-welcome-text {
            & p {
                font-size: 14px;
                color: var(--clr-common-white);
                font-weight: 700;
                margin-bottom: 0;
            }
        }
        &-right {
            &-links {
                & a {
                    font-size: 14px;
                    color: var(--clr-common-white);
                    display: inline-block;
                    transform: translateY(-2px);
                    & i {
                        font-size: 16px;
                        margin-right: 3px;
                    }
                }
            }
            &-item {
                display: inline-block;
                padding-left: 35px;
                position: relative;
                & .nice-select {
                    z-index: 10;
                    position: relative;
                }
                @media #{$md} {
                    padding-left: 15px;
                }
                &::before {
                    position: absolute;
                    left: 15px;
                    top: 2px;
                    height: 12px;
                    width: 1px;
                    background-color: var(--clr-theme-primary);
                    content: "";
                    @media #{$md} {
                        left: 7px;
                    }
                }
                &:first-child {
                    padding-left: 0;
                    &::before {
                        display: none;
                    }
                }
                & .nice-select {
                    background: transparent;
                    border: 0;
                    padding: 0 0;
                    line-height: 1;
                    padding-right: 14px;
                    transform: translateY(2px);
                    height: auto;
                    &::after {
                        border: 0;
                        content: "\f107";
                        font-family: "Font Awesome 6 Pro";
                        transform: rotate(0);
                        height: auto;
                        line-height: initial;
                        width: auto;
                        position: absolute;
                        right: 0;
                        top: 4px;
                        color: var(--clr-common-white);
                    }
                    & .current {
                        font-size: 14px;
                        color: var(--clr-common-white);
                    }
                }
            }
        }
    }
    // header top end
    &-header-navigation {
        & ul {
            & li {
                display: inline-block;
                margin: 0 23px;
                position: relative;
                @media #{$lg} {
                    margin: 0 12px;
                }
                @media #{$md} {
                    margin: 0;
                    margin-left: 18px;
                }
                &:first-child {
                    @media #{$md} {
                        margin-left: 0;
                    }
                }
                & a {
                    display: inline-block;
                    font-size: 14px;
                    font-weight: 700;
                    color: var(--clr-common-black);
                    padding: 29px 0;
                }
                &.has-menu-children {
                    & a {
                        &:hover {
                            background-color: transparent;
                        }
                        &::after {
                            content: "\f107";
                            font-family: "Font Awesome 6 Pro";
                            color: #c2c2c2;
                            font-size: 14px;
                            margin-left: 4px;
                            display: inline-block;
                            transition: all 0.3s;
                            border: 0;
                            vertical-align: unset;
                        }
                    }
                }
                &:hover > a {
                    color: var(--clr-theme-primary);
                    &::after {
                        color: var(--clr-theme-primary);
                    }
                }
            }
            &.dropdown-menu {
                position: absolute;
                display: block;
                top: 120%;
                border-radius: 0;
                left: 0;
                border: 0;
                min-width: 220px;
                padding: 15px 0;
                background: var(--clr-common-white);
                transition: all .3s ease-out 0s;
                -ms-box-shadow: 0 0 60px 0 rgba(53,57,69,.15);
                -o-box-shadow: 0 0 60px 0 rgba(53,57,69,.15);
                box-shadow: 0 0 60px 0 rgba(53,57,69,.15);
                z-index: 11;
                opacity: 0;
                visibility: hidden;
                & li {
                    font-size: 14px;
                    transition: all 0.3s ease-in;
                    margin: 0;
                    display: block;
                    & a {
                        width: 100%;
                        display: block;
                        padding: 9px 30px;
                        text-transform: capitalize;
                        color: var(--clr-common-black);
                        font-weight: 500;
                        position: relative;
                        &::after {
                            display: none;
                        }
                    }
                    &:hover > a {
                        color: var(--clr-theme-primary);
                        padding-left: 36px;
                    }
                }
            }
            & li {
                &:hover > .dropdown-menu {
                    opacity: 1;
                    visibility: visible;
                    top: 100%;
                }
            }
        }
    }
    // header nav end
    &-navigation {
        &-right-contact {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            & > * {
                flex: 0 0 auto;
            }
            & .content {
                & .label {
                    display: block;
                    font-size: 14px;
                    color: var(--clr-body-soft);
                }
                & .link {
                    font-weight: 700;
                    color: var(--clr-common-black);
                    display: block;
                    &:hover {
                        color: var(--clr-theme-primary);
                    }
                }
            }
            & .icon {
                padding-left: 10px;
                & i {
                    color: var(--clr-theme-primary);
                    font-size: 30px;
                }
            }
        }
    }
    // header right contact end
    &-header {
        &-categories {
            position: relative;
            &-menu-list {
                background: var(--clr-common-white);
                width: 100%;
            }
            &-coupon-btn {
                display: block;
                background: var(--clr-theme-primary);
                color: var(--clr-common-white);
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 700;
                text-align: center;
                height: 50px;
                line-height: 50px;
                padding: 0 20px;
                &.theme-bg-2 {
                    background-color: var(--clr-theme-secondary);
                    & span {
                        color: #ffffffa6;
                    }
                    &:hover {
                        background-color: var(--clr-theme-tertiary);
                        & span {
                            color: #ffffffa6;
                        }
                    }
                }
                & span {
                    color: #7fb0e7;
                    transition: all .3s;
                    font-weight: 400;
                }
                &:hover {
                    background-color: var(--clr-common-black-deep);
                    color: var(--clr-common-white);
                    & span {
                        color: #848484;
                    }
                }
            }
            & .apps-header-categories-menu-list {
                position: absolute;
                left: 0;
                top: calc(100% + 31px);
                @media #{$xl, $lg, $md} {
                    display: none;
                }
                &-inner {
                    padding: 25px 30px;
                    box-shadow: 0px -16px 32px 0px rgba(0, 0, 0, 0.03);
                }
                &::after {
                    position: absolute;
                    height: 15px;
                    width: 25px;
                    background-color: var(--clr-common-white);
                    clip-path: polygon(0 100%, 50% 0, 100% 100%);
                    content: "";
                    left: 50%;
                    top: -15px;
                    transform: translateX(-50%);
                }
                & ul {
                    & li {
                        list-style: none;
                        border-bottom: 1px solid var(--clr-border-soft);
                        padding-bottom: 19px;
                        margin-bottom: 19px;
                        transition: all .3s;
                        position: relative;
                        @media #{$xxl} {
                            margin-bottom: 13.5px;
                            padding-bottom: 13.5px;
                        }
                        @media #{$lg} {
                            margin-bottom: 17.5px;
                            padding-bottom: 17.5px;
                        }
                        &::after {
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            width: 0;
                            transition: all .3s;
                            height: 1px;
                            background-color: var(--clr-theme-primary);
                            content: "";
                        }
                        &:last-child {
                            border-bottom: 0;
                            margin-bottom: 0;
                            padding-bottom: 0;
                            &::after {
                                display: none;
                            }
                        }
                        & a {
                            display: block;
                            color: var(--clr-common-black);
                            font-size: 14px;
                            & i {
                                color: var(--clr-body-soft);
                                float: right;
                                line-height: 21px;
                                transition: all .3s;
                            }
                            &:hover {
                                color: var(--clr-theme-primary);
                                & i {
                                    color: var(--clr-theme-primary);
                                }
                            }
                        }
                        &:hover {
                            &::after {
                                width: 100%;
                                right: auto;
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
        &-categories-btn {
            background-color: var(--clr-common-white);
            box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.06);
            font-weight: 700;
            color: var(--clr-common-black);
            height: 60px;
            transition: all .3s;
            padding: 0 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 254px;
            position: relative;
            @media #{$md} {
                padding: 0 25px;
                width: 230px;
            }
            & i {
                color: var(--clr-theme-primary);
                display: inline-block;
                margin-right: 16px;
                &.down-arr {
                    font-size: 16px;
                    transform: translateY(4px);
                    color: #999;
                    display: inline-block;
                    margin-right: 0;
                }
            }
            & .text-wrap {
                position: relative;
                overflow: hidden;
                display: inline-block;
                & span {
                    transition: all .3s;
                }
                transform: translateY(6px);
                & span:nth-child(2) {
                    position: absolute;
                    left: 0;
                    top: 150%;
                    right: 0;
                    transform: translateY( -50%);
                }
            }
            &:hover {
                background-color: var(--clr-theme-primary);
                color: var(--clr-common-white);
                & i {
                    color: var(--clr-common-white);
                }
                & .text-wrap {
                    & span:first-child {
                        transform: translateY(-30px);
                    }
                    & span:nth-child(2) {
                        top: 50%;
                    }
                }
            }
        }
    }
    // header bottom end
    &-header-bottom-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        & > * {
            flex: 0 0 auto;
        }
    }
    &-header-wide-search {
        padding: 0 30px;
        width: 926px;
        @media (min-width: 1400px) and (max-width: 1599px) {
            width: 752px;
            .apps-rv-slider-wrapper.p-rel.pt-70.pl-100.pr-215 {
                padding-left: 75px;
                padding-right: 150px;
            }
        }
        @media #{$xl} {
            width: 602px;
        }
        @media #{$lg} {
            width: 422px;
        }
        @media #{$md} {
            width: 230px;
            padding: 0 20px;
        }
        &-inner {
            position: relative;
            & input {
                position: relative;
                height: 60px;
                width: 100%;
                padding-left: 22px;
            }
            & button {
                position: absolute;
                left: 0;
                cursor: pointer;
                top: 50%;
                z-index: 1;
                transform: translateY(-50%);
            }
        }
    }
    // search end
    &-header-cart-count-btn {
        background-color: var(--clr-theme-primary);
        color: var(--clr-common-white);
        height: 60px;
        padding: 0 12px;
        padding-left: 32px;
        width: 254px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media #{$md} {
            padding: 0 25px;
            width: 230px;
        }
        & .left {
            & i {
                display: inline-block;
                margin-right: 6px;
            }
            & .price {
                font-size: 14px;
                font-weight: 700;
            }
        }
        & .right {
            & .count {
                display: inline-block;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                background: var(--clr-common-white);
                color: var(--clr-common-black);
                font-size: 14px;
                font-weight: 700;
                line-height: 35px;
            }
        }
    }
    // cart count button end
    &-header-nav-list-2 {
        & ul {
            @media #{$lg} {
                text-align: right;
            }
            & .dropdown-menu {
                text-align: left;
            }
            & li {
                list-style: none;
                margin-right: 36px;
                position: relative;
                display: inline-block;
                &:last-child {
                    @media #{$lg} {
                        margin-right: 0;
                    }
                }
                & a {
                    display: inline-block;
                    color: var(--clr-theme-secondary);
                    font-weight: 500;
                    padding: 10px 0;
                    & i {
                        font-size: 12px;
                    }
                }
                &:hover {
                    & > a {
                        color: var(--clr-theme-tertiary);
                    }
                    & > .dropdown-menu {
                        opacity: 1;
                        visibility: visible;
                        top: 100%;
                    }
                }
                & ul li:hover > a {
                    letter-spacing: 0.5px;
                }
            }
            & .dropdown-menu {
                position: absolute;
                display: block;
                top: 120%;
                border-radius: 0;
                left: 0;
                border: 0;
                width: 220px;
                padding: 25px 29px;
                background: var(--clr-common-white);
                transition: all 0.3s ease-out 0s;
                -ms-box-shadow: 0 0 60px 0 rgba(53, 57, 69, 0.15);
                -o-box-shadow: 0 0 60px 0 rgba(53, 57, 69, 0.15);
                box-shadow: 0 0 60px 0 rgb(53 57 69 / 15%);
                z-index: 11;
                opacity: 0;
                visibility: hidden;
                & li {
                    transition: all 0.3s ease-in;
                    margin: 0;
                    margin-top: 9px;
                    display: block;
                    &:first-child {
                        margin-top: 0;
                    }
                    & a {
                        font-size: 14px;
                        width: 100%;
                        display: block;
                        padding: 0;
                        text-transform: capitalize;
                        font-weight: 500;
                        position: relative;
                        &:hover, &:focus {
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
    // header navigation 2 end
    @at-root {
        .apps-has-bottom-border {
            border-bottom: 1px solid #E0E0E0;
        }
    }
    &-header-right-wrapper-2 {
        & ul {
            text-align: right;
            & li {
                display: inline-block;
                list-style-type: none;
                margin-left: 35px;
                @media #{$xl} {
                    margin-left: 21px;
                }
                &:hover {
                    & a {
                        color: var(--clr-theme-tertiary)
                    }
                }
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
    // header right 2 end
}
.custom-apps-welcome-order {
    @media #{$md} {
        order: -1;
    }
}
.apps-header-bottom {
	position: relative;
	z-index: 9;
    &-2 {
        z-index: 9;
        position: relative;
        & .apps-header-categories-menu-list {
            display: none;
        }
    }
}
.apps-rv-slider-wrapper.pr-215 {
	@media #{$xl} {
        padding-right: 100px;
    }
}
.apps-rv-has-category-mobile-1 {
    & ul {
        & li {
            & i {
                float: right;
            }
        }
    }
}
.apps-topbar-right-links > :first-child {
	transform: translateY(2px);
}
.apps-bg-primary {
    background-color: var(--clr-theme-primary);
}

/**
    * header 02
*/
.apps-fz-header {
    &-right-action {
        &-wrap-2 {
            display: inline-block;
            &.pl-30 {
                @media #{$xl} {
                    padding-left: 17px;
                }
                @media #{$lg} {
                    padding-left: 20px;
                }
                @media #{$xs} {
                    padding-left: 10px;
                }
            }
        }
        &-item-2 {
            & .icon:not(:first-child) {
                margin-left: 25px;
                @media #{$lg} {
                    margin-left: 20px;
                }
                @media #{$xs} {
                    margin-left: 16px;
                }
            }
        }
        &-item-2 {
            & .icon {
                display: inline-block;
                position: relative;
                &:hover {
                    & i {
                        color: var(--clr-theme-tertiary);
                    }
                }
                & i {
                    font-size: 28px;
                    color: var(--clr-theme-secondary);
                    font-weight: 300;
                    transition: all .3s;
                }
                & .count {
                    background-color: var(--clr-theme-tertiary);
                    color: var(--clr-common-white);
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    font-size: 11px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 15px;
                    position: absolute;
                    right: -9px;
                    top: -6px;
                }
            }
        }
    }
    &-right-contact {
        &-list {
            &-wrap-2 {
                display: inline-block;
            }
            &-item-2 {
                display: flex;
                grid-gap: 15px;
                align-items: center;
                flex-wrap: wrap;
                text-align: left;
                & > * {
                    flex: 0 0 auto;
                }
                & .icon {
                    & i {
                        font-size: 28px;
                        color: var(--clr-theme-secondary);
                        font-weight: 300;
                    }
                }
                & .content {
                    @media #{$xl, $lg, $md, $xs} {
                        display: none;
                    }
                    & .label {
                        font-size: 12px;
                        color: #888888;
                        display: block;
                    }
                    & .value {
                        font-size: 14px;
                        font-weight: 500;
                        display: block;
                        color: #222222;
                        &:hover {
                            color: var(--clr-theme-tertiary);
                        }
                    }
                }
            }
        }
    }
    &-search {
        &-wrap-2 {
            display: flex;
            & > * {
                flex: 0 0 auto;
            }
            & .apps-fz-header-search-input {
                flex: 0 0 calc(100% - 160px);
                position: relative;
                & input {
                    width: 100%;
                    height: 45px;
                    border: 1px solid #E0E0E0;
                    border-left: 0;
                    border-top-right-radius: 3px;
                    border-bottom-right-radius: 3px;
                    padding: 0 20px;
                }
                & button[type="submit"] {
                    position: absolute;
                    right: 17px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 14px;
                    & i {
                        font-weight: 400;
                    }
                }
            }
        }
    }
    &-search-2 {
        display: inline-block;
    }
    &-search-select-2 {
        &.nice-select {
            border: 0;
            height: 45px;
            float: none;
            padding: 0 10px;
            line-height: 45px;
            width: 160px;
            border-radius: 3px;
            background: var(--clr-theme-secondary);
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            & .list {
                width: 100%;
                z-index: 99;
                max-height: 280px;
                overflow-y: auto;
            }
        }
        &::after {
            display: none;
        }
        &::before {
            position: absolute;
            right: 25px;
            top: 0;
            font-family: "Font awesome 6 pro";
            content: "\f0d7";
            font-size: 14px;
            color: var(--clr-common-white);
            font-weight: 700;
        }
        & span.current {
            color: var(--clr-common-white);
            font-size: 16px;
            text-align: center;
            font-weight: 500;
            display: block;
            transform: translateX(-10px);
        }
    }
    &-top {
        &-select-lists-2 {
            & .nice-select {
                float: none;
                display: inline-block;
                padding: 0;
                padding-right: 12px;
                background: transparent;
                padding-left: 35px;
                border: 0;
                color: var(--clr-common-white);
                &:first-child {
                    padding-left: 0;
                }
                &::after {
                    display: none;
                }
                &::before {
                    font-family: "Font awesome 5 pro";
                    content: "\f107";
                    color: var(--clr-common-white);
                    font-size: 12px;
                    position: absolute;
                    right: 0;
                    top: 13px;
                    line-height: 1;
                }
            }
        }
        &-middle-2 {
            & p {
                margin-bottom: 0;
                font-size: 12px;
                font-weight: 700;
                color: var(--clr-common-white);
            }
        }
        &-links-2 {
            & a {
                font-size: 12px;
                color: var(--clr-common-white);
                display: inline-block;
            }
        }
    }
}
.apps-header-bottom-2 {
	& .apps-header-categories {
		& .apps-header-categories-menu-list {
			& ul {
				& li {
					& a {
						&:hover {
							color: var(--clr-theme-tertiary);
							& i {
								color: var(--clr-theme-tertiary);
							}
						}
					}
					&::after {
						background-color: var(--clr-theme-tertiary);
					}
				}
			}
		}
	}
}

.pl-25.apps-fz-header-space-left-2 {
    @media #{$xl} {
        padding-left: 20px;
    }
    @media #{$xs} {
        padding-left: 5px;
    }
}
.pl-25.apps-fz-header-space-left-2 {
    @media #{$lg} {
        padding-left: 20px;
    }
}
.apps-fz-header-middle-2 {
    @media #{$md, $xs} {
        border-bottom: 1px solid #eaeaea;
    }
}
.apps-fz-hero-offer-wrapper-main-2 {
    & .apps-fz-hero-sidebar-carousel-active-2.mt-30 {
        @media #{$md} {
            margin-top: 0;
        }
    }
    & > .row {
        & > *:last-child {
            @media #{$md} {
                order: -1;
            }
        }
        & > *:first-child {
            @media #{$md} {
                order: -2;
            }
        }
    }
}
// header 4
.apps-fz {
    &-header {
        &-cart-btn-4 {
            width: 50px;
            height: 50px;
            background: var(--clr-gray-soft);
            text-align: center;
            line-height: 50px;
            border-radius: 50%;
            position: relative;
            & i {
                transition: all .3s;
            }
            &:hover {
                background-color: var(--clr-theme-4);
                & i {
                    color: var(--clr-common-white);
                }
            }
            & .count {
                position: absolute;
                right: -7px;
                top: 3px;
                line-height: 21px;
                width: 20px;
                height: 20px;
                background: var(--clr-body-dark-3);
                font-size: 14px;
                color: var(--clr-common-white);
                border-radius: 50%;
            }
        }
        &-right {
            &-action-4 {
                &.has-left-bar-4 {
                    margin-left: 75px;
                    position: relative;
                    &::before {
                        content: "";
                        height: 16px;
                        width: 2px;
                        background-color: #b9b9b9;
                        position: absolute;
                        left: -40px;
                        top: 16px;
                        @media #{$md} {
                            display: none;
                        }
                    }
                    &.fz-responsive {
                        @media #{$lg} {
                            margin-left: 40px;
                        }
                        &::before {
                            @media #{$lg} {
                                left: -24px;
                            }
                        }
                    }
                }
                & > * {
                    &:not(:first-child) {
                        margin-left: 17px;
                    }
                }
                & button, & a {
                    color: var(--clr-body-dark-2);
                    &:hover {
                        color: var(--clr-theme-4);
                    }
                    & i {
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }
        }
        &-bar-4 {
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            background: var(--clr-gray-soft);
            border-radius: 50%;
            font-size: 20px;
            color: var(--clr-body-dark-2);
            margin-right: 10px;
            &:hover {
                background-color: var(--clr-theme-4);
                color: var(--clr-common-white);
            }
        }
        &-logo-4 {
            display: inline-block;
            & img {
                max-width: 108px;
            }
        }
        &-nav-4 {
            &-main {
                border-bottom: 1px solid #dedede;
                @media #{$md, $xs} {
                    padding: 20px 0;
                }
                &:is(.apps-fz-header-nav-5-main) {
                    @include hoverMenuText(--clr-theme-5);
                    & ul {
                        & li {
                            &.menu-item-has-children {
                                & > a {
                                    &::after {
                                        content: "\2b";
                                        color: var(--clr-common-white);
                                    }
                                    &:hover::after {
                                        color: var(--clr-theme-5);
                                    }
                                }
                            }
                            & a {
                                font-family: $adobeclean;
                                color: var(--clr-common-white);
                            }
                            & .dropdown-menu {
                                transition: all 0.3s ease-out 0s;
                                -ms-box-shadow: 0 0 60px 0 rgba(53, 57, 69, 0.15);
                                -o-box-shadow: 0 0 60px 0 rgba(53, 57, 69, 0.15);
                                box-shadow: 0 0 60px 0 rgba(53, 57, 69, 0.15);
                                background-color: #111;
                                & li {
                                    margin-left: 0;
                                    display: block;
                                    margin-bottom: 10px;
                                    &:last-child {
                                        margin-bottom: 0;
                                    }
                                    & a {
                                        color: var(--clr-common-white);
                                        padding: 0 0;
                                    }
                                    &:hover > a {
                                        letter-spacing: 0.5px;
                                        color: var(--clr-theme-5);
                                    }
                                }
                            }
                            &:hover > .dropdown-menu {
                                opacity: 1;
                                visibility: visible;
                                top: 100%;
                            }
                        }
                    }

                }
            }
            @include hoverMenuText(--clr-theme-4);
            & ul {
                & li {
                    display: inline-block;
                    margin-left: 46px;
                    position: relative;
                    @media #{$lg} {
                        margin-left: 22px;
                    }
                    &:first-child {
                        margin-left: 0;
                    }
                    &.menu-item-has-children {
                        & > a {
                            &::after {
                                content: "+";
                                color: var(--clr-body-dark-3);
                                display: inline-block;
                                margin-left: 5px;
                                transition: all 0.3s;
                                border: 0;
                                transform: translateY(3px);
                            }
                            &:hover::after {
                                color: var(--clr-theme-4);
                            }
                        }
                    }
                    & a {
                        text-decoration: none;
                        font-family: $adobeclean;
                        padding: 30px 0;
                        color: var(--clr-body-dark-3);
                        font-weight: 400;
                        display: inline-block;
                        &:hover {
                            background-color: transparent;
                        }
                    }
                    &:hover > a, &:hover > a::after {
                        background-color: transparent;
                        color: var(--clr-theme-4);
                    }
                    & .dropdown-menu {
                        position: absolute;
                        display: block;
                        border-radius: 0;
                        left: 0;
                        border: 0;
                        min-width: 250px;
                        padding: 30px 30px;
                        transition: all 0.3s ease-out 0s;
                        -ms-box-shadow: 0 0 60px 0 rgba(53, 57, 69, 0.15);
                        -o-box-shadow: 0 0 60px 0 rgba(53, 57, 69, 0.15);
                        box-shadow: 0 0 60px 0 rgb(53 57 69 / 15%);
                        z-index: 11;
                        opacity: 0;
                        visibility: hidden;
                        top: 120%;
                        background-color: var(--clr-common-white);
                        & li {
                            margin-left: 0;
                            display: block;
                            margin-bottom: 10px;
                            &:last-child {
                                margin-bottom: 0;
                            }
                            & a {
                                color: var(--clr-common-black);
                                padding: 0 0;
                            }
                            &:hover > a {
                                letter-spacing: 0.5px;
                                color: var(--clr-theme-4);
                            }
                        }
                    }
                    &:hover > .dropdown-menu {
                        opacity: 1;
                        visibility: visible;
                        top: 100%;
                    }
                }
            }
        }
    }
    &-topbar {
        &-right-4 {
            & a {
                font-size: 14px;
                color: var(--clr-common-white);
                @media #{$xs} {
                    margin: 0 20px;
                }
                & i {
                    font-weight: 400;
                }
            }
            & .nice-select {
                float: none;
                display: inline-block;
                background: transparent;
                padding: 0;
                margin-left: 40px;
                border: 0;
                padding-right: 15px;
                @media #{$lg} {
                    margin-left: 21px;
                }
                &.has_nice_select {
                    @media #{$md} {
                        margin-left: 26px;
                        padding-right: 10px;
                    }
                    @media #{$xs} {
                        margin: 0 20px;
                    }
                }
                & span.current {
                    color: var(--clr-common-white);
                }
                &::after {
                    border-color: var(--clr-common-white);
                    right: 0;
                    animation-delay: initial;
                    top: 50%;
                    transform: translateY(-50%) rotate(45deg);
                }
                &::before {
                    height: 12px;
                    width: 1px;
                    background: var(--clr-common-white);
                    content: "";
                    position: absolute;
                    left: -21px;
                    top: 13px;
                    @media #{$lg} {
                        left: -12px;
                    }
                    @media #{$md} {
                        left: -15px;
                    }
                }
            }
        }
        &-center-text-4 {
            & p {
                font-family: $adobeclean;
                font-size: 14px;
                font-weight: 700;
                color: var(--clr-common-white);
                margin-bottom: 0;
            }
        }
        &-left-4 {
            & a {
                font-family: $adobeclean;
                font-size: 14px;
                color: var(--clr-common-white);
                & i {
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }
}

.apps-fz-header-top-nice-select-rand .nice-select{
    padding: 0;
    height: 30px;
    line-height: 30px;
    padding-right: 16px;
    background-color: transparent;
    border: 0;
    position: relative;
    z-index: 1;
    margin-right: 0;
    padding-right: 35px;
    color: var(--clr-body-dark);
    font-family: "Futura PT";
    font-weight: 300;
    &::before {
        position: absolute;
        right: 0;
        top: 50%;
        height: 13px;
        width: 1px;
        content: "";
        background: #ddd;
        transform: translateY(-50%);
    }
    &::after {
        right: 20px;
        border-right: 1px solid var(--clr-body-dark);
        border-bottom: 1px solid var(--clr-body-dark);
        width: 7px;
        height: 7px;
    }
}
.apps-header-3 .apps-fz-header-top-3 {
    background-color: #ffeee1;
}

.revel-black-bg {
    background-color: #000;
}
.apps-fz-header-right-action-5 > a {
    padding-left: 20px;
    & i {
        color: var(--clr-common-white);
        font-weight: 400;
    }
}
.apps-fz-header-top-2 {
    background-color: #00274C;
}
.apps-fz-header-right-action-wrap-2.pl-30 {
    @media #{$xxl} {
        padding-left: 20px;
    }
}
.apps-header-bottom.gray-bg .apps-header-wide-search {
    @media #{$md, $sm} {
        border-left: 1px solid #e7e7e7;
    }
}
.apps-header-wide-search {
    @media #{$sm} {
        width: 50%;
    }
}
// header 6
.apps-fz-header {
    &-action-6 {
        display: inline-block;
        position: relative;
        &::before {
            position: absolute;
            left: -80px;
            top: 50%;
            transform: translateY(-50%);
            content: "";
            width: 1px;
            height: 80px;
            background-color: #122E00;
            opacity: .2;
            @media #{$xl} {
                left: -40px;
            }
            @media #{$lg} {
                left: -21px;
            }
            @media #{$md, $xs} {
                display: none;
            }
        }
    }
    &-wishlist-count-btn-6 {
        & i {
            font-size: 20px;
            vertical-align: middle;
            color: #122E00;
        }
        & .label {
            font-size: 16px;
            color: #122E00;
            font-family: $dubai;
            margin-left: 8px;
            @media #{$xs} {
                display: none;
            }
            @media #{$sm} {
                display: inline-block;
            }
        }
    }
    &-cart-count-btn-6 {
        display: inline-block;
        position: relative;
        & .count {
            position: absolute;
            top: -16px;
            right: -10px;
            width: 16px;
            height: 16px;
            display: inline-block;
            line-height: 13px;
            background: #122E00;
            font-family: 'Playfair Display', sans-serif;
            color: var(--clr-common-white);
            font-size: 14px;
            border-radius: 50%;
            text-align: center;
        }
        & i {
            font-size: 20px;
            color: #122E00;
        }
    }
    &-bar-6 {
        font-size: 22px;
        color: #122E00;
        position: relative;
        margin-left: 55px;
        @media #{$lg} {
            margin-left: 30px;
        }
        @media #{$xs} {
            margin-left: 30px;
        }
        &::before {
            height: 16px;
            width: 1px;
            background-color: #122E00;
            content: "";
            position: absolute;
            opacity: 4.5;
            left: -30px;
            top: 50%;
            transform: translateY(-50%);
            @media #{$lg} {
                left: -16px;
            }
            @media #{$xs} {
                left: -16px;
            }
        }
    }
    &-nav-6 {
        & ul {
            & li {
                display: inline-block;
                margin: 0 17px;
                position: relative;
                & .dropdown-menu {
                    position: absolute;
                    min-width: 250px;
                    z-index: 3;
                    text-align: left;
                    border: 1px solid #cad5c8;
                    transition: all .3s;
                    display: block;
                    transform: scaleY(0);
                    transform-origin: top;
                    background: transparent;
                    border-radius: 0;
                    padding: 0;
                    & li {
                        display: block;
                        margin: 0;
                        background-color: transparent;
                        &:not(:last-child) {
                            margin-bottom: 5px;
                        }
                        & a  {
                            display: block;
                            border-bottom: 1px solid #cad5c8;
                            padding: 13px 20px;
                            &:hover, &:active {
                                background-color: transparent;
                                color: var(--clr-theme-6);
                            }
                        }
                        &:last-child {
                            & > a {
                                border: 0;
                            }
                        }
                    }
                }
                @media #{$lg} {
                    margin: 0 10px;
                }
                & a {
                    display: inline-block;
                    font-family: $dubai;
                    font-size: 18px;
                    color: #122E00;
                    font-weight: 500;
                    padding: 27px 0;
                }
                &:hover {
                    & > .dropdown-menu {
                        transform: scaleY(1);
                    }
                }
            }
        }
    }
    &-area-6 {
        border-bottom: 1px solid transparentize(#122e00, .8);
    }
    &-logo-6 {
        & a {
            display: inline-block;
            position: relative;
            &::after {
                position: absolute;
                right: -80px;
                top: 50%;
                transform: translateY(-50%);
                height: 80px;
                width: 1px;
                background-color: transparentize(#122e00, .8);
                content: "";
                @media #{$xl} {
                    right: -42px;
                }
                @media #{$md, $xs} {
                    display: none;
                }
            }
        }
        & img {
            max-width: 127px;
        }
    }
}
.apps-fz-header-cart-count-btn-6.ml-25 {
    @media #{$lg} {
        margin-left: 15px;
    }
    @media #{$xs} {
        margin-left: 12px;
    }
}
.header-area.apps-fz-header-area-6 {
    @media #{$md, $xs} {
        padding: 20px 0;
    }
}
.header-area.apps-fz-header-area-6 > .pl-80.pr-80 {
    @media #{$xs} {
        padding: 0 15px;
    }
}

.apps-fz-header-nav-6 #mobile-menu-updated {
    display: block !important;
}
.apps-fz-header-nav-6 ul li > .dropdown-menu .dropdown-menu {
    right: 100%;
    left: auto;
    top: 0;
    border-top: 1px solid #cad5c8;
}