.apps-woo-product {
    &-box {
        &-content-1 {
            padding: 32px 45px;
            padding-bottom: 44px;
            @media #{$md} {
                padding: 32px 15px;
            }
            @media #{$xs} {
                padding: 32px 19px;
            }
            & .apps-title {
                font-family: $roboto;
                font-weight: 400;
                font-size: 16px;
                margin-bottom: 20px;
            }
            & .apps-price {
                font-size: 16px;
                font-weight: 700;
                color: var(--clr-theme-primary);
                display: inline-block;
                & del {
                    & > span {
                        & > bdi {
                            text-decoration: line-through;
                            color: #777;
                            font-size: 14px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
        &-action-wrap-1 {
            display: flex;
            grid-gap: 10px;
            justify-content: center;   
            @media #{$sm} {
                grid-gap: 8px;
            }         
            &.has-pos {
                position: absolute;
                bottom: 50px;
                left: 0;
                right: 0;
                @media #{$lg, $md, $xs} {
                    bottom: 30px;
                }
                @media #{$sm} {
                    bottom: 25px;
                }
            }
            & > button, & > a.cart {
                transform: translateY(25px);
                transition: all .3s;
                opacity: 0;
                visibility: hidden;
            }
            &.fz-visible-always {
                justify-content: flex-start;
                & > button, & a.cart {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                    &.fz-responsive {
                        @media #{$xs, $md} {
                            padding: 0 30px;
                        }
                    }
                }
            }
            & button.wishlist, & button.compare {
                width: 54px;
                height: 54px;
                position: relative;
                overflow: hidden;
                background-color: var(--clr-common-white);
                border-radius: 6px;
                box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.1);
                border: 0;
                color: var(--clr-theme-primary);
                @media #{$lg, $xs} {
                    width: 50px;
                    height: 50px;
                }
                @media #{$sm} {
                    width: 45px;
                    height: 45px;
                }
                &.woosw-added {
                    background-color: var(--clr-theme-primary);
                    color: var(--clr-common-white);
                }
                @include hover-animated-icon;
            }
            & button.cart, & a.cart {
                height: 50px;
                padding: 0 30px;
                border-radius: 6px;
                background: var(--clr-common-white);
                box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.1);
                color: var(--clr-theme-primary);
                font-size: 14px;
                font-weight: 700;
                transition-delay: .1s;
                overflow: hidden;
                line-height: 50px;
                text-transform: uppercase;
                position: relative;
                @media #{$lg} {
                    padding: 0 20px;
                }
                @media #{$sm} {
                    height: 45px;
                    padding: 0 15px;
                    line-height: 45px;
                }
                &:hover {
                    background-color: var(--clr-common-white);
                    color: var(--clr-theme-primary);
                }
                &.added {
                    color: var(--clr-common-white);
                    background: var(--clr-theme-primary);
                    &::after {
                        display: none;
                    }
                    &:hover {
                        background-color: var(--clr-theme-primary);
                    }
                }
                & span {
                    transition: all .3s;
                    &:last-child {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 130%;
                        text-align: center;
                        transform: translateY(-50%);
                    }
                }
                &:hover {
                    & span {
                        &:first-child {
                            transform: translateY(-45px);
                        }
                        &:last-child {
                            top: 50%;
                        }
                    }
                }
            }
        }
        &-image-1 {
            position: relative;
            & > a, & > a > img {
                @media #{$xs} {
                    width: 100%;
                    display: block;
                }
            }
            & .cart {
                transition-delay: .1s;
                &.added {
                    background-color: var(--clr-theme-primary);
                    color: var(--clr-common-white);
                }
            }
            & .compare {
                transition-delay: .2s;
                &.woosc-added {
                    background-color: var(--clr-theme-primary);
                    color: var(--clr-common-white);
                }
            }
        }
        &-1 {
            &:hover {
                & .apps-woo-product-box-action-wrap-1 {
                    & > button, & > a.cart {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0);
                    }
                }
            }
        }
    }
    &-badge-wrap {
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
        &.has-pos {
            position: absolute;
            top: 20px;
            right: 20px;
        }
        & > span {
            width: 50px;
            height: 50px;
            display: block;
            font-size: 14px;
            font-weight: 700;
            color: var(--clr-common-white);
            border-radius: 50%;
            line-height: 50px;
            text-align: center;
            background-color: var(--clr-theme-primary);
            &.badge-onsale {
                background-color: #62ab00;
            }
        }
    }
}
.apps-woo-product-rating {
    & i {
        font-size: 14px;
        &.active {
            color: #fe9602;
        }
    }
}
.apps-fz {
    &-offer {
        &-product-box-4 {
            position: relative;
            & .image {
                overflow: hidden;
                & a {
                    display: block;
                    & img {
                        width: 100%;
                    }
                }
                & img {
                    transition: all .3s;
                }
            }
            &:hover {
                & .image {
                    & img {
                        transform: scale(1.1);
                    }
                }
            }
            & .apps-fz-offer-badge-4 {
                position: absolute;
                max-width: 40px;
                &.has-pos {
                    top: 20px;
                    left: 20px;
                }
                & .count {
                    font-size: 16px;
                    color: var(--clr-common-white);
                    font-family: $adobeclean;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            & .content {
                box-shadow: 0px 15px 33.82px 4.18px rgb(0 0 0 / 6%);
                background-color: var(--clr-common-white);
                display: inline-block;
                padding: 12px 20px;
                position: absolute;
                bottom: 20px;
                left: 20px;
                & .title {
                    font-family: $adobeclean;
                    font-size: 16px;
                    font-weight: 700;
                    color: var(--clr-body-dark-3);
                    margin-bottom: 0;
                    & a {
                        &:hover {
                            color: var(--clr-theme-4);
                        }
                    }
                }
                & .price {
                    font-size: 16px;
                    font-family: $adobeclean;
                    font-weight: 700;
                    margin-bottom: 0;
                }
            }
        }
    }
    &-product-action-list-2 {
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
        &.has-pos {
            left: 0;
            top: 0;
        }
        & button, & > a {
            width: 34px;
            height: 34px;
            line-height: 34px;
            display: block;
            border: 1px solid #E0E0E0;
            border-radius: 50%;
            font-weight: 400;
            color: var(--clr-theme-secondary);
            overflow: hidden;
            position: relative;
            & i {
                transition: all .3s;
                &:nth-child(2) {
                    position: absolute;
                    left: 50%;
                    top: 130%;
                    transform: translate(-50%, -50%);
                }
            }
            &:hover {
                background-color: var(--clr-theme-secondary);
                border-color: transparent;
                color: var(--clr-common-white);
                & i {
                    &:nth-child(1) {
                        transform: translateY(-27px);
                    }
                    &:nth-child(2) {
                        top: 50%;
                    }
                }
            }
        }
    }
    &-weekend-offer-box-2 {
        background-color: #F8F8F8;
        text-align: center;
        border-radius: 10px;
        padding: 25px;
        padding-bottom: 32px;
        & .image {
            padding-top: 6px;
            position: relative;
            display: block;
            overflow: hidden;
            @media #{$lg} {
                margin-bottom: 5px;
            }
            & img {
                transition: all .3s;
                margin: 3px 0;
                @media #{$xxl} {
                    margin: 0;
                    max-height: 231px;
                }
                @media #{$xl} {
                    max-height: 287px;
                }
                @media #{$lg} {
                    margin: 0;
                }
            }
        }
        & .apps-fz-product-discount-percent-box-2.has-pos {
            right: 0;
            top: 0;
        }
        &:hover {
            & .image {
                & img {
                    transform: scale(1.1);
                }
            }
        }
    }
    &-weekend-remains-offer-text-2 {
        font-size: 13px;
        margin-bottom: 0;
    }
    &-weekend-countdown {
        &-section {
            text-align: center;
        }
        &-value {
            font-weight: 500;
            margin-bottom: 0;
            min-width: 30px;
            color: $black;
            box-shadow: 0 6px 16px rgb(0 0 0 / 4%);
            height: 30px;
            background: var(--clr-common-white);
            line-height: 30px;
            border-radius: 2px;
        }
        &-label {
            font-size: 12px;
            color: $black;
        }
    }
    &-product-discount-percent-box-2 {
        font-size: 14px;
        font-weight: 500;
        background: var(--clr-theme-tertiary);
        color: var(--clr-common-white);
        display: inline-block;
        height: 26px;
        line-height: 27px;
        border-radius: 13px;
        padding: 0 10px;
    }
}
.apps-fz-rating-2 {
    & i {
        font-size: 14px;
        color: #FFAE00;
        letter-spacing: 2px;
        &.active {
            font-weight: 700;
        }
    }
}
.apps-fz-weekend-offer-product {
    &-price-2 {
        & > * {
            margin: 0 4px;
        }
    }
    &-price-regular-2 {
        font-size: 18px;
        font-family: $poppins;
        font-weight: 500;
        color: var(--clr-theme-tertiary);
        display: inline-block;
    }
    &-price-old-2 {
        font-size: 14px;
        font-weight: 500;
    }
    &-title-2 {
        font-weight: 500;
        font-size: 16px;
        color: #202020;
        margin-bottom: 5px;
        & a {
            &:hover {
                color: var(--clr-theme-tertiary);
            }
        }
    }
}
.apps-fz-weekend-countdown.has-flex {
    display: flex;
    justify-content: center;
    grid-gap: 16px;
    &.style-2 {
        & .apps-fz-weekend-countdown-value {
            width: 40px;
            height: 40px;
            line-height: 40px;
            background: #f8f8f8;
            box-shadow: none;
            font-size: 14px;
            border-radius: 2px;
            font-weight: 600;
        }
        & .apps-fz-weekend-countdown-label {
            font-family: $poppins;
            font-size: 14px;
            color: #777777;
        }
    }
}
.apps-fz {
    &-hot-deals-top-right {
        &-content-2 {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            grid-gap: 0 27px;
            @media #{$xs} {
                justify-content: center;
            }
            & > span {
                font-family: $poppins;
                font-size: 14px;
                font-weight: 600;
                color: var(--clr-theme-tertiary);
                @media #{$xs} {
                    display: none;
                }
            }
        }
    }
    &-nav-arrow-2 {
        width: 40px;
        height: 40px;
        background: #f8f8f8;
        border-radius: 50%;
        color: var(--clr-theme-secondary);
        @include hover-animated-icon;
        &:hover {
            background-color: var(--clr-theme-secondary);
            color: var(--clr-common-white);
        }
    }
    &-product {
        &-action-wrapper-2 {
            display: flex;
            grid-gap: 0 10px;
            padding: 0 30px;
            justify-content: center;
            width: 100%;
            &.has-pos {
                position: absolute;
                left: 0;
                bottom: 20px;
                transition: all .3s;
                opacity: 0;
                visibility: hidden;
            }
            & a {
                display: inline-block;
                width: 40px;
                height: 40px;
                background: var(--clr-common-white);
                text-align: center;
                line-height: 40px;
                border-radius: 3px;
                font-size: 16px;
                color: var(--clr-theme-secondary);
                box-shadow: 0px 6px 14.72px 1.28px rgb(0 0 0 / 4%);
                @include hover-animated-icon;
                &:hover {
                    color: var(--clr-common-white);
                    background-color: var(--clr-theme-secondary);
                    box-shadow: none;
                }
            }
            & button {
                display: inline-block;
                width: 40px;
                height: 40px;
                background: var(--clr-common-white);
                text-align: center;
                line-height: 40px;
                border-radius: 3px;
                font-size: 0;
                color: var(--clr-theme-secondary);
                box-shadow: 0px 6px 14.72px 1.28px rgb(0 0 0 / 4%);
                @include hover-animated-icon;
                &:hover {
                    color: var(--clr-common-white);
                    background-color: var(--clr-theme-secondary);
                    box-shadow: none;
                } 
            }
        }
        &-badge {
            &-wrapper-2 {
                display: flex;
                flex-direction: column;
                grid-gap: 12px 0;
                &.has-pos {
                    position: absolute;
                    left: 25px;
                    top: 25px;
                }
                & > * {
                    width: fit-content;
                }
            }
        }
        &-box {
            &-2 {
                & .content {
                    padding: 21px;
                    text-align: center;
                    & .price-wrap {
                        & > * {
                            margin: 0 5px;
                        }
                        & .current {
                            font-weight: 700;
                            color: var(--clr-theme-secondary);
                            display: inline-block;
                        }
                        & .old {
                            font-size: 14px;
                            font-weight: 500;
                            color: var(--clr-body-color);
                            display: inline-block;
                        }
                    }
                    & .title {
                        font-size: 16px;
                        color: $black;
                        font-weight: 400;
                        margin-bottom: 5px;
                        font-family: $roboto;
                        & a {
                            &:hover {
                                color: var(--clr-theme-tertiary);
                            }
                        }
                    }
                }
                &:hover {
                    & .apps-fz-product-action-wrapper-2.has-pos {
                        bottom: 50px;
                        opacity: 1;
                        visibility: visible;
                    }
                }
                & .image {
                    position: relative;
                    & a.img {
                        overflow: hidden;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        border-radius: 10px;
                        justify-content: center;
                        min-height: 340px;
                        @media #{$sm} {
                            min-height: 270px;
                        }
                        & img {
                            transition: all .3s;
                            width: auto;
                        }
                    }
                    &:hover {
                        & a.img {
                            & img {
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
            &-sm-2 {
                & .image {
                    & a.img {
                        min-height: 250px;
                    }
                }
                & .apps-fz-product-badge-wrapper-2 {
                    left: auto;
                    right: 15px;
                    top: 15px;
                    grid-gap: 10px;
                }
                & .content {
                    & .price-wrap {
                        & .current {
                            color: $black;
                        }
                    }
                }
                &:hover {
                    & .apps-fz-product-action-wrapper-2 {
                        padding: 0 20px;
                        @media #{$xxl} {
                            padding: 0 9px;
                        }
                        &.has-pos {
                            bottom: 20px;
                        }
                    }
                }
            }
        }
    }
    &-section-title-2 {
        color: $black;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 0;
    }
    &-hero-product{
        &-box-2 {
            padding: 28.5px 25px;
            border-radius: 10px;
            overflow: hidden;
            @media #{$xxl} {
                padding-top: 22px;
                padding-bottom: 22px;
            }
            @media #{$xs} {
                text-align: center;
                padding: 50px 30px;
            }
            & .image {
                & img {
                    transition: all .3s;
                }
            }
            & .apps-fz-product-discount-percent-box-2 {
                margin-bottom: 9px;
            }
            &:hover {
                & .image {
                    & img {
                        transform: scale(1.1);
                    }
                }
            }
        }
        &-title-2 {
            font-size: 22px;
            font-weight: 600;
            color: $black;
            margin-bottom: 5px;
            @media #{$xxl} {
                font-size: 18px;
            }
            @media #{$md} {
                font-size: 20px;
            }
            & a {
                &:hover {
                    color: var(--clr-theme-tertiary);
                }
            }
        }
        &-shop-btn-2 {
            font-size: 14px;
            font-weight: 500;
            color: $black;
            &:hover {
                color: var(--clr-theme-tertiary);
            }
            & i {
                font-size: 14px;
                margin-left: 3px;
            }
        }
    }
}
.apps-fz {
    &-has-slide-price {
        &-cart-2 {
            overflow: hidden;
            position: relative;
            & > .price-wrap {
                transition: all .3s;
            }
            & .apps-fz-price-slide-cart-btn-2 {
                position: absolute;
                left: 0;
                top: 140%;
                transform: translateY(-50%);
                right: 0;
                text-align: center;
            }
        }
    }
    &-price-slide-cart {
        &-btn-2 {
            font-size: 16px;
            color: $black;
            font-weight: 700;
            &:hover {
                color: var(--clr-theme-tertiary);
            }
        }
    }
    &-product-box-sm-2 {
        & .content {
            padding: 21px 15px;
        }
        &:hover {
            & .apps-fz-price-slide-cart-btn-2  {
                top: 50%;
            }
            & .price-wrap {
                transform: translateY(-40px);
            }
        }
    }
    // product list
    &-list-sm {
        &-product-box-2 {
            @at-root {
                .apps-fz-list-sm-product-border-title-2 {
                    font-weight: 600;
                    font-size: 24px;
                    color: $black;
                    display: inline-block;
                    position: relative;
                    @media (min-width: 1025px) and (max-width: 1235px) {
                        font-size: 22px;
                    }
                    &::after {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 1px;
                        background-color: $black;
                        content: "";
                    }
                    &:is(.mb-70) {
                        @media #{$xs} {
                            margin-bottom: 40px;
                        }
                        @media #{$md, $lg} {
                            margin-bottom: 50px;
                        }
                    }
                }
            }
        }
        &-product-wrapper-2 {
            overflow: hidden;
            display: flex;
            grid-gap: 0 10px;
            align-items: center;
            @media #{$xs}{
                grid-gap: 0 25px;
            }
            & .image {
                width: 90px;
                text-align: center;
            }
        }
        &-price-wrap-2 {
            & .current {
                font-weight: 500;
                color: $black;
                display: inline-block;
            }
            & .old {
                font-weight: 500;
                font-size: 14px;
                display: inline-block;
                margin-left: 10px;
            }
        }
        &-content {
            &-2 {
                overflow: hidden;
                & .apps-fz-rating-2 {
                    & i {
                        font-size: 13px;
                        font-weight: 700;
                        color: #d2d2d2;
                        &.active {
                            color: #fe9602;
                        }
                    }
                }
                & .title {
                    font-size: 16px;
                    font-weight: 600;
                    color: #222222;
                    margin-bottom: 5px;
                    @media #{$xxl, $xl, $lg, $md, $xs} {
                        line-height: 1.3;
                    }
                    @media (min-width: 1025px) and (max-width: 1235px) {
                        font-size: 14px;
                    }
                    & a {
                        &:hover {
                            color: var(--clr-theme-tertiary);
                        }
                    }
                }
            }
        }
    }
}
.apps-fz-weekend-offer-countdown-wrapper-main-2.apps-fz-has-border-top.pt-30.mt-30 {
    @media #{$lg} {
        margin-top: 22.5px;
        padding-top: 22.5px;    
    }
}
.apps-fz-hot-deals-top-wrapper-2 {
    @media #{$xs} {
        padding-bottom: 40px;
    }
}
// product 4
.apps-fz {
    &-section {
        &-subtitle-4 {
            font-family: $adobeclean;
            font-size: 16px;
            font-weight: 400;
            display: block;
            margin-bottom: 0;
            color: var(--clr-body-dark-3);
        }
        &-title-4 {
            font-weight: 700;
            font-size: 48px;
            margin-bottom: 0;
            color: var(--clr-body-dark-3);
            font-family: $adobeclean;
            @media #{$md} {
                font-size: 40px;
            }
            @media #{$xs} {
                font-size: 32px;
            }
            @media #{$sm} {
                font-size: 38px;
            }
        }
    }
    &-shop-now-rounded-btn-4 {
        height: 40px;
        display: inline-block;
        background-color: var(--clr-body-dark-3);
        line-height: 40px;
        color: var(--clr-common-white);
        border-radius: 5px;
        padding: 0 45px;
        font-weight: 700;
        font-family: $adobeclean;
        @include hoverBtnTextAnimated;
    }
    &-product {
        &-content-wrap-4 {
            padding-top: 25px;
        }
        &-price-color-wrapper-4 {
            display: flex;
            align-items: center;
            grid-gap: 20px; 
        }
        &-price-4 {
            font-size: 18px;
            font-weight: 700;
            color: var(--clr-body-dark-3);
            font-family: $adobeclean;
            display: inline-block;
        }
        &-color {
            &-wrapper-4 {
                display: inline-block;
                & > span {
                    width: 8px;
                    height: 8px;
                    display: inline-block;
                    border-radius: 50%;
                    outline: 1px solid #c8c8c8;
                    cursor: pointer;
                    outline-offset: 2px;
                    &.active {
                        outline-color: var(--clr-body-dark-3);
                    }
                    &:not(:last-child) {
                        margin-right: 6px;
                    }
                }
            }
        }
        &-title-4 {
            font-family: $adobeclean;
            font-size: 18px;
            font-weight: 700;
            color: var(--clr-body-dark-3);
            margin-bottom: 0;
            & a:hover {
                color: var(--clr-theme-4);
            }
        }
        &-category-4 {
            display: block;
            font-family: $adobeclean;
            margin-bottom: 4px;
            &:hover {
                color: var(--clr-theme-4);
            }
        }
        &-box {
            &-discount-wrapper-4 {
                position: absolute;
                top: 25px;
                left: 25px;
            }
            &-discount-item-4 {
                font-size: 14px;
                font-weight: 700;
                font-family: Adobe Clean;
                background: var(--clr-theme-4);
                color: var(--clr-common-white);
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                border-radius: 50%;
            }
            &-action {
                &-btn-pos-4 {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    text-align: center;
                    padding: 0 20px;
                    opacity: 0;
                    visibility: hidden;
                    transition: all .3s;
                }
            }
            &-4 { 
                &-actions {
                    display: inline-block;
                    background: var(--clr-common-white);
                    padding: 11px 10px;
                    border-radius: 30px;
                    height: 40.25px;
                    overflow: hidden;
                    transition: all .7s;
                    & a {
                        font-size: 18px;
                        font-weight: 400;
                        color: #060606;
                        display: block;
                        line-height: 1;
                        text-align: center;
                        margin-bottom: 21px;
                        @media #{$sm} {
                            margin-bottom: 12px;
                        }
                        @include hover-animated-icon;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        &:hover {
                            color: var(--clr-theme-4);
                        }
                    }
                    & button {
                        font-size: 0;
                        font-weight: 400;
                        color: #060606;
                        display: block;
                        text-align: center;
                        margin-bottom: 21px;
                        @media #{$sm} {
                            margin-bottom: 12px;
                        }
                        @include hover-animated-icon;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        i {
                            font-size: 18px;
                            line-height: 1;
                        }
                        &:is(.woosc-btn) {
                            &:before {
                                margin-right: 0;
                            }
                        }
                        &:is(.woosq-btn) {
                            &:before {
                                margin-right: 0;
                            }
                        }
                        &:is(.woosw-btn) {
                            &:before {
                                margin-right: 0;
                            }
                        }
                        &:hover {
                            color: var(--clr-theme-4);
                        }
                    }
                }
                &:hover {
                    & .apps-fz-product-box-4-actions {
                        height: 159px;
                        @media #{$sm} {
                            height: 135px;
                        }
                    }
                    & .apps-fz-product-box-action-btn-pos-4 {
                        opacity: 1;
                        visibility: visible;
                        bottom: 25px;
                    }
                }
            }
        }
    }
    &-product-image {
        &-wrap-4 {
            background-color: #f9f9f9;
            height: 351px;
            display: flex;
            position: relative;
            align-items: center;
            overflow: hidden;
            justify-content: center;
            @media #{$xs} {
                height: auto;
            }
            &.fz-responsive {
                @media #{$md} {
                    height: 300px;
                }
            }
            & .apps-fz-product-box-4-actions {
                position: absolute;
                right: 25px;
                top: 25px;
            }
            & img {
                transition: all .3s;
                width: auto;
            }
            &:hover {
                & img {
                    transform: scale(1.1);
                }
            }
        }
    }
}

.cursor {
    position: fixed;
    pointer-events: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000;
    background: #fff;
    text-transform: capitalize;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    font-family: "Adobe Clean", sans-serif;
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 999;
    opacity: 0;
    mix-blend-mode: difference;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

// product list
.apps-fz {
    &-product-list {
        &-item-422 {
            & .apps-woo-product-box-image-1 {
                & img {
                    border-radius: 6px;
                }
            }
        }
        &-content-422 {
            @media #{$xs} {
                padding-top: 30px;
            }
            & p {
                margin-bottom: 22px;
            }
        }
        &-price-rating-wrap-422 {
            display: flex;
            grid-gap: 0 15px;
            @media #{$xs} {
                flex-wrap: wrap;
                grid-gap: 7px 0;
            }
        }
        &-price-wrap-422 {
            display: inline-block;
            & .current {
                font-size: 18px;
                font-weight: 500;
                color: var(--clr-theme-primary);
                display: inline-block;
                @media #{$xs} {
                    font-size: 16px;
                }
                & del {
                    & > span {
                        & > bdi {
                            text-decoration: line-through;
                            color: #777;
                            font-size: 14px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
        &-category-422 {
            display: block;
            margin-bottom: 13px;
        }
        &-title-422 {
            font-size: 22px;
            font-weight: 600;
            color: var(--clr-common-black);
            margin-bottom: 13px;
            line-height: 1.4;
            @media #{$xs} {
                font-size: 18px;
            }
            & br {
                @media #{$xs} {
                    display: none;
                }
            }
        }
    }
}
.apps-fz-product-list-content-422.pr-60 {
    @media #{$lg, $md, $xs} {
        padding-right: 0;
    }
}
.apps-fz {
    &-heading-443 {
        font-size: 34px;
        font-weight: 600;
        color: #282828;
        @media #{$md} {
            font-size: 32px;
        }
        @media #{$xs} {
            font-size: 24px;
        }
    }
}

.part-txt.pr-105.pl-40 {
    @media #{$lg} {
        padding-left: 0;
        padding-right: 0;
    }
    @media #{$md, $xs} {
        padding: 0;
    }
}

.apps-fz-product-box-2 {
    .price-wrap {
        ins {
            span {
                font-weight: 700;
                color: var(--clr-theme-secondary);
                display: inline-block;
            }
        }
    }
}  
.price-wrap del span.woocommerce-Price-amount.amount bdi {
    font-size: 16px;
    font-weight: 500;
    color: var(--clr-body-color);
    display: inline-block;
    text-decoration: line-through;
}
.apps-fz-product-box-action-btn-pos-4 a.added_to_cart.wc-forward {
    display: none;
}
.apps-fz-product-price-color-wrapper-4 ins span bdi {
    font-size: 18px;
    font-weight: 700;
    color: var(--clr-body-dark-3);
    font-family: "Adobe Clean", sans-serif;
    display: inline-block;
}
.apps-fz-product-price-color-wrapper-4 del span bdi {
    text-decoration: line-through;
    color: #777;
    display: inline-block;
    margin-right: 3px;
    font-family: "Adobe Clean", sans-serif;
}
.apps-fz-product-price-color-wrapper-4 span.woocommerce-Price-amount {
    font-size: 18px;
    font-weight: 700;
    color: var(--clr-body-dark-3);
    font-family: "Adobe Clean", sans-serif;
    display: inline-block;
} 
.apps-fz-list-sm-price-wrap-2 span.wmc-cache-pid {
    color: #222;
    font-weight: 600;
    @media (min-width: 1025px) and (max-width: 1235px) {
        font-size: 14px;
    }
}
.apps-fz-list-sm-price-wrap-2 span.wmc-cache-pid del {
    color: #777;
    display: inline-block;
    margin-right: 3px;
}

.apps-fz-list-sm-price-wrap-2 span.wmc-cache-pid del > span > bdi {
    text-decoration: line-through;
}
.apps-fz-product-box-4-actions button:is(.woosc-btn).woosc-added:before {
    font-size: 16px;
}

.apps-fz-product-box-4-actions button.woosc-btn.woosc-added {line-height: 1;margin-left: auto;margin-right: auto;}
.apps-fz-product-box-4-actions button:is(.woosc-btn).woosc-added .fa-arrows-repeat {
    display: none;
}
// product box style 6
.apps-fz-product {
    &-box-6 {
        &:hover {
            & .apps-fz-product-cart-btn-6 {
                top: -3px;
            }
            & .apps-fz-product-price-regular-6 {
                transform: translateY(-30px);
            }
            & .apps-fz-product-box-action-6.has-pos {
                transform: translateY(-50%) translateX(0);
            }
        }
    }
    &-price-cart-hover-wrap-6 {
        position: relative;
        overflow: hidden;
        & .apps-fz-product-cart-btn-6 {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 30px;
        } 
    }
    &-price-regular-6 {
        font-size: 18px;
        font-family: $dubai;
        display: block;
        color: var(--clr-theme-6);
        line-height: 1;
        transition: all .3s;
    }
    &-cart-btn-6 {
        font-family: $dubai;
        font-size: 18px;
        display: inline-block;
        transition: all .3s;
        color: var(--clr-theme-6);
        &:hover {
            color: var(--clr-theme-6);
        }
        & i {
            font-size: 16px;
            margin-right: 10px;
        }
    }
    &-title-6 {
        font-size: 20px;
        font-weight: 400;
        font-family: $playfair;
        margin-bottom: 8px;
        color: var(--clr-theme-6);
        & a {
            &:hover {
                color: var(--clr-theme-6);
            }
        }
    }
    &-rating-6 {
        & i {
            font-size: 12px;
            display: inline-block;
            color: var(--clr-theme-6);
            margin: 0 1.5px;
        }
    }
    &-box {
        &-content-6 {
            padding-top: 25px;
            & .apps-fz-product-rating-6 {
                margin-bottom: 4px;
            }
        }
        &-thumbnail-6 {
            border: 1px solid #CAD5C8;
            position: relative;
            transition: all .3s;
            text-align: center;
            overflow: hidden;
            &:hover {
                border-color: var(--clr-theme-6);
            }
        }
        &-action-6 {
            &.has-pos {
                position: absolute;
                left: 30px;
                top: 50%;
                transition: all .3s;
                transform: translateY(-50%) translateX(-70px)
            }
            & .icon {
                position: relative;
                overflow: hidden;
                display: block;
            }
            & a, & button {
                width: 40px;
                height: 40px;
                border: 1px solid #D2DDD2;
                line-height: 40px;
                display: inline-block;
                @include hover-animated-icon;
                display: block;
                margin-bottom: 20px;
                &:hover {
                    border-color: var(--clr-theme-6);
                }
                & i {
                    font-size: 16px;
                    font-weight: 300;
                    color: var(--clr-theme-6);
                }
            }
            & > *:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.apps-fz-swiper-arrow-6 {
    & button {
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        border: 1px solid var(--clr-theme-6);
        @include hover-animated-icon;
        & i {
            font-size: 16px;
            color: var(--clr-theme-6);
            font-weight: 400;
        }
    }
}