.apps-rv-slider {
    &-wrapper {
        outline: 10px solid #f6f6f6;
        outline-offset: -10px;
        background-size: cover;
        @media #{$lg, $md} {
            padding: 50px 50px;
            padding-bottom: 0;
        }
        @media #{$xs} {
            padding: 0;
            outline: none;
            background-image: none !important;
        }
    }
    &-space-left {
        @media #{$xl, $lg, $md, $xs} {
            padding-left: 0;
        }
    }
    &-content {
        &-right-2 {
            & img {
                max-width: 200px;
            }
        }
        @media #{$xs} {
            padding-top: 30px;
            text-align: center;
        }
        & p {
            color: var(--clr-body-soft);
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 48px;
            & br {
                @media #{$md, $xs, $xxl} {
                    display: none;
                }
            }
        }
        &-activation {
            & .slick-slide.slick-current {
                & .apps-rv-slider-subtitle, & .apps-rv-slider-title, & .apps-rv-slider-content p, & .apps-rv-slider-content .apps-theme-border-btn {
                    animation: 800ms ease-in-out 0s normal none 1 running customOne;
                }
            }
        }
    }
    &-subtitle {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        color: var(--clr-theme-primary);
        display: block;
        margin-bottom: 10px;
    }
    &-title {
        font-size: 50px;
        font-weight: 600;
        color: var(--clr-common-black);
        margin-bottom: 21px;
        @media #{$xxl} {
            font-size: 40px;
        }
        @media #{$lg} {
            font-size: 45px;
        }
        @media #{$md} {
            font-size: 35px;
        }
        @media #{$xs} {
            font-size: 35px;
        }
    }
}
.apps-rv-slider-content.pt-60 {
    @media #{$md} {
        padding-top: 15px;
    }
}
.apps-rv-slider-image-activation {
    & .slide-2 {
        & img {
            transform: translateY(65px);
            @media #{$xs} {
                transform: translateY(5px);
            }
        }
    }
    & .slide-3 {
        & img {
            transform: translateY(38px);
            @media #{$xxl, $md} {
                transform: translateY(15px);
            }
            @media #{$xs} {
                transform: translateY(5px);
            }
        }
    }
}
.apps-rv-slider-content-activation {
	position: static;
}
.apps-rv-arrow.has-apps-rv-slider-arrow-main-left {
    position: absolute;
    right: 26px;
    top: 45%;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    z-index: 9;
    @media #{$xs} {
        right: auto;
        top: auto;
        bottom: 0;
        left: 50%;
        transform: translateX(calc(-50% - 25px));
        transition: 0s;
    }
}
.apps-rv-arrow.has-apps-rv-slider-arrow-main-right {
    position: absolute;
    right: 26px;
    top: 55%;
    z-index: 9;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    @media #{$xs} {
        transition: 0s;
        right: auto;
        top: auto;
        bottom: 0;
        transform: translateX(calc(-50% + 25px));
        display: inline-block;
        left: 50%;
    }
}
.apps-rv-slider-wrapper:hover {
    & .apps-rv-arrow.has-apps-rv-slider-arrow-main-left {
        opacity: 1;
        visibility: visible;
        right: 36px;
        @media #{$xs} {
            right: auto;
            top: auto;
            bottom: 0;
            left: 50%;
            transform: translateX(calc(-50% - 25px));
        }
        @media #{$md} {
            right: 10px;
            top: 44%;
        }
    }
    & .apps-rv-arrow.has-apps-rv-slider-arrow-main-right {
        opacity: 1;
        visibility: visible;
        right: 36px;
        @media #{$xs} {
            right: auto;
            top: auto;
            bottom: 0;
            transform: translateX(calc(-50% + 25px));
            display: inline-block;
            left: 50%;
        }
        @media #{$md} {
            right: 10px;
            top: 56%;
        }
    }
}
// slider 2
.apps-fz {
    &-slider-arrow-wrap-4 {
        & .apps-fz-arrow-item-4 {
            position: absolute;
            top: 40%;
            transform: translateY(-50%);
            z-index: 99;
            &.apps-fz-slider-prev {
                left: 60px;
                &.fz-responsive {
                    @media #{$xl} {
                        left: 10px;
                    }
                }
            }
            &.apps-fz-slider-next {
                right: 60px;
                &.fz-responsive {
                    @media #{$xl} {
                        right: 10px;
                    }
                    
                }
            }
        }
    }
    &-slider-rounded-girl-img-4 {
        display: inline-block;
        position: relative;
        &.has-pos {
            position: absolute;
            left: 50%;
            bottom: 200px;
            z-index: 9;
            &.fz-responsive {
                @media #{$md} {
                    left: 40%;
                    bottom: 40px;
                }
                @media #{$xs} {
                    display: none;
                }
            }
        }
        & .girl {
            position: absolute;
            left: 50%;
            max-width: 95px;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &-arrow-item-4 {
        width: 60px;
        height: 60px;
        text-align: center;
        border-radius: 50%;
        box-shadow: 0px 15px 33.82px 4.18px rgb(0 0 0 / 6%);
        line-height: 60px;
        background-color: var(--clr-common-white);
        font-size: 18px;
        color: var(--clr-body-dark-3);
        font-weight: 300;
        @include hover-animated-icon;
        &:hover {
            background-color: var(--clr-common-black-deep);
            color: var(--clr-common-white);
        }
    }
    &-slider-rounded-girl-img-4 {
        & img {
            max-width: 200px;
            &.fz-responsive {
                @media #{$xs} {
                    max-width: 160px;
                }
            }
        }
    }
    &-content {
        &-left-4 {
            position: relative;
            @media #{$xs} {
                text-align: center;
            }
            @media #{$sm} {
                text-align: start;
            }
            & .apps-fz-slider-product-4.has-pos {
                position: absolute;
                right: 0;
                top: -236px;
                &.fz-responsive {
                    @media #{$lg} {
                        display: none;
                    }
                    @media #{$md, $xs} {
                        display: none;
                    }
                }
            }
        }
        &-left-upper-4 {
            position: relative;
            z-index: 9;
        }
    }
    &-slider {
        &-product-content-wrapper-4 {
            margin-bottom: 8px;
        }
        &-product-4 {
            width: 583px;
            padding: 0 40px;
            padding-top: 35px;
            padding-bottom: 100px;
            overflow: hidden;
            & img {
                transition: all .3s;
            }
            &:hover {
                & img {
                    transform: scale(1.05);
                }
            }
        }
        &-product-price-4 {
            font-size: 18px;
            color: var(--clr-body-dark-3);
            font-family: $adobeclean;
        }
        &-product-title-4 {
            font-family: $adobeclean;
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 0;
            color: var(--clr-body-dark-3);
            & a {
                &:hover {
                    color: var(--clr-theme-4);
                }
            }
        }
        &-product-content-4 {
            font-family: $adobeclean;
            font-size: 18px;
            color: var(--clr-body-dark-3);
            margin-bottom: 6px;
        }
        &-round-link-4 {
            width: 150px;
            height: 150px;
            color: var(--clr-body-dark-3);
            line-height: 150px;
            display: inline-block;
            text-align: center;
            border: 1.5px solid var(--clr-body-dark-3);
            border-radius: 50%;
            background: var(--clr-common-white);
            font-weight: 500;
            font-family: $adobeclean;
            transition: all .7s;
            @at-root {
                .fz-btn-hover {
                    position: relative;
                    overflow: hidden;
                    & span {
                        position: absolute;
                        content: "";
                        width: 0;
                        height: 0;
                        left: 0;
                        top: 0;
                        background-color: var(--clr-common-black-deep);
                        z-index: -1;
                        border-radius: 100%;
                        -webkit-transition: all 0.7s;
                        transition: all 0.7s;
                        -webkit-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                    }
                }
            }
            & i {
                font-size: 14px;
                display: inline-block;
            }
            &:hover {
                color: var(--clr-common-white);
                & span {
                    width: 380px;
                    height: 380px;
                }
            }
        }
        &-subtitle-4 {
            font-size: 22px;
            font-family: "Adobe Clean", sans-serif;
            display: block;
            padding-bottom: 0;
            line-height: 1;
        }
        &-title-4 {
            color: var(--clr-body-dark-3);
            font-size: 80px;
            font-family: $adobeclean;
            font-weight: 800;
            line-height: 1.15;
            margin-bottom: 46px;
            &.fz-responsive {
                @media #{$md} {
                    font-size: 59px;
                }
                @media #{$xs} {
                    font-size: 43px;
                }
            }
        }
    }
    &-hero-sidebar-carousel-active-2 {
        & .slick-slide {
            margin: 10px 0;
        }
        & .slick-list {
            margin: -10px 0;
        }
    }
    &-slider-item-2 {
        border-radius: 10px;
        & .apps-fz-slider-content-right-2 {
            & img {
                @media #{$xs} {
                    max-width: 200px; 
                    display: block;
                    margin: 0 auto;
                }
            }
        }
        &.pt-155.pl-45.pr-45 {
            @media #{$xl} {
                padding-top: 138px;
            }
            @media #{$xs} {
                padding: 70px 30px;
                padding-bottom: 0;
                text-align: center;
            }
        }
    }
    &-slider-price-2 {
        color: var(--clr-theme-tertiary);
        display: block;
    }
    &-slider-title-2 {
        font-size: 46px;
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: 16px;
        @media #{$xxl} {
            font-size: 42px;
        }
        @media #{$lg} {
            font-size: 38px;
        }
        @media #{$xs} {
            font-size: 32px;
        }
    }
    &-theme-btn-2 {
        height: 40px;
        line-height: 40px;
        background: var(--clr-theme-secondary);
        color: var(--clr-common-white);
        border-radius: 3px;
        font-size: 14px;
        font-weight: 700;
        padding: 0 38px;
        &.fz-font-16 {
            font-size: 16px;
            padding: 0 25px;
        }
        &:hover {
            background-color: var(--clr-theme-tertiary);
        }
        @include hoverBtnTextAnimated;
    }
    &-slider-small-tertiary-btn-2 {
        height: 24px;
        padding: 0 15px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: var(--clr-common-white);
        background-color: var(--clr-theme-tertiary);
        display: inline-block;
        border-radius: 12px;
    }
}
.fz_btn_wrapper {
    display: inline-block;
}
.fz-filter {
    &-image-box {
        position: relative;
        overflow: hidden;
        height: 801px;
        width: 500px;
        &.apps-fz-slide-filter-img-4-1 {
            @media #{$lg, $md} {
                width: 100%;
                height: 510px;
            }
            @media #{$xs} {
                height: 411px;
                width: 100%;
            }
        }
        & img {
            position: absolute;
            top: 0;
            left: 0;
            width: auto;
            height: 100%;
            -webkit-transition: 0.5s;
            object-fit: cover;
            transition: 0.5s;
            background-size: cover;
        }
        &-item {
            &:nth-child(1) {
                -webkit-transform: translatex(50%) scalex(2);
                transform: translatex(50%) scalex(2);
                opacity: 0;
                -webkit-filter: blur(10px);
                filter: blur(10px);
            }
        }
        &:hover {
            & img {
                &:nth-child(1) {
                    -webkit-transform: translatex(0) scalex(1);
                    transform: translatex(0) scalex(1);
                    opacity: 1;
                    -webkit-filter: blur(0);
                    filter: blur(0);
                }
                &:nth-child(2) {
                    -webkit-transform: translatex(-50%) scalex(2);
                    transform: translatex(-50%) scalex(2);
                    opacity: 0;
                    -webkit-filter: blur(10px);
                    filter: blur(10px);
                }
            }
        }
    }
}
.apps-fz-slider-active-4 {
    & .swiper-slide {
        padding-top: 30px;
    }
}
.apps-fz-shop-category-box-content-4.pt-40 {
    @media #{$lg} {
        padding-top: 20px;
    }
}
.apps-fz-slider-right-img-6 img {
    width: auto;
}