.apps-mobile-sidebar-main {
    .mean-container .mean-nav > ul {
        display: block !important;
    }
    .mean-container .mean-nav ul.dropdown-menu {
        position: static;
        overflow: hidden;
        background: transparent;
        border: 0;
    }
    .mean-container .mean-bar {
        background: var(--clr-theme-primary);
    }
    .mean-container .mean-nav ul li a {
        border: 0;
        border-bottom: 1px solid #ffffff4a;
        background: transparent; 
    }
    .mean-container .mean-nav ul li a.mean-expand {
        height: 23px;
        line-height: 23px;
        padding-right: 5%;
    }
    .mean-container .mean-nav {
        background: #ffffff17;
    }
    .mean-container a.meanmenu-reveal {
        display: none !important;
    }
    .mean-container .mean-nav {
        margin-top: 0;
    }
    .mean-container .mean-nav > ul > li:last-child a {
        border-bottom: 0;
    }
}
.apps-mobile-sidebar-content-main {
    overflow: hidden;
}