.apps-mobile-sidebar {
    &-contact-list {
        & ul {
            & li {
                list-style: none;
                margin-bottom: 5px;
                & a {
                    color: var(--clr-common-white);
                    display: flex;
                    grid-gap: 10px;
                    align-items: baseline;
                }
            }
        }
    }
    &-search-form {
        position: relative;
        & button[type="submit"] {
            position: absolute;
            right: 0;
            top: 0;
            width: 60px;
            background: transparent;
            height: 55px;
            color: var(--clr-theme-primary);
            border-left: 1px solid var(--clr-theme-primary);
            &:hover {
                color: var(--clr-common-white);
                background-color: var(--clr-common-black);
                border-color: transparent;
            }
        }
        & input[type="search"] {
            height: 55px;
            background: var(--clr-common-white);
            width: 100%;
            padding: 0 20px;
            padding-right: 78px;
        }
    }
    &-content {
        &-main-right {
            & .apps-white-btn {
                display: block;
                text-align: center;
            }
            & p {
                color: var(--clr-common-white);
                margin-bottom: 18px;
            }
            & .apps-header-cart-count-btn {
                background-color: var(--clr-common-white);
                width: 100%;
            }
            & .apps-header-cart-count-btn .left i, & .apps-header-cart-count-btn .left .price {
                color: var(--clr-common-black);
            }
            & .apps-header-cart-count-btn .right .count {
                background-color: var(--clr-theme-primary);
                color: var(--clr-common-white);
            }
        }
    }
    &-close-btn {
        width: 40px;
        height: 40px;
        background: var(--clr-common-white);
        border-radius: 50%;
        font-size: 18px;
        color: var(--clr-theme-primary);
    }
    &-inner-content {
        padding: 30px;
    }
    &-tabs {
        & .nav-tabs {
            border: 0;
            & button.nav-link {
                background: transparent;
                border-radius: 0;
                color: #ffffff;
                background-color: transparent;
                border: 0;
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
                width: 50%;
                background: #ffffff2e;
                &.active {
                    background-color: var(--clr-theme-primary-dark);
                }
            }
        }
    }
    &-main {
        position: fixed;
        right: -340px;
        top: 0;
        width: 320px;
        height: 100%;
        background: var(--clr-theme-primary) none repeat scroll 0 0;
        overflow-y: auto;
        -webkit-box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.5);
        box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.5);
        -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -moz-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        z-index: 99999;
        &.open {
            right: 0;
        }
    }
}
.admin-bar .apps-mobile-sidebar-main {
    top: 32px;
}
.apps-fz-mobile-sidebar-btn-wrapper-main-2 {
    display: flex;
    grid-gap: 0 10px;
    justify-content: center;
    margin-bottom: 25px;
    & a {
        background: var(--clr-common-white);
        color: var(--clr-common-black);
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        & i {
            transition: all .3s;
            font-weight: 400;
        }
        &:hover {
            & i {
                color: var(--clr-theme-primary);
            }
        }
    }
}
