.apps-shop-details-content-price {
    & > span {
        & > span {
            & > ins {
                & > span {
                    & > bdi {
                        font-size: 26px;
                        font-family: $poppins;
                        font-weight: 600;
                        color: var(--clr-theme-primary);
                    }
                }
            }
            & > del {
                color: #777;
                margin-right: 5px;
                font-size: 18px;
                font-weight: 500;
                & > span {
                    & > bdi {
                        text-decoration: line-through;
                    }
                }
            }
        }
    }
}

.apps-fz-wrapper-quantity-443 {
    border: 1px solid #EAEAEA;
    width: 100%;
    border-radius: 3px;
    height: 50px;
    & input[type="number"] {
        width: 100%;
        line-height: 50px;
        padding: 0 20px;
        text-align: center;
        font-size: 18px;
        font-family: $roboto;
        font-weight: 500;
        color: #282828;
    }
    & .quantity-button {
        font-size: 13px;
        display: none;
        color: #282828;
    }
    & .quantity-button.quantity-up {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    & .quantity-button.quantity-down {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}
.apps-fz-shop-details-payment-image-443 {
    & img {
        margin-bottom: 7px;
    }
    & p {
        font-size: 14px;
        margin-bottom: 0;
        color: #777777;
        font-family: $roboto;
    }
}
.apps-fz {
    &-product-comment-area-443 {
        & .description {
            & p {
                font-size: 14px;
                line-height: 24px;
                color: #282828;
                margin-bottom: 0;
            }
        }
    }
    &-product-desc-443 {
        & .star-rating {
            float: none;
            font-size: 12px;
            margin-bottom: 8px;
        }
        & .apps-fz-product-author-name-433 {
            font-family: $roboto;
            font-weight: 500;
            margin-bottom: 7px;
            text-transform: capitalize;
            font-size: 14px;
        }
    }
}
.apps-shop-details-review-title-443 {
    font-size: 16px;
    font-weight: 400;
    font-family: $roboto;
    color: #282828;
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 9px;
}
.apps-fz-product-comment-form-required-warning-443 {
    font-size: 14px;
    color: #777777;
    margin-bottom: 19px;
}
span.apps-fz-product-rating-count-label-443 {
    font-size: 14px;
    font-weight: 500;
    color: #282828;
    display: inline-block;
}
.apps-comment-form-rating-box-443 {
    display: flex;
    grid-gap: 15px;
    align-items: center;
}
.apps-fz-product-review-rating-border-box-wrap {
    display: inline-block;
    border: 1px solid #EAEAEA;
    height: 40px;
    line-height: 40px;
    padding: 0 17px;
}
.apps-fz-cart-table-product-quantity-wrap-445 {
    & .apps-fz-wrapper-quantity-443 {
        width: 110px;
        height: 44px;
        border: 0;
        margin: 0 auto;
        & input[type="number"] {
            background-color: #F5F5F5;
            line-height: 44px;
            border: 0;
            font-size: 16px;
            color: #282828;
        }
    }
}
.part-txt.pr-105.pl-40.pt-27 {
    @media #{$lg} {
        padding-top: 0;
    }
}