.apps-fz {
    &-trending-product {
        &-arrow-wrapper-2 {
            display: flex;
            grid-gap: 0 10px;
            justify-content: flex-end;
            @media #{$xs} {
                justify-content: center;
            }
        }
    }
}
.apps-fz-trending-product-top-2.pb-15 {
    @media #{$xs} {
        padding-bottom: 40px;
    }
}