.apps-fz {
    &-testimonial-slider-content-arrow-pos-rel {
        position: relative;
        & > .apps-fz-slider-arrow-wrap-sm-4 {
            & .apps-fz-arrow-testimonial-left-4 {
                position: absolute;
                top: 50%;
                transform: translateY(calc(-50% - 35px));
                z-index: 2;
                left: -85px;
                @media #{$xxl} {
                    left: -20px !important;
                }
                &.fz-responsive {
                    @media #{$xl} {
                        left: -30px;
                    }
                    @media #{$lg} {
                        left: -17px;
                    }
                    @media #{$md} {
                        left: -20px;
                    }
                    @media #{$xs} {
                        display: none;
                    }
                }
            }
            & .apps-fz-arrow-testimonial-right-4 {
                position: absolute;
                top: 50%;
                transform: translateY(calc(-50% - 35px));
                z-index: 2;
                right: -85px;
                @media #{$xxl} {
                    right: -20px !important;
                }
                &.fz-responsive {
                    @media #{$xl} {
                        right: -30px !important;
                    }
                    @media #{$lg} {
                        right: -17px;
                    }
                    @media #{$md} {
                        right: -20px;
                    }
                    @media #{$xs} {
                        display: none;
                    }
                }
            }
        }
    }
    &-arrow-item-sm-4 {
        width: 45px;
        height: 45px;
        display: inline-block;
        text-align: center;
        line-height: 45px;
        background: var(--clr-common-white);
        border-radius: 50%;
        box-shadow: 0px 15px 33.82px 4.18px rgb(0 0 0 / 6%);
        font-size: 16px;
        color: var(--clr-body-dark-3);
        @include hover-animated-icon;
        &:hover {
            background-color: var(--clr-body-dark-3);
            color: var(--clr-common-white);
        }
    }
    &-rating-wrap-4 {
        display: flex;
        grid-gap: 3px;
        & i {
            font-size: 12px;
            color: #939393;
            &.active {
                color: #c38500;
            }
        }
    }
    &-testimonial-box {
        &-4 {
            padding: 30px;
        }
        &-top  {
            &-wrapper-4 {
                overflow: hidden;
                display: flex;
                align-items: center;
                grid-gap: 20px;
                & > * {
                    flex: 0 0 auto;
                }
                & .title {
                    font-size: 16px;
                    font-weight: 600;
                    margin-bottom: 0;
                    line-height: 1;
                    font-family: $adobeclean;
                    color: var(--clr-body-dark-3);
                }
                & .designation {
                    font-size: 14px;
                    font-family: $adobeclean;
                    margin-bottom: 2px;
                }
            }
        }
        &-bottom-wrapper-4 {
            & p {
                font-family: $adobeclean;
                margin-bottom: 0;
                color: var(--clr-body-dark-3);
            }
        }
    }
}
.apps-fz-generic-paginate > .swiper-pagination-bullet {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0 5px;
    position: relative;
    z-index: 3;
    background-color: var(--clr-body-dark-3);
    border-radius: 50%;
    opacity: 1;
    &.swiper-pagination-bullet-active {
        outline: 1px solid var(--clr-body-dark-3);
        outline-offset: 3px;
    }
}
/**
* Testimonial Section 6
*/
.apps-fz-testimonial {
    &-paginate-6 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        & .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            margin: 0 4px;
            background: #9CAB96;
            &.swiper-pagination-bullet-active {
                background-color: var(--clr-theme-6);
            }
        }
    }
    &-arrow-6 {
        & button {
            width: 40px;
            height: 40px;
            border: 1px solid var(--clr-theme-6);
            border-radius: 50%;
            z-index: 9;
            @include hover-animated-icon;
            @media #{$xs} {
                opacity: 0;
                visibility: hidden;
            }
            @media #{$sm} {
                opacity: 1;
                visibility: visible;
            }
            & i {
                color: var(--clr-theme-6);
                font-weight: 400;
            }
            &.prev {
                position: absolute;
                left: -98px;
                top: 177px;
                @media #{$xs} {
                    left: 0;
                }
                @media #{$md} {
                    left: -30px;
                }
            }
            &.next {
                position: absolute;
                right: -98px;
                top: 177px;
                @media #{$xs} {
                    right: 0;
                }
                @media #{$md} {
                    right: -30px;
                }
            }
        }
    }
    &-bg-shape-6 {
        position: absolute;
        left: 50%;
        bottom: 27px;
        transform: translateX(-50%);
    }
    &-author-box-6 {
        & .designation {
            font-size: 14px;
            font-family: $dubai;
            color: var(--clr-theme-6);
        }
        & .thumb {
            margin-bottom: 8px;
            & img {
                max-width: 60px;
                border-radius: 50%;
            }
        }
        & .name {
            font-size: 18px;
            color: var(--clr-theme-6);
            font-family: $playfair;
            margin-bottom: 0;
            font-weight: 400;
        }
    }
    &-author-rating-6 {
        margin-bottom: 20px;
        & i {
            font-size: 14px;
            color: var(--clr-theme-6);
        }
    }
    &-single-6 {
        padding: 0 47px;
        @media #{$xs} {
            padding: 0 0;
        }
        & .arrow {
            margin-bottom: 4px;
            & i {
                font-size: 80px;
                color: var(--clr-theme-6);   
            }
        }
        & .desc {
            font-size: 22px;
            font-family: $playfair;
            color: var(--clr-theme-6);
            line-height: 32px;
            margin-bottom: 33px;
            @media #{$xs} {
                font-size: 18px;
                line-height: 28px;
            }
        }
    }
}
.apps-fz-restimonial-line-bottom-6 {
    position: absolute;
    left: 0;
    bottom: 0;
}
.apps-fz-testimonial-review-wrapper-6:hover .apps-fz-testimonial-arrow-6 button {
    @media #{$xs} {
        opacity: 1;
        visibility: visible;
    }
}