

/* .project-area .swiper-wrapper {
    height: 395px !important;
}

@media (max-width: 1200px) {
    .project-area .swiper-wrapper {
        height: 500px !important;
    }
}
@media (max-width: 992px) {
    .project-area .swiper-wrapper {
        height: 440px !important;
    }
}
@media (max-width: 768px) {
    .project-area .swiper-wrapper {
        height: 400px !important;
    }
}

@media (max-width: 576px) {
    .project-area .swiper-wrapper {
        height: 570px !important;
    }
}

@media (max-width: 450px) {
    .project-area .swiper-wrapper {
        height: 510px !important;
    }
}

@media (max-width: 380px) {
    .project-area .swiper-wrapper {
        height: 455px !important;
    }
}

@media (max-width: 350px) {
    .project-area .swiper-wrapper {
        height: 430px !important;
    }
}

@media (max-width: 320px) {
    .project-area .swiper-wrapper {
        height: 415px !important;
    }
} */


.apps-project-next-114, .apps-project-prev-114 {
    background-color: #fff;
}

.apps-focus-industries-area-1-114 .instruction-wrap .icon .wrapper-img {
    transition: all 350ms linear;
}

.apps-portfolio-moal-top-left-box button.apps-portfolio-close {
    box-shadow: none !important;
}


@media (max-width: 768px) {
    .banner-img {
        width: 390px;
    }
}



.apps-blog-box-title-114 a {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}


@media (max-width: 1200px) {

    .navbar-nav .menu-item>ul.dropdown-menus li a {
        color: var(--dark-dark-1, #003959) !important;
        font-size: 14px;
        font-style: normal;
        font-weight: 700 !important;
        line-height: 24px;
        letter-spacing: 1px;
        display: block;
    }
    
    
    .dropdown-menus .dropdown-item .menu-image-title {
        padding-left: 20px !important;
    }
    
}

.about-content-left-5-114 ul {
    padding-left: 15px;
}

.about-section-content-5-114 ul li::before {
    top: 16px;
}

.apps-about-section-title-114 {
    margin-bottom: 25px !important;
}

.apps-accordion-wrapper-main-114 .accordion-button {
    margin-bottom: 5px;
}

.apps-service-section-title-114 {
    margin-bottom: 25px;
}

.apps-accordion-wrapper-main-114 .accordion-item {
    margin-bottom: 25px;
}

.accordion-body {
    padding-top: 15px !important;
}