

/* .project-area .swiper-wrapper {
    height: 395px !important;
}

@media (max-width: 1200px) {
    .project-area .swiper-wrapper {
        height: 500px !important;
    }
}
@media (max-width: 992px) {
    .project-area .swiper-wrapper {
        height: 440px !important;
    }
}
@media (max-width: 768px) {
    .project-area .swiper-wrapper {
        height: 400px !important;
    }
}

@media (max-width: 576px) {
    .project-area .swiper-wrapper {
        height: 570px !important;
    }
}

@media (max-width: 450px) {
    .project-area .swiper-wrapper {
        height: 510px !important;
    }
}

@media (max-width: 380px) {
    .project-area .swiper-wrapper {
        height: 455px !important;
    }
}

@media (max-width: 350px) {
    .project-area .swiper-wrapper {
        height: 430px !important;
    }
}

@media (max-width: 320px) {
    .project-area .swiper-wrapper {
        height: 415px !important;
    }
} */


.apps-project-next-114, .apps-project-prev-114 {
    background-color: #fff;
}

.apps-focus-industries-area-1-114 .instruction-wrap .icon .wrapper-img {
    transition: all 350ms linear;
}

.apps-portfolio-moal-top-left-box button.apps-portfolio-close {
    box-shadow: none !important;
}


@media (max-width: 768px) {
    .banner-img {
        width: 390px;
    }
}



.apps-blog-box-title-114 a {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}


@media (max-width: 1200px) {

    .navbar-nav .menu-item>ul.dropdown-menus li a {
        color: var(--dark-dark-1, #003959) !important;
        font-size: 14px;
        font-style: normal;
        font-weight: 700 !important;
        line-height: 24px;
        letter-spacing: 1px;
        display: block;
    }
    
    
    .dropdown-menus .dropdown-item .menu-image-title {
        padding-left: 20px !important;
    }
    
}

.about-content-left-5-114 ul {
    padding-left: 15px;
}

.about-section-content-5-114 ul li::before {
    top: 16px;
}

.apps-about-section-title-114 {
    margin-bottom: 25px !important;
}

.apps-accordion-wrapper-main-114 .accordion-button {
    margin-bottom: 5px;
}

.apps-service-section-title-114 {
    margin-bottom: 10px;
}

.apps-accordion-wrapper-main-114 .accordion-item {
    margin-bottom: 25px;
}

.accordion-body {
    padding-top: 15px !important;
}

@media (max-width: 480px) {
    .navbar-nav .menu-item>ul.dropdown-menus {
        padding: 10px;
    }
    
    .dropdown-menus .dropdown-item .menu-image-title {
        padding-left: 15px !important;
    }
    
    .navbar-nav .menu-item>ul.dropdown-menus li a {
        font-size: 12px;
    }
}


.apps-portfolio-moal-top-left-box .meta a {
    margin-top: 3px;
}


.apps-project-card-description-wrapper-114 {
    min-height: 133px !important;
}

@media (max-width: 767px) {
    .about-section-title-5-114 .title {
        font-size: 28px;
        line-height: 1.4;
    }
}


.apps-accordion-wrapper-main-114 .accordion-button::before {
    top: 15px;
}

.apps-feature-list-widget-114 .apps-feature-list-box-114:hover {
    transform: translateY(-8px);
}


ul.dropdown-menus li.menu-item a::after {
    transition: all 50ms ease;
    right: 15px;
}

.tech-stack-box-right-icon-list-114 {
    display: flex !important;
    gap: 30px !important;
    flex-wrap: wrap !important;
}

@media (max-width: 576px) {
    .tech-stack-box-right-icon-list-114 {
        gap: 20px !important;
    }
}

.apps-feature-list-content-bottom-wrapper-4-114 ul li img {
    transition: all 200ms ease;
}

@media (max-width: 576px) {
    .apps-scrollable-content-sections-nav-114 ul li a {
        margin-bottom: 20px;
    }
}