.admin-bar .apps-header-style-1 {
    top: 32px !important;
}
.navbar-nav .menu-item > ul.dropdown-menus {
    background: #fff;
    padding: 1.5rem;
    border-radius: 10px;
    padding-bottom: 30px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 100%;
}
.navbar-nav .menu-item > ul.dropdown-menus::after {
    width: 30px;
    height: 12px;
    background: #fff;
    content: "";
    position: absolute;
    right: 40px;
    top: -7px;
    clip-path: polygon(0 100%, 50% 0, 100% 100%, 0 100% );
    border-radius: 25px;
}
.navbar-nav .menu-item:hover > ul.dropdown-menus {
    opacity: 1;
    visibility: visible;
    overflow: hidden;
}

.navbar-nav .menu-item > ul.dropdown-menus li {
    margin-left: 0 !important;
    margin-bottom: 1rem;
}
.navbar-nav .menu-item > ul.dropdown-menus li:last-child {
    margin-bottom: 0;
}
a, img {
    transition: all .3s;
}
.navbar-nav .menu-item > ul.dropdown-menus li a {font-size: 14px;color: rgb(0, 60, 79);text-transform: uppercase;font-weight: 500;}
.navbar-nav .menu-item.has-mega-menu > .dropdown-menus {
    min-width: 756px;
}


.navbar-nav .menu-item.has-mega-menu > .dropdown-menus::after {
    right: auto;
    left: 30px !important;
}
.apps-has-mobile-menu-custom ul.dropdown-menus {
    position: static !important;
    display: none;
}
.mobileMenu .navbar-nav .menu-item > ul.dropdown-menus {
    min-width: 100% !important;
    z-index: 9;
}
.mobileMenu .navbar-nav .menu-item > ul.dropdown-menus li {
    list-style: none;
}
@media (max-width: 767px) {
    .mobileMenu .navbar-nav .menu-item > ul.dropdown-menus li {
        width: 100%;
        float: none;
    }
}
@media (max-width: 1199px) {
    .navbar-right.btn-wrap {
        margin-bottom: 60px;
    }
}
.footer-widget ul li {
    margin-bottom: 1rem;
}
.footer {
    padding-top: 300px;
}
.footer-widget ul li a {
    text-decoration: none;
    color: #8ecfe3;
    font-size: 1rem;
}

.apps-rv-footer-widget-title {
    color: #fff;
    margin-bottom: 28px;
    font-size: 20px;
    font-weight: 700;
    padding-left: 20px;
    position: relative;
}

.apps-rv-footer-widget-title::before {
    position: absolute;
    left: 0;
    top: 50%;
    width: 10px;
    height: 10px;
    content: "";
    background: rgb(38, 181, 181);
    transform: rotate(45deg);
    display: inline-block;
    margin-top: -5px;
}
.footer-widget ul li a:hover {
    color: #fff;
}
.footer-widget ul li a:hover {
    color: #fff;
}
.footer-widget ul li a::before {
    content: ">";
    margin-right: 9px;
}
.menu-footer-social-container ul li a::before {
    display: none;
}

.menu-footer-social-container ul li a img {
    padding-right: 0px !important;
}
.custom-fott-cls li a::before {
    display: none !important;
}
.pt-300 {
    padding-top: 300px;
}
.blog-pagination > .page-numbers {
    border: 1px solid #AECBD3;
    border-radius: 8px;
    height: 36px;
    width: 36px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin: 0 5px;
    line-height: 36px;
    background: #fff;
    color: #222;
}

.blog-pagination > .page-numbers:hover {
    background: #26B5B5;
    color: #fff;
    border-color: transparent;
}
.authors.text-decoration-none > img {
    border-radius: 50%;
}
span.authure-name a {
    text-decoration: none;
    color: var(--dark1);
}
.wp-block-search .wp-block-search__button::after {
    content: "\f002";
    font-size: 15px;
    font-family: "Font awesome 6 pro";
}
.sidebar-widget .recent-post li.recent-post-list .img-fluid {
    width: 67px;
}
.sidebar-widget .widget-title {
    color: rgb(33, 37, 41);
}
ul.dropdown-menus li.menu-item a:hover {
    background: #E3F5FF;
}

ul.dropdown-menus li.menu-item a img {
    background: #E3F5FF;
    border-radius: 4px;
    padding: 12px 10px;
    transition: all .3s;
}
ul.dropdown-menus li.menu-item a:hover img {
    background-color: #fff;
}
ul.dropdown-menus li.menu-item a {
    padding: 10px;
    border-radius: 6px;
}
.navbar-nav .menu-item > ul.dropdown-menus {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 30px;
}

/**
* ecommerce page
*/

.apps-service-section-subtitle-114 {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #316785;
    line-height: 22px;
    margin-bottom: 5px;
    display: block;
}
.apps-service-section-title-114 {
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    color: #003959;
    margin-bottom: 10px;
}
.apps-service-section-wrapper-114 p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0;
    color: #1F516D;
}
.apps-service-box-114 {
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 57, 89, 0.1);
    border-radius: 6px;
    padding: 30px;
}
.apps-service-box-114 .apps-service-box-icon-114 {
    margin-bottom: 20px;
}

.apps-service-box-content-wrap-114 .apps-service-box-title-114 a {
    font-size: 24px;
    line-height: 34px;
    color: #003959;
    margin-bottom: 10px;
    display: block;
}

.apps-service-box-content-wrap-114 p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color: #1F516D;
}
.mb-50 {
    margin-bottom: 50px;
}
.apps-feature-list-box-count-114 {
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    color: #00C7C7;
    margin-bottom: 16px;
    display: block;
}

.apps-feature-list-box-title-114 {
    font-weight: 600;
    font-size: 24px;
    color: #003959;
    line-height: 34px;
    margin-bottom: 10px;
    display: block;
}

.apps-feature-list-box-114 p {
    font-weight: 400;
    font-size: 16px;
    color: #1F516D;
    line-height: 26px;
    margin-bottom: 0;
}
.apps-brand-grid-wrapper-114 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.apps-brand-grid-item-114 .apps-brand-grid-item-label {
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    color: #003959;
    letter-spacing: 1px;
}

.apps-brand-grid-item-114 .thumb {
    margin-bottom: 15px;
}
.apps-brand-grid-item-114 {
    border: 1px solid #D2ECFA;
    padding-bottom: 30px;
}
.apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(1), .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(2), .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(3), .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(4), .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(5), .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(6) {
    border-top: 0;
}
.apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(1) {
    border-left: 0;
}
.apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(6) {
    border-right: 0;
}
.apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(7), .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(8), .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(9), .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(10), .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(11), .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(12) {
    border-bottom: 0;
    padding-bottom: 0;
    padding-top: 30px;
}
.apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(7) {
    border-left: 0;
}
.apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(12) {
    border-right: 0;
}

@media (min-width: 768px) and (max-width:  991px) {
    .apps-brand-grid-wrapper-114 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(4), .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(8) {
        border-right: 0;
    }
    .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(5) {
        border-left: 0;
    }
    .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(6) {
        border-right: 1px solid #D2ECFA;
    }
    .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(9) {
        border-left: 0;
    }
    .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(5), .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(6), .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(8), .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(8) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .apps-brand-grid-wrapper-114 {
        grid-template-columns: repeat(3, 1fr);
    }
    .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(3) {
        border-right: 0;
    }
    .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(4), .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(10) {
        border-left: 0;
    }
    .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(9) {
        border-right: 0;
    }
    .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(4), .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(5), .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(6), .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(7), .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(8), .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(9) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media (max-width: 575px) and (min-width: 0px)  {
    .apps-brand-grid-wrapper-114 {
        grid-template-columns: repeat(2, 1fr);
    }
    .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(3), .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(5), .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(9), .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(11) {
        border-left: 0;
    }
    .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(2), .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(4), .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(8), .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114:nth-child(10) {
        border-right: 0;
    }
    .apps-brand-grid-wrapper-114 .apps-brand-grid-item-114 {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }
}

.apps-hero-content-wrapper-114 .subtitle {
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #00C7C7;
    margin-bottom: 15px;
    display: block;
}

.apps-hero-content-wrapper-114 .title {
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 20px;
    color: #FFFFFF;
}
.apps-hero-content-wrapper-114 .content {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #A8E0FF;
    margin-bottom: 0;
}
.apps-hero-svg-114 {
        display: inline-block;
        transform: translateX(90px);
}
@media (min-width: 1200px) and (max-width: 1399px) {
    div.apps-hero-svg-114 img {
        max-width: 390px;
    }
    .apps-hero-svg-114 {
        transform: translateX(10px);
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .apps-hero-content-wrapper-114 .title {
        font-size: 38px;
        line-height: 1.4;
    }
    div.apps-hero-svg-114 img {
        max-width: 330px;
    }
    .apps-hero-svg-114 {
        transform: translateX(30px);
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    div.apps-hero-svg-114 img {
        max-width: 420px;
    }
    .apps-hero-svg-114 {
        transform: translateX(0);
    }
}
@media (max-width: 767px) {
    .apps-hero-svg-114 {
        transform: translateX(0);
    }
    div.apps-hero-svg-114 img {
        max-width: 200px;
    }
    .apps-hero-content-wrapper-114 .title {
        font-size: 29px;
        line-height: 1.5;
    }
}
.tech-stack-box-icon-single-114 {
    display: inline-block;
    text-align: center;
    margin-right: 30px;
}
.tech-stack-box-icon-single-114:last-child {
    margin-right: 0;
}
.tech-stack-box-icon-single-114 .label {
    font-weight: 600;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #316785;
}

.tech-stack-box-icon-single-114 .icon {
    margin-bottom: 8px;
}
.tech-stack-box-wrapper-114 {
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 57, 89, 0.1);
    border-radius: 6px;
    border-left: 5px solid #00C7C7;
    padding: 14px 20px;
}
.tech-stack-box-left-label-114 {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #003959;
}
.tech-stack-box-right-icon-list-114 {
    position: relative;
}

.tech-stack-box-right-icon-list-114::before, .tech-stack-box-right-icon-list-114::after {
    width: 1px;
    height: 62px;
    content: "";
    background: #BADDF0;
    position: absolute;
    left: -42px;
    top: 50%;
    transform: translateY(-50%);
}
.tech-stack-box-right-icon-list-114::after {
    left: -39px
}
.tech-stack-box-icon-single-114 .icon {
    max-width: 28px;
}

@media (max-width: 991px) {
    .tech-stack-box-right-icon-list-114::before, .tech-stack-box-right-icon-list-114::after {
        display: none;
    }
    .tech-stack-box-icon-single-114 {
        margin-top: 10px;
    }
}

.apps-about-right-114 .apps-about-section-subtitle-114 {
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    display: block;
    margin-bottom: 5px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #00C7C7;
}
.apps-about-section-title-wrapper-114 .apps-about-section-title-114 {
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
    display: block;
    margin-bottom: 10px;
}
.apps-about-section-title-wrapper-114 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #A8E0FF;
    margin-bottom: 25px;
}
.apps-about-section-title-wrapper-114 ul {
    overflow: hidden;
}
.apps-about-section-title-wrapper-114 ul li {
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 10px;
    color: #A8E0FF;
    width: 50%;
    float: left;
}
.apps-about-section-title-wrapper-114 ul li img {
    margin-right: 10px;
    float: left;
}
.apps-about-section-title-wrapper-114 ul li span {
    overflow: hidden;
    display: block;
}
@media (max-width: 767px) {
    .apps-about-section-title-wrapper-114 .apps-about-section-title-114 {
        font-size: 30px;
        line-height: 1.3;
    }
    .apps-about-section-title-wrapper-114 ul li {
        width: 100%;
        float: none;
    }
}
.pricing .pricing-wrapper .pricing-item .pricing-count .price-btn {
    text-align: center;
}
section.pricing .pricing-wrapper {
    overflow-x: inherit;
}


/**
* project
*/
.apps-project-card-title-114 {
    font-weight: 500;
    margin-bottom: 2px;
    font-size: 18px;
    line-height: 28px;
    color: #003959;
}

.apps-project-card-title-114 a {
    color: inherit;
}

.apps-project-card-category-114 {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #316785;
}

.apps-project-card-114 {
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 60, 79, 0.1);
    border-radius: 6px;
}

.apps-project-card-description-wrapper-114 {
    padding: 28px 30px;
    padding-bottom: 20px;
}

.apps-project-card-title-114 a:hover {
    color: #1AE3E3;
}
.apps-project-next-114, .apps-project-prev-114 {
    width: 54px;
    height: 54px;
    border: 1px solid #BADDF0;
    border-radius: 50%;
    text-align: center;
    line-height: 54px;
    z-index: 99;
}

.apps-project-next-114 i, .apps-project-prev-114 i {
    transition: all .3s;
    color: #73A7C3;
    font-weight: 400;
}
.p-rel {
    position: relative;
}
.apps-project-prev-114 {
    position: absolute;
    left: -85px;
    transition: all .3s;
    top: 50%;
    transform: translateY(-50%);
}
.apps-project-next-114 {
    position: absolute;
    right: -85px;
    transition: all .3s;
    top: 50%;
    transform: translateY(-50%);
}
.apps-project-prev-114:hover, .apps-project-next-114:hover {
    background: #00C7C7;
    border-color: transparent;
}

.apps-project-prev-114:hover i, .apps-project-next-114:hover i {
    color: #003959;;
}
.swiper-container.apps-project-active-114 {
    padding-bottom: 50px;
}
.apps-scrollable-content-sections-nav-114 {
    position: sticky;
    top: 130px;
}
.apps-scrollable-content-sections-nav-114 ul li {
    list-style: none;
}

.apps-scrollable-content-sections-nav-114 {
    padding-left: 30px;
    border-left: 1px solid #AECBD3;
}

.apps-scrollable-content-sections-nav-114 ul li a {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #003959;
    margin-bottom: 30px;
    display: block;
}

.apps-scrollable-content-sections-nav-114 ul li.active a {
    color: #26B5B5;
}

.apps-panel .title {
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    color: #003959;
    margin-bottom: 16px;
}

.apps-panel p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 25px;
    color: #1F516D;
}

.apps-panel p b {
    font-weight: 600;
    color: #003959;
}
.apps-project-card-image-114 img {
    width: 100%;
}
@media (min-width: 1200px) and (max-width: 1399px) {
    .apps-project-next-114 {
        right: -15px;
    }
    .apps-project-prev-114 {
        left: -15px;
    }
}
@media (max-width: 1199px) {
    .apps-project-next-114 {
        right: 0;
    }
    .apps-project-prev-114 {
        left: 0;
    }
}
.mobileMenu .mobileMenu-wrapper {
    visibility: hidden;
}
.mobileMenu .mobileMenu-action {
    visibility: visible;
}


/**
* accordion
*/
.apps-accordion-wrapper-main-114 .accordion-button .apps-question-q-114 {
    background: #00C7C7;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    color: #003959;
    width: 18px;
    height: 22px;
    border-radius: 6px;
    text-align: center;
    margin-right: 12px;
}
.apps-accordion-wrapper-main-114 .accordion-button {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    background-color: transparent;
    padding: 0;
    box-shadow: none;
    margin-bottom: 0;
    padding-right: 21px;
    color: #003959;
    position: relative;
}
.apps-accordion-wrapper-main-114 .accordion-button::after {
    display: none;
}
.apps-accordion-wrapper-main-114 .accordion-button::before {
    content: "\f068";
    color: #00C7C7;
    position: absolute;
    right: 0;
    font-family: 'Font awesome 6 pro';
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;

}
.apps-accordion-wrapper-main-114 .accordion-button:focus {
    background-color: transparent;
    box-shadow: none;
}
.apps-accordion-wrapper-main-114 .accordion-button.collapsed::before {
    content: "\2b";
    color: #6A96A4;
}

.apps-accordion-wrapper-main-114 .accordion-body {
    padding: 0;
}
.apps-answere-a-114 {
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    color: #003959;
    width: 18px;
    height: 22px;
    background: #50FF81;
    border-radius: 6px;
    display: inline-block;
    text-align: center;
    float: left;
    margin-right: 12px;
}
.apps-accordion-wrapper-main-114 .accordion-body .apps-content {
    overflow: hidden;
}

.apps-accordion-wrapper-main-114 .accordion-body .apps-content p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #1F516D;
}
.apps-accordion-wrapper-main-114 .accordion-item {
    border-bottom: 1px solid #BADDF0 !important;
    margin-bottom: 30px;
    padding-bottom: 20px;
}
@media (max-width: 575px) {
    .apps-accordion-wrapper-main-114 .accordion-button .apps-question-q-114 {
        width: 40px;
    }
}
.form-wrapper p {
    margin-bottom: 0;
}

.contact-form label {
    line-height: 1;
}
footer.footer.bg-clr-deepDark {
    position: relative;
}

#contact .contact-wrapper {
    position: relative;
    z-index: 9;
}

/* feature box 3 */
.apps-feature-list-box-3-114 {
    background: #fff;
    box-shadow: 0px 20px 40px rgba(0, 60, 79, 0.1);
    border-radius: 6px;
    padding: 40px 33px;
    padding-bottom: 33px;
}

.apps-feature-list-box-3-114 ul li {
    list-style: none;
}

.apps-feature-list-box-3-title-114 {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #003959;
    margin-bottom: 10px;
}

.apps-feature-list-box-3-114 p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #1F516D;
    margin-bottom: 20px;
}

.apps-feature-list-box-3-114 ul li i {
    font-size: 15px;
    color: #00C7C7;
    margin-right: 13px;
}

.apps-feature-list-box-3-114 ul li {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #1F516D;
    margin-bottom: 8px;
}
.apps-timeline-item-right-content-114 .apps-count {
    font-weight: 600;
    font-size: 100px;
    line-height: 80px;
    display: block;
    background: linear-gradient(180deg, rgba(0, 57, 89, 0.15) 0%, rgba(0, 57, 89, 0.04) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 13px;
}

.apps-timeline-item-right-content-114  .apps-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 16px;
    color: #003959;
}

.apps-timeline-item-right-content-114 p {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 0;
    line-height: 30px;
    color: #1F516D;
}
.pl-30 {
    padding-left: 30px;
}
.pr-30 {
    padding-right: 30px;
}
@media (min-width: 768px) and (max-width: 991px) {
    .apps-timeline-item-right-content-114 {
        padding: 0;
    }
    
    .apps-timeline-item-right-content-114 .apps-title {
        font-size: 30px;
        line-height: 1.4;
    }
    
    .apps-timeline-item-right-content-114 .apps-count {
        font-size: 70px;
        margin-bottom: 5px;
    }
}

@media (max-width: 767px) {
    .apps-timeline-item-right-content-114  .apps-title {
        font-size: 25px;
        line-height: 1.4;
        margin-bottom: 16px;
    }
    .apps-timeline-item-right-content-114 .apps-count {
        font-size: 75px;
        margin-bottom: 10px;
    }
    .apps-timeline-item-right-content-114 {
        padding: 0;
    }
}
.pricing.active .pricing-wrapper .pricing-item, .pricing .pricing-wrapper .pricing-item:hover {
    border-color: #26b5b5;
    box-shadow: 0px 20px 30px rgba(0, 60, 79, 0.15);
}

.pricing.active .pricing-wrapper .pricing-item .pricing-count .price-btn {
    background: #00C7C7;
    border-color: transparent;
}
.apps-has-shadow-effect-114 .apps-service-box-114 {
    box-shadow: none;
    transition: all .3s;
    border: 1px solid #BADDF0;
}

.apps-has-shadow-effect-114 .apps-service-box-114:hover {
    border-color: transparent;
    box-shadow: 0px 20px 40px rgba(0, 57, 89, 0.1);
}

.strategy-item .icon img {
    max-width: 36px;
    margin-bottom: 8px;
}
.apps-has-box-hover-shadow .apps-feature-list-box-3-114 {
    border: 1px solid #BADDF0;
    box-shadow: none;
    transition: all .3s;
}
.apps-has-box-hover-shadow .apps-feature-list-box-3-114:hover {
    border-color: transparent;
    box-shadow: 0px 20px 40px rgba(0, 60, 79, 0.1);
}
.apps-steps-heading-114 .apps-title {
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #003959;
    margin: 0;
    margin-top: -22px;
}
.apps-steps-heading-114 .apps-title span {
    background: #fff;
    padding: 0 23px;
}

.apps-steps-box-count-114 {
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 16px;
    color: #00C7C7;
}

.apps-steps-box-title-114 {
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    color: #003959;
}

.apps-steps-box-content-114 {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 0;
    line-height: 26px;
    color: #1F516D;
}
/***
* Service box 2
*/
.apps-service-box-content-2-114 .title {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
/* or 142% */


/* Dark/Dark_1 */
    margin-bottom: 10px;
}

.apps-service-box-content-2-114 .title a {
    color: #003959;
}

.apps-service-box-content-2-114 p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #1F516D;
    margin-bottom: 0;
}

.apps-service-box-icon-2-114 {
    margin-bottom: 20px;
}

.apps-service-box-2-114 {
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 57, 89, 0.1);
    border-radius: 6px;
    padding: 30px;
}
.about-section-title-5-114 .subtitle {
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #316785;
    display: block;
    margin-bottom: 15px;
}

.about-section-title-5-114 .title {
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    color: #003959;
    margin-bottom: 20px;
}

.about-section-title-5-114 p {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 0;
    line-height: 30px;
    color: #1F516D;
}

.about-section-content-5-114 .title {
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    color: #003C4F;
    margin-bottom: 16px;
}

.about-section-content-5-114 ul li {
    list-style: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding-left: 25px;
    position: relative;
    color: #1F516D;
    margin-bottom: 8px;
}
.about-section-content-5-114 ul li:last-child {
    margin-bottom: 0;
}
.about-section-content-5-114 ul li::before {
    content: "";
    width: 5px;
    height: 5px;
    background: #1F516D;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.pb-40 {
    padding-bottom: 40px;
}
.about-content-right-5-114 img {
    transform: translateX(95px);
}
.pricing-wrapper .single-price {
    flex: 1;
}
.pricing-heading > img {
    display: block;
    margin-bottom: 18px;
}
.apps-service-box-3-114 {
    padding-right: 26px;
}

.apps-service-box-3-114 .apps-service-box-icon-3-114 {
    float: left;
    margin-right: 20px;
}

.apps-service-box-content-3-114 {
    overflow: hidden;
}

.apps-service-box-content-3-114 .title {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 10px;
}

.apps-service-box-content-3-114 .title a {
    color: #003959;
}

.apps-service-box-content-3-114 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #1F516D;
}

.apps-service-box-3-114 {
    padding-right: 26px;
    padding-bottom: 50px;
}

.apps-service-box-3-114 .apps-service-box-icon-3-114 {
    float: left;
    margin-right: 20px;
}

.apps-service-box-content-3-114 {
    overflow: hidden;
}

.apps-service-box-content-3-114 .title {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 10px;
}

.apps-service-box-content-3-114 .title a {
    color: #003959;
}

.apps-service-box-content-3-114 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #1F516D;
};
.apps-service-box-3-114 .apps-service-box-icon-3-114 {
    float: left;
    margin-right: 20px;
}

.apps-service-box-content-3-114 {
    overflow: hidden;
}

.apps-service-box-content-3-114 .title {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 10px;
}

.apps-service-box-content-3-114 .title a {
    color: #003959;
}

.apps-service-box-content-3-114 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #1F516D;
    margin-bottom: 0px;
}

.apps-service-grid-3-114 {
    display: flex;
    flex-wrap: wrap;
}

.apps-service-grid-3-114 > *:nth-child(1) {
    flex: 0 0 360px;
}

.apps-service-grid-3-114 > *:nth-child(2) {
    flex: 0 0 390px;
}

.apps-service-grid-3-114 > *:nth-child(3) {
    flex: 0 0 358px;
}
.apps-service-grid-3-114 > *:nth-child(4) {
    flex: 0 0 360px;
}

.apps-service-grid-3-114 > *:nth-child(5) {
    flex: 0 0 390px;
}

.apps-service-grid-3-114 > *:nth-child(6) {
    flex: 0 0 358px;
}

.apps-service-grid-3-114 > *:nth-child(7) {
    flex: 0 0 360px;
}

.apps-service-grid-3-114 > *:nth-child(8) {
    flex: 0 0 390px;
}

.apps-service-grid-3-114 > *:nth-child(9) {
    flex: 0 0 358px;
}
.apps-service-box-3-114 {
    border: 1px solid #D2ECFA;
    height: 100%;
}

.apps-service-grid-3-114 > *:nth-child(1) .apps-service-box-3-114 {
    border-left: 0;
    border-top: 0;
}
.apps-service-grid-3-114 > *:nth-child(2) .apps-service-box-3-114 {
    border-top: 0;
    padding-left: 15px;
}
.apps-service-grid-3-114 > *:nth-child(3) .apps-service-box-3-114 {
    border-top: 0;
    padding-left: 15px;
}
.apps-service-grid-3-114 > *:nth-child(4) .apps-service-box-3-114 {
    border-left: 0;
    padding-top: 30px;
}

.apps-service-grid-3-114 > *:nth-child(5) .apps-service-box-3-114 {
    border-left: 0;
    padding-top: 30px;
    padding-left: 15px;
}

.apps-service-grid-3-114 > *:nth-child(6) .apps-service-box-3-114 {
    padding-left: 15px;
    padding-top: 30px;
    border-right: 0;
}

.apps-service-grid-3-114 > *:nth-child(7) .apps-service-box-3-114 {
    padding-top: 30px;
    border-bottom: 0;
    border-left: 0;
    height: auto;
    padding-bottom: 15px;
}

.apps-service-grid-3-114 > *:nth-child(8) .apps-service-box-3-114 {
    padding-left: 15px;
    padding-top: 30px;
    height: auto;
    padding-bottom: 15px;
    border-bottom: 0;
}

.apps-service-grid-3-114 > *:nth-child(9) .apps-service-box-3-114 {
    padding-left: 15px;
    padding-top: 30px;
    border-right: 0;
    height: auto;
    padding-bottom: 15px;
    border-bottom: 0;
}

.apps-service-grid-3-114 > *:nth-child(3) .apps-service-box-3-114 {
    border-right: 0;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .apps-service-grid-3-114 > * {
        flex: 0 0 33.33% !important;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .apps-service-grid-3-114 > * {
        flex: 0 0 50% !important;
    }
    .apps-service-grid-3-114 > *:nth-child(3) .apps-service-box-3-114 {
        border-left: 0;
        padding-top: 30px;
        padding-left: 0;
        border-right: 1px solid #D2ECFA;
    }
    
    .apps-service-grid-3-114 > *:nth-child(2) .apps-service-box-3-114 {
        border-left: 0;
        border-bottom: 0;
        border-right: 0;
    }
    
    .apps-service-grid-3-114 > *:nth-child(4) .apps-service-box-3-114 {
        border-right: 0;
        padding-left: 15px;
    }
    
    .apps-service-grid-3-114 > *:nth-child(5) .apps-service-box-3-114 {
        padding-left: 0;
        border-right: 0;
        border-top: 0;
    }
    
    .apps-service-grid-3-114 > *:nth-child(6) .apps-service-box-3-114 {border-top: 0;}
    
    .apps-service-grid-3-114 > *:nth-child(8) .apps-service-box-3-114 {
        border-right: 0;
        border-top: 0;
        border-bottom: 1px solid #D2ECFA;
    }
    
    .apps-service-grid-3-114 > *:nth-child(9) .apps-service-box-3-114 {
        border-bottom: 0;
        border-right: 1px solid #D2ECFA;
        border-left: 0;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .apps-service-grid-3-114 > * {
        flex: 0 0 50% !important;
    }
    .apps-service-grid-3-114 > *:nth-child(3) .apps-service-box-3-114 {
        border-left: 0;
        padding-top: 30px;
        padding-left: 0;
        border-right: 1px solid #D2ECFA;
    }
    
    .apps-service-grid-3-114 > *:nth-child(2) .apps-service-box-3-114 {
        border-left: 0;
        border-bottom: 0;
        border-right: 0;
    }
    
    .apps-service-grid-3-114 > *:nth-child(4) .apps-service-box-3-114 {
        border-right: 0;
        padding-left: 15px;
    }
    
    .apps-service-grid-3-114 > *:nth-child(5) .apps-service-box-3-114 {
        padding-left: 0;
        border-right: 0;
        border-top: 0;
    }
    
    .apps-service-grid-3-114 > *:nth-child(6) .apps-service-box-3-114 {border-top: 0;}
    
    .apps-service-grid-3-114 > *:nth-child(8) .apps-service-box-3-114 {
        border-right: 0;
        border-top: 0;
        border-bottom: 1px solid #D2ECFA;
    }
    
    .apps-service-grid-3-114 > *:nth-child(9) .apps-service-box-3-114 {
        border-bottom: 0;
        border-right: 1px solid #D2ECFA;
        border-left: 0;
    }
    .apps-service-box-3-114 {
        padding-right: 10px;
    }
}
@media (max-width: 575px) {
    .apps-service-grid-3-114 > * {
        flex: 0 0 100% !important;
        margin-bottom: 30px;
    }
    .apps-service-grid-3-114 > * .apps-service-box-3-114 {
        border: 1px solid #D2ECFA !important;
        padding: 30px;
    }
}
li.apps-about-layout-6-list-114 img {
    max-width: 46px;
}