


/*  work progressbar */
.wadi-work-process-item .process-item-title{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    color: #003959;
    margin: 15px 0;
}
.wadi-work-process-item .process-item-pra{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #1F516D;
}
/* / work progressbar */


