.strategy-wrapper {
  background-color: #003959;
  border: 1px solid #004770;
  margin-top: -90px;
}

.our-strategy {
  z-index: 100;
}

.banner-wrapper {
  position: relative;
  z-index: 10;
}

.banner-img img {
  max-width: 850px !important;
  z-index: 1;
}


@media (max-width: 1200px) {
  .banner-wrapper {
    min-height: 500px;
  }

  .banner-img {
    /* position: static !important; */
    text-align: end !important;
  }

  .banner-img img {
    max-width: 700px !important;
  }
}

@media (max-width: 767px) {
  .banner-img img {
    max-width: 100% !important;
  }
}

.wa-btn .elementor-button-link {
  position: relative;
}

.wa-btn .elementor-button-link::after {
  position: absolute;
  content: "";
  right: 30px;
  background-image: url('data:image/svg+xml,<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 10L4.115 9.115L7.60417 5.625H0V4.375H7.60417L4.115 0.885L5 0L10 5L5 10Z" fill="%23003959"/></svg>');
  z-index: 999;
  width: 10px;
  height: 10px;
  top: 41%;
  transition: all 0.3s ease-in-out;
}

.wa-btn .elementor-button-link:hover::after {
  right: 25px;
}


.brand-carousel-area .top-slide-wrap .slide-item {
  background-color: transparent;
  border: 1px solid #0F5881;
  border-radius: 24px;
}



/* instruction-wrap - start */
.instruction-wrap .instruction-item .wrapper-img {
  height: 40px;
}

@media (min-width: 992px) {
  .instruction-wrap .instruction-item:first-child::after {
    opacity: 1 !important;
  }
}

.instruction-wrap .instruction-item::after {
  content: "";
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.03) 100%);
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  right: 0;
  opacity: 1;
}

@media (min-width: 992px) {

  .instruction-wrap .instruction-item:nth-child(3n + 1)::after,
  .instruction-wrap .instruction-item:nth-child(4n + 1)::after {
    opacity: 0;
  }
}

@media (min-width: 576px) {

  .instruction-wrap .instruction-item::after::after,
  .instruction-wrap .instruction-item:nth-child(3n + 1)::after {
    opacity: 0;
  }
}

.instruction-wrap .instruction-item:first-child::after {
  opacity: 1;
}

.instruction-wrap .instruction-item::before {
  content: "";
  width: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.03) 100%);
}

@media (min-width: 992px) {

  .instruction-wrap .instruction-item:nth-child(5)::before,
  .instruction-wrap .instruction-item:nth-child(6)::before {
    display: block;
  }
}

@media (min-width: 576px) {

  .instruction-wrap .instruction-item:nth-child(2)::before,
  .instruction-wrap .instruction-item:nth-child(3)::before,
  .instruction-wrap .instruction-item:nth-child(4)::before {
    display: block;
  }
}

.instruction-wrap .instruction-img {
  width: 80px;
  height: 80px;
  background-color: #00c7c7;
  border-radius: 12px;
  margin: auto;
}

/* instruction-wrap - End */


/* client-testimonials-card */
.client-testimonials-slide .client-item-wraps {
  padding: 2px;
  background-image: linear-gradient(#00c7c7, #50ff81);
}

.client-testimonials-slide .client-item-wraps .client-qoute-icon {
  top: 25px;
  left: -30px;
  z-index: 11;
}

.client-testimonials-slide .client-item-wraps .client-testimonials-card {
  padding: 30px;
  min-height: 692px;
}

.client-testimonials-slide .swiper-pagination11 {
  margin-top: 30px;
  text-align: center;
}

@media (min-width: 991px) {
  .client-testimonials-slide .swiper-pagination11 {
    display: none;
  }
}

.client-testimonials-slide .swiper-pagination11 .swiper-pagination-bullet-active {
  background-color: var(--primary);
}

.client-testimonials-slide .swiper-container {
  padding: 0 15px;
}


.job_key {
  list-style: none;

  li {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      background-color: #1F516D;
      top: 0;
      left: 0;
    }
  }
}

.job_key li {
  position: relative;
}

.job_key li::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #1F516D;
  top: 14px;
  left: -15px;
}


.job_summary {
  box-shadow: 0px 10px 30px 0px rgba(0, 57, 89, 0.10);
  position: sticky;
  top: 100px;
  left: 0;
}




.application-form .form-field {
  border-radius: 50px;
  padding: 10px 25px;
}

.application-form .phone-wrap {
  border-radius: 50px;
}

.phone-wrap select {
  max-width: 120px;
  width: 100%;
  padding-left: 25px !important;
}

.phone-wrap .form-control {
  padding-top: 10px;
  padding-bottom: 10px;
}

.file-uploads .attach-file {
  border: 1px dashed rgba(76, 77, 84, .5);
}

.file-uploads .attach-text {
  color: #8d8f98;
}

.application-form .form-field:focus,
.application-form .phone-wrap .form-control,
.application-form .phone-wrap select {
  box-shadow: none;
}

.application-form .form-field::placeholder,
.application-form .form-control::placeholder {
  font-weight: 600;
  color: #003959 !important;
}


.select2-container--default .select2-selection--single {
  border: 1px solid #ced4da;
  border-radius: 50px !important;
}

.select2-container .select2-selection--single {
  height: 46px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #1F516D;
  line-height: 42px;
  padding: 0 25px;
  font-size: 14px;
}

.select2-dropdown {
  border: 1px solid #ced4da;
  padding: 10px;
  border-radius: 20px !important;
  top: 32px
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #ced4da;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 45px;
  right: 10px;
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="fi-rs-angle-down" clip-path="url(%23clip0_4003_22382)"><g id="01 align center"><path id="Vector" d="M22.5859 5.92896L12.7069 15.808C12.5167 15.9904 12.2634 16.0923 11.9999 16.0923C11.7363 16.0923 11.483 15.9904 11.2929 15.808L1.41986 5.93396L0.00585938 7.34796L9.87886 17.222C10.4507 17.767 11.2104 18.071 12.0004 18.071C12.7903 18.071 13.55 17.767 14.1219 17.222L23.9999 7.34296L22.5859 5.92896Z" fill="%23374957"/></g></g><defs><clipPath id="clip0_4003_22382"><rect width="24" height="24" fill="white"/></clipPath></defs></svg>');
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}


@media (min-width: 991px) {

  .apps-service-grid-item-114:nth-child(4) .apps-service-box-3-114,
  .apps-service-grid-item-114:nth-child(5) .apps-service-box-3-114,
  .apps-service-grid-item-114:nth-child(6) .apps-service-box-3-114 {
    border-bottom: 0;
  }
}

.statement {
  background: #003959;
}

.statement-info {
  background-image: linear-gradient(#00C7C7, #50FF81);
  padding: 2px;
}

.inner-statement {
  background-color: #003959;
}

.statement-bottom .owner-img {
  width: 40px;
  height: 40px;
}

.quote-shape .quote-left {
  top: 200px;
  left: -31px;
}

.quote-shape .quote-right {
  bottom: 200px;
  right: -31px;
}

.statement .map {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.statement-info p {
  color: #A8E0FF !important;
}

/* footer style */
.footer {
  padding-top: 300px;
  background-image: url(../img/footer-bg-shape.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.footer .footer-widget-area {
  padding: 50px 0 20px 0;
  border-top: 1px solid #2e78a2;
  border-bottom: 1px solid #2e78a2;
}

@media (min-width: 991px) {
  .footer .footer-widget-area .footer-widget.footer-menu ul.nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.footer .footer-widget-area .footer-widget ul.nav li a {
  display: flex;
  gap: 3px;
  color: var(--dark5);
  text-transform: uppercase;
}

.footer .footer-widget-area .footer-widget ul.nav li a svg {
  margin-top: 3px;
}

.footer .footer-widget-area .footer-widget ul.nav li a:hover,
.footer .footer-widget-area .footer-widget ul.nav li a:focus {
  color: #fff;
}

/* footer style - End */



.Sidebar .sidebar-widget {
  box-shadow: 0px 10px 30px 0px rgba(0, 57, 89, 0.10);
  padding: 5px;
}

.Sidebar .sidebar-widget input {
  border-color: transparent;
}


.Sidebar .sidebar-widget {
  box-shadow: 0px 10px 30px 0px rgba(0, 57, 89, 0.10);
  padding: 5px;
}

.Sidebar .sidebar-widget input {
  border-color: transparent;
  color: #335E6B
}

input#wp-block-search__input-1 {}

form#mc4wp-form-1 {}

form#mc4wp-form-1 label {
  display: none;
}

form#mc4wp-form-1 input.form-control.subscribe {
  border: 1px solid #AECBD3;
  color: #AECBD3;
}

.Sidebar .widget-title {
  color: #003959;
  font-family: Cairo;
  font-size: 24px;
}

.recent-post-list .post-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 3.6em;
  color: #1F516D;
  font-weight: 500;
}

.recent-post-list .post-time {
  font-weight: 700 !important;
  color: #1F516D !important;
  text-transform: uppercase;
}

#cb-widget-post-list-2 a {
  font-weight: 700 !important;
  color: #316785 !important;
}

.apps-sidebar-category ul li a:hover {
  color: #00C7C7;
}