.strategy-wrapper {
  background-color: #003959;
  border: 1px solid #004770;
  margin-top: -90px;
}

.our-strategy {
  z-index: 100;
}

.banner-wrapper {
  position: relative;
  z-index: 10;
}

.banner-img img {
  max-width: 850px !important;
  z-index: 1;
}


@media (max-width: 1200px) {
  .banner-wrapper {
    min-height: 500px;
  }

  .banner-img {
    position: static !important;
    text-align: end !important;
  }

  .banner-img img {
    max-width: 700px !important;
  }
}

@media (max-width: 767px) {
  .banner-img img {
    max-width: 100% !important;
  }
}

.wa-btn .elementor-button-link {
  position: relative;
}

.wa-btn .elementor-button-link::after {
  position: absolute;
  content: "";
  right: 30px;
  background-image: url('data:image/svg+xml,<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 10L4.115 9.115L7.60417 5.625H0V4.375H7.60417L4.115 0.885L5 0L10 5L5 10Z" fill="%23003959"/></svg>');
  z-index: 999;
  width: 10px;
  height: 10px;
  top: 41%;
  transition: all 0.3s ease-in-out;
}

.wa-btn .elementor-button-link:hover::after {
  right: 25px;
}


.brand-carousel-area .top-slide-wrap .slide-item {
  background-color: transparent;
  border: 1px solid #0F5881;
  border-radius: 24px;
}