.strategy-wrapper {
    background-color: #003959;
    border: 1px solid #004770;
    margin-top: -90px;
}

.our-strategy {
    z-index: 100;
}

.banner-wrapper {
    position: relative;
    z-index: 10;
}

.banner-img img {
    max-width: 850px !important;
    z-index: 1;
}

@media (max-width: 1200px) {
    .banner-wrapper {
        min-height: 500px;
    }

    .banner-img {
        text-align: end !important;
    }

    .banner-img img {
        max-width: 700px !important;
    }
}

@media (max-width: 767px) {
    .banner-img img {
        max-width: 100% !important;
    }
}

.wa-btn .elementor-button-link {
    position: relative;
}

.wa-btn .elementor-button-link::after {
    position: absolute;
    content: "";
    right: 30px;
    background-image: url('data:image/svg+xml,<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 10L4.115 9.115L7.60417 5.625H0V4.375H7.60417L4.115 0.885L5 0L10 5L5 10Z" fill="%23003959"/></svg>');
    z-index: 999;
    width: 10px;
    height: 10px;
    top: 41%;
    transition: all 0.3s ease-in-out;
}

.wa-btn .elementor-button-link:hover::after {
    right: 25px;
}

.brand-carousel-area .top-slide-wrap .slide-item {
    background-color: transparent;
    border: 1px solid #0F5881;
    border-radius: 24px;
}

.instruction-wrap .instruction-item .wrapper-img {
    height: 40px;
}

@media (min-width: 992px) {
    .instruction-wrap .instruction-item:first-child::after {
        opacity: 1 !important;
    }
}

.instruction-wrap .instruction-item::after {
    content: "";
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.03) 100%);
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    right: 0;
    opacity: .3;
}

@media (min-width: 992px) {

    .instruction-wrap .instruction-item:nth-child(3n + 1)::after,
    .instruction-wrap .instruction-item:nth-child(4n + 1)::after {
        opacity: 0;
    }
}

@media (min-width: 576px) {

    .instruction-wrap .instruction-item::after::after,
    .instruction-wrap .instruction-item:nth-child(3n + 1)::after {
        opacity: 0;
    }
}

.instruction-wrap .instruction-item:first-child::after {
    opacity: 1;
}

.instruction-wrap .instruction-item::before {
    content: "";
    width: 1px;
    position: absolute;
    top: 24px;
    opacity: .3;
    bottom: 29px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.03) 100%);
}

@media (min-width: 992px) {

    .instruction-wrap .instruction-item:nth-child(5)::before,
    .instruction-wrap .instruction-item:nth-child(6)::before {
        display: block;
    }
}

@media (min-width: 576px) {

    .instruction-wrap .instruction-item:nth-child(2)::before,
    .instruction-wrap .instruction-item:nth-child(3)::before,
    .instruction-wrap .instruction-item:nth-child(4)::before {
        display: block;
    }
}

.instruction-wrap .instruction-img {
    width: 80px;
    height: 80px;
    background-color: #00c7c7;
    border-radius: 12px;
    margin: auto;
}

.client-testimonials-slide .client-item-wraps {
    padding: 2px;
    background-image: linear-gradient(#00c7c7, #50ff81);
}

.client-testimonials-slide .client-item-wraps .client-qoute-icon {
    top: 25px;
    left: -30px;
    z-index: 11;
}

.client-testimonials-slide .client-item-wraps .client-testimonials-card {
    padding: 30px;
    min-height: 692px;
}

.client-testimonials-slide .swiper-pagination11 {
    margin-top: 30px;
    text-align: center;
}

@media (min-width: 991px) {
    .client-testimonials-slide .swiper-pagination11 {
        display: none;
    }
}

.client-testimonials-slide .swiper-pagination11 .swiper-pagination-bullet-active {
    background-color: var(--primary);
}

.job_key {
    list-style: none;
}

.job_key li {
    position: relative;
}

.job_key li:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #1f516d;
    top: 0;
    left: 0;
}

.job_key li {
    position: relative;
}

.job_key li::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #1F516D;
    top: 14px;
    left: -15px;
}

.job_summary {
    box-shadow: 0px 10px 30px 0px rgba(0, 57, 89, 0.10);
    position: sticky;
    top: 100px;
    left: 0;
}

.application-form .form-field,
.application-form .form-control {
    border-radius: 4px;
    border: 1px solid #AECBD3;
    height: 44px;
}


.phone-wrap select {
    max-width: 120px;
    width: 100%;
    padding-left: 25px !important;
}

.phone-wrap .form-control {
    padding-top: 10px;
    padding-bottom: 10px;
}

.file-uploads .attach-file {
    border: 1px dashed rgba(76, 77, 84, .5);
}

.file-uploads .attach-text {
    color: #8d8f98;
}

.application-form .form-field:focus,
.application-form .phone-wrap .form-control,
.application-form .phone-wrap select {
    box-shadow: none;
}

.application-form .form-field::placeholder,
.application-form .form-control::placeholder {
    color: #6A96A4 !important;
    font-family: Cairo;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 1.62em !important;
}

.select2-container--default .select2-selection--single,
.application-form .phone-wrap {
    border-radius: 4px;
    border: 1px solid #AECBD3;
}

.select2-container .select2-selection--single {
    height: 44px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #1F516D;
    line-height: 42px;
    padding: 0 15px;
    font-size: 14px;
    padding-right: 32px !important;
}

.select2-dropdown {
    border: 1px solid #ced4da;
    padding: 10px;
    border-radius: 20px !important;
    top: 32px
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #ced4da;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 45px;
    right: 20px;
    background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 12L6 8H14L10 12Z" fill="%236A96A4"/></svg>');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
}

.job-application-form .form-label {
    color: #003C4F;
    font-family: Cairo;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 5px;
}
.job-application-form .form-select {
    color: #003C4F;
    font-family: Cairo;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 5px;
}

@media (min-width: 991px) {

    .apps-service-grid-item-114:nth-child(4) .apps-service-box-3-114,
    .apps-service-grid-item-114:nth-child(5) .apps-service-box-3-114,
    .apps-service-grid-item-114:nth-child(6) .apps-service-box-3-114 {
        border-bottom: 0;
    }
}

.statement {
    background: #003959;
}

.statement-info {
    background-image: linear-gradient(#00C7C7, #50FF81);
    padding: 2px;
}

.inner-statement {
    background-color: #003959;
}

.statement-bottom .owner-img {
    width: 40px;
    height: 40px;
}

.quote-shape .quote-left {
    top: 200px;
    left: -31px;
}

.quote-shape .quote-right {
    bottom: 200px;
    right: -31px;
}

.statement .map {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.statement-info p {
    color: #A8E0FF !important;
}

.footer {
    padding-top: 300px;
    background-image: url(../img/footer-bg-shape.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.footer .footer-widget-area {
    padding: 0 0 30px 0;
    border-bottom: 1px solid #2e78a2;
}

@media (min-width: 991px) {
    .footer .footer-widget-area .footer-widget.footer-menu ul.nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.footer .footer-widget-area .footer-widget ul.nav li a {
    display: flex;
    gap: 3px;
    color: var(--dark5);
    text-transform: uppercase;
}

.footer .footer-widget-area .footer-widget ul.nav li a svg {
    margin-top: 3px;
}

.footer .footer-widget-area .footer-widget ul.nav li a:hover,
.footer .footer-widget-area .footer-widget ul.nav li a:focus {
    color: #fff;
}